<template>
  <v-dialog
    v-model="open"
    persistent
    @keydown.esc="closeEditModal"
    max-width="500px"
  >
    <v-card>
        <v-card-title class="primary white--text">
            <span class="headline">
                {{ isAdd ? 'THÊM THỂ LOẠI' :'SỬA THỂ LOẠI'}}
            </span>
        </v-card-title>
            <v-form ref="categoryForm">
                <v-card-text>
                     <fieldset class="text-fiel px-sm-3">
                    <legend  class="text-legend" > Thông tin thể loại </legend>
                    <v-row class="mx-sm-1">
                    <v-col cols="12">
                        <v-text-field prepend-icon="mdi-pencil"
                        label="Tên Thể Loại*"
                        data-vv-as="Tên Thể Loại*"
                        v-model="category.name_category"
                        data-vv-name="base_item_name"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-textarea
                        label="Ghi Chú"
                        rows="3" class="mt-sm-2"   data-vv-as="Ghi Chú" 
                        prepend-icon="mdi-comment" v-validate="'required'"
                        v-model="category.description"
                        outlined=""
                        ></v-textarea>
                    </v-col>
                    </v-row> 
                     </fieldset>
                </v-card-text>
            </v-form>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" class="white--text" @click="closeEditModal">Hủy Bỏ</v-btn>
                <v-btn color="blue darken-1" class="white--text mr-sm-4" @click="save">Lưu Lại</v-btn>
            </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      isAdd: false,
      isActive:true,
    }
  },
  computed: {
    open() {
      return this.$store.getters['admin/post/statusEditModal']
    },
    category() {
      const currentCategory = this.$store.getters['admin/post/editCategory']
      if (this.$isNotEmptyObject(currentCategory)) {
        this.isAdd = false
        // edit
        return {
          id: currentCategory.id,
          name_category: currentCategory.name_category,
          description: currentCategory.description,
        }
      } else {
        this.isAdd = true
        return {
         name_category:null,
         description:null,
        }
      }
    }
  },
  methods: {
    closeEditModal() {
        this.$refs.categoryForm.reset()
        this.$store.commit('admin/post/SET_STATUS_EDIT_MODAL', false)
    },
    save() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          const action = this.isAdd ? 'admin/post/add' : 'admin/post/update'
          const response = await this.$store.dispatch(action, 
          {
            type:"post-category",
            form:this.category
          })
          if (response.code === 200) {
            this.closeEditModal();
            const mess=this.isAdd==true ? 'Thêm Thành Công':'Sửa Thành Công'
            this.$showSuccess(mess)
          } else {
            this.$showError(response.message)
          }
        } else {
            this.$showError(this.errors.all()[0]);
        }
      })
    }
  }
}
</script>
<style>
.text-legend{
    margin-left:20px !important;
    font-style:italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14pt;
}
.text-fiel{
    padding:10px !important;
    border:1px solid #000;
    border-radius: 5px;
}
</style>
