<template>
  <v-dialog
    v-model="open"
    persistent
    @keydown.esc="closeEditModal"
    max-width="80vw"
    scrollable=""
  >
    <v-card>
        <v-card-title class="primary white--text">
            <span class="headline">
                {{ isAdd ? 'THÊM BÀI VIẾT' :'SỬA BÀI VIẾT'}}
            </span>
        </v-card-title>
            <v-form ref="postForm">
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="4" md="4" xl="4" class="ma-0 pt-0">
                            <fieldset class="text-fiel px-sm-2">
                            <legend  class="text-legend" > Thông tin bài viết </legend>
                                <v-textarea class="mt-1 mb-sm-3" 
                                    solo rows="4"  prepend-icon="mdi-pencil"
                                    placeholder="Tiêu Đề" v-model="post.title" v-validate="'required'" data-vv-as="Tiêu Đề"
                                    data-vv-name="title"
                                    label="Tiêu Đề">
                                </v-textarea>
                                <v-select
                                    prepend-icon="mdi-format-list-bulleted-type" class="mb-sm-1"
                                    v-model="post.category_id"
                                    :items="categories"
                                    item-text="name_category"
                                    item-value="id"  dense=""
                                    v-validate="'required'"
                                    data-vv-as="Thể Loại" placeholder="Mời chọn thể loại cho bài viết"
                                    label="Thể Loại" outlined="" 
                                    data-vv-name="category" small-chips=""
                                    :reduce="option=>option.id"
                                    persistent-hint
                                ></v-select>
                                <v-file-input show-size counter    class="mb-sm-2"
                                    v-model="image"
                                    data-vv-name="image"
                                    accept="image/png, image/jpeg, image/bmp" small-chips="" dense=""
                                    data-vv-as="Hình ảnh" label="Hình Ảnh Minh Họa" outlined=""
                                    :placeholder="post.avatar!=null? post.avatar : 'Hình ảnh'" 
                                    v-validate="isAdd? {required:true,image:true, size:5000}:{image:true,size:5000, }"
                                    prepend-icon="mdi-camera">
                                </v-file-input>
                                <v-select class="mb-sm-1"
                                    prepend-icon="mdi-format-list-bulleted-type"
                                    v-model="post.status"
                                    :items="statusPost"
                                    item-text="name" dense=""
                                    item-value="value"
                                    v-validate="'required'" placeholder="Mời thay đổi trạng thái cho bài viết"
                                    data-vv-as="Trạng Thái" 
                                    label="Trạng Thái" outlined="" 
                                    data-vv-name="status" small-chips=""
                                    :reduce="option=>option.value"
                                    persistent-hint
                                ></v-select>
                            </fieldset>
                        </v-col>
                        <v-col cols="12" sm="8" md="8" xl="8" class="ma-0 pt-0">
                            <fieldset class="text-fiel px-sm-2">
                            <legend  class="text-legend" > Nội dung bài viết </legend>
                                <v-textarea class="mt-1" solo rows="2" 
                                v-model="post.description" 
                                v-validate="'required'" 
                                placeholder="Tóm Tắt Nội Dung..." 
                                data-vv-as="Tóm Tắt" data-vv-name="description"
                                label="Tóm Tắt">
                                </v-textarea>
                                <vue-editor
                                    id="content" scroll style="max-height: 350px; overflow-y: scroll"
                                    useCustomImageHandler
                                    v-model="post.content" placeholder="Nội dung bài viết..."
                                    name="content" height="60vh" data-vv-as="Nội Dung" data-vv-name="content"
                                    @image-added="handleImageAdded"
                                    v-validate="'required'"
                                ></vue-editor>
                            </fieldset>
                        </v-col>
                    </v-row> 
                     
                </v-card-text>
            </v-form>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" class="white--text" @click="closeEditModal">Hủy Bỏ</v-btn>
                <v-btn color="blue darken-1" class="white--text mr-sm-4" @click="save">Lưu Lại</v-btn>
            </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { VueEditor } from 'vue2-editor'
export default {
components:{
        VueEditor
    },
  data() {
    return {
      isAdd: false,
      isActive:true,
      image:null,
      content:null,
    }
  },
  created(){
      this.getAllCategory();
  },
  computed: {
    statusPost(){
          return [
              {name:'Đăng Bài', value:1},
              {name:'Gỡ Bài', value:0}
          ]  
      },
    open() {
      return this.$store.getters['admin/post/statusEditModal1']
    },
    post() {
      const currentPost = this.$store.getters['admin/post/editPost']
      if (this.$isNotEmptyObject(currentPost)) {
        this.isAdd = false
        this.image=null
        // edit
        return {
          id: currentPost.id,
          title: currentPost.title,
          avatar:currentPost.avatar,
          status:currentPost.status,
          description: currentPost.description,
          category_id:currentPost.category_id,
          content:currentPost.content
        }
      } else {
        this.isAdd = true
        return {
            title:null,
            description:null,
            avatar:null,
            status:1,
            category_id:null,
            content:'',
        }
      }
    },
    categories(){
        return this.$store.getters['admin/post/allCategory'];
    }
  },
  methods: {
    closeEditModal() {
        this.$refs.postForm.reset();
        this.post.content=null;
        this.$store.commit('admin/post/SET_STATUS_EDIT_MODAL1', false)
    },
    getAllCategory(){
        this.$store.dispatch('admin/post/loadAllItem',{type:'post-category'});
    },
    save() {
      this.$validator.validateAll().then(async result => {
        if (result) {
            if (this.image) {
                this.post.avatar = await this.$uploadImage(this.image);
             }
          const action = this.isAdd ? 'admin/post/add' : 'admin/post/update'
          const response = await this.$store.dispatch(action, 
          {
            type:"post",
            form:this.post
          })
          if (response.code === 200) {
            this.closeEditModal();
            const mess=this.isAdd==true ? 'Thêm Thành Công':'Sửa Thành Công'
            this.$showSuccess(mess)

            this.$store.commit('admin/post/SET_EDIT_POST', undefined)
            this.$refs.postForm.reset();
          } else {
            this.$showError(response.message)
          }
        } else {
            this.$showError(this.errors.all()[0]);
        }
      })
    },
     handleImageAdded: async function(
      file,
      Editor,
      cursorLocation,
      resetUploader
    ) {
      const imageUrl = await this.$uploadImageEditor(file)

      if (imageUrl) {
        Editor.insertEmbed(cursorLocation, 'image', imageUrl)
        resetUploader()
      }
    }
  }
}
</script>
<style>
.text-legend{
    margin-left:20px !important;
    font-style:italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14pt;
}
.text-fiel{
    padding:10px !important;
    border:1px solid #000;
    border-radius: 5px;
}
</style>
