<template>
  <v-footer :fixed="false" app>
    <span>&copy; T5 - 2020</span>
    <v-spacer></v-spacer>
    <h5 class="pull-right">{{timeNow}}</h5>
  </v-footer>
</template>
<script>
export default {
  data(){
      return {
        timeNow:null,
      }
    },
    created() {
      setInterval(this.getNow, 1000);
      // window.addEventListener('beforeunload', this.leaving)
    },
  methods:{
    getNow(){
      const today = new Date();
      const date =today.getDate()+'/'+(today.getMonth()+1)+"/"+today.getFullYear();
      const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = time +' '+date;
      this.timeNow=dateTime;
        }
  }
}
</script>