<template>
  <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"

      fixed app>
    <v-list class="mt-0 pt-0 font-weight-bold" >
      <div v-for="(item, i) in items" :key="i">
        <v-list-item class="py-1 border-style" v-if="item.subItem==null" :to="item.to" router exact>
        <v-list-item-action class="p-0">
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content class="p-0 m-0">
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
        <!-- <v-divider v-if="item.titleKey=='Dashboard'"></v-divider> -->

       <v-list-group v-else class="border-style py-1"
           color="dark"
        >
          <template v-slot:activator >
            <v-icon class="pr-3">{{item.icon}}</v-icon>
            <v-list-item-title class="pl-5">{{item.title}}</v-list-item-title>
          </template>
          <!-- <div > -->
            <v-list-item class="border-style" v-for="(sub, index) in item.subItem" :key="index"  :to="sub.to" router exact>
              <v-list-item-action style="margin-left:5vh;" class="mr-4 p-0">
                <v-icon >{{ sub.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content class="p-0 m-0">
                <v-list-item-title >{{sub.title}}</v-list-item-title>
              </v-list-item-content>
          </v-list-item>
          <!-- </div> -->
        </v-list-group>

      </div>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {
      roleId:null,
      permissionsAll:null,
    }
  },
  props: {
    drawer: {
      type: Boolean,
      required: true
    },
    miniVariant: {
      type: Boolean,
      required: true
    },
    clipped: {
      type: Boolean,
      required: true
    }
  },
  computed: {

    items() {
      let items = [
        {
          icon: 'mdi-apps',
          titleKey: 'Dashboard',
          title: 'Trang Chủ',
          is_active:false,
          subItem:null,
          to: '/admin/'
        },
        {
          icon: 'mdi-bookmark-plus',
          titleKey: 'CustomerManagement',
          title: "Quản Lý Hệ Tộc",
          is_active:false,
          subItem:null,
          to: '/admin/classes'
        },
        {
          icon: 'mdi-snowman',
          titleKey: 'qg',
           is_active:false,
          title: 'Quản Lý Tướng',
          subItem:null,
          to: '/admin/champions'
        },
         {
          icon: 'mdi-package',
          titleKey: 'qg',
           is_active:false,
          title: 'Trang Bị',
          subItem:[
             {
                icon: 'mdi-google-pages',
                titleKey: 'CustomerManagement',
                title: "Trang Bị Cơ Bản",
                is_active:false,
                subItem:null,
                to: '/admin/items/base-item'
              },
              {
                icon: 'mdi-google-pages',
                titleKey: 'qg',
                is_active:false,
                title: 'Trang Bị Lớn',
                subItem:null,
                to: '/admin/items/advanced-item'
              },
          ],
          to: '/ádsads'
        },

        {
          icon: 'mdi-asterisk',
          titleKey: 'PromotionManagement',
          title: 'Đội Hình Tốt',
          subItem:null,
          to: '/admin/teams/'
        },
        {
          icon: 'mdi-hamburger',
          titleKey: 'qg',
          title: 'Cẩm Nang',
           is_active:false,
          subItem:[
                    {
                      icon: 'mdi-account-convert',
                      titleKey: 'qg',
                      title: 'Thể Loại',
                      subItem:null,
                       is_active:false,
                      to: '/admin/posts/categories'
                    },
                     {
                      icon: 'mdi-book',
                      titleKey: 'qg',
                      title: 'Bài Viết',
                      subItem:null,
                       is_active:false,
                      to: '/admin/posts/'
                    },

                  ],
          to: 'dsadsadsa'
        },
        {
          icon: 'mdi-animation',
          titleKey: 'PromotionManagement',
          title: 'Thông Tin Chung',
          subItem:null,
          to: '/admin/utilities'
        },
         {
          icon: 'mdi-account-multiple',
          titleKey: 'PromotionManagement',
          title: 'Người Xem Đăng Ký',
          subItem:null,
          to: '/admin/users'
        },
      ]


      return items
    }
  },
  watch: {
    '$i18n.locale': 'updateTitle'
  },

  methods: {
    updateTitle() {
      this.items.map(item => {
        item.title = this.$t(item.titleKey)
      })
    }
  }
}
</script>
<style scoped>
  .border-style{
     border-bottom:1px solid rgb(247, 242, 242);
  }
</style>
