<template>
    <div>
         <v-row>
              <v-col cols="12" sm="3" md="3" lg="3" style="border-right:1px solid #fff">
                   <div class="new-post" style="background-color:#0d202b !important;" >
                    <span class="title"></span>
                    <v-divider class="my-1 mb-5" color="#fff"></v-divider>
                    <div class="box-version mx-1" v-for="i in version" :key="i.id">
                         <span class="ver-name">{{i.name}}: {{i.info_update}}</span>
                    </div>
                    <v-divider class="my-5 mx-2" color="white"></v-divider>
                     <v-text-field @keyup.enter="getTeams" v-model="search_text" label="Tìm Kiếm"  prepend-inner-icon="mdi-magnify" outlined dense hide-details placeholder="Mời bạn nhập ký tự tìm kiếm!"  dark="" class="my-2 mb-5 mx-3"></v-text-field>
                   </div>
              </v-col>
              <v-col cols="8" sm="9" md="9" lg="9" class="px-0 mx-0">
                   <div class="new-post mx-2" style="background-color:#0d202b !important;">
                    <span class="title"><v-icon color="white" class="mx-2 mb-1">mdi-book-open-page-variant</v-icon>Đội Hình Phổ Biến</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <v-expansion-panels class="mb-6 mt-4">
                         <v-expansion-panel style="background-color:#102531 !important; color:white; border:1px solid gray;" class="my-2"
                              v-for="(item,index) in listTeams"
                              :key="index"
                         >
                              <v-expansion-panel-header expand-icon="mdi-menu-down" class="pa-2 ma-0">
                                   <div class="justify-start d-flex flex-row">
                                        <div class="box-rated">
                                             <span :style="'background:'+getColor(item)">{{item.rated}}</span>
                                        </div>
                                        <div style="width:25% !important" class="box-name-team ml-2 font-weight-bold">
                                             <span class="text-capitalize">{{item.name}}</span>
                                        </div>
                                        <div class="d-flex flex-row justify-start box-teams">
                                             <div v-for="(champ,index) in item.champions" :key="index">
                                                   <v-tooltip top :tag="'div'" nudge-top="-5" color="#000"   class="p-0 tooltip" style="opacity:1.0 !important " open-on-hover allow-overflow >
                                                       <template v-slot:activator="{ on }">
                                                            <div class="box-champions-team"  v-on="on">
                                                                 <img class="img-box-team" :src="$getFileUrl(champ.avatar)" alt="" :style="'border:2px solid'+getPrice(champ)">
                                                                 <div class="start-box-team" v-if="champ.pivot.three_stars==1">★★★</div>
                                                                 <div class="items-box-team justify-center">
                                                                      <img v-if="champ.pivot.item1!=null" :src="$getFileUrl(getItemById(champ.pivot.item1))" class="" alt="">
                                                                      <img v-if="champ.pivot.item2!=null" :src="$getFileUrl(getItemById(champ.pivot.item2))" class="" alt="">
                                                                      <img v-if="champ.pivot.item3!=null" :src="$getFileUrl(getItemById(champ.pivot.item3))" class="" alt="">
                                                                 </div>
                                                            </div>
                                                       </template>
                                                       <div class="tooltip-champions">
                                                            <div class="d-flex flex-row justify-start">
                                                                 <div class="tool-image-name">
                                                                      <v-img  :src="$getFileUrl(champ.avatar)" class="mt-1 img-tool" :style="'border:2px solid'+getPrice(champ)"></v-img>
                                                                      <span class="font-weight-bold pt-1 mb-1">{{champ.name}}</span>
                                                                 </div>
                                                                 <div class="tool-class">
                                                                      <div v-for="cl in champ.classes" :key="cl.id" class="d-flex flex-row justify-start mt-1 ml-0 pl-0">
                                                                           <img :src="$getFileUrl(cl.avatar)" style="width:25px;height:25px; border:1px solid gray; border-radius:50%">
                                                                           <span class="font-weight-bold mt-sm-1 ml-1">{{cl.name}}</span>
                                                                      </div>
                                                                 </div>
                                                                 <div class="tool-price">
                                                                      <span>{{champ.price}} $</span>
                                                                 </div>

                                                            </div>
                                                            <div class="d-flex flex-row justify-space-around tool-items">
                                                                 <span class="font-weight-bold">Trang Bị: </span>
                                                                 <img  v-for="(aditem,index) in champ.advanced_items" :key="index" :src="$getFileUrl(aditem.avatar)">
                                                            </div>
                                                            <div class="white--text">
                                                                 <div v-if="champ.info_update !=null">
                                                                      <div class="ml-3 font-weight-bold primary--text">
                                                                           {{$checkStatus(champ.status)}}:
                                                                      </div>
                                                                      <span  v-for="(i,index) in champ.info_update.split('.')" :key="index" class="text-update">
                                                                           <li>{{i}}</li>
                                                                      </span>
                                                                 </div>
                                                            </div>
                                                       </div>

                                                   </v-tooltip>
                                             </div>

                                        </div>
                                   </div>

                                   <template v-slot:actions >
                                        <v-icon color="white">$expand</v-icon>
                                   </template>
                              </v-expansion-panel-header>
                              <v-expansion-panel-content class="pa-0 ma-0">
                                   <v-divider color='rgb(134, 127, 127)' class="mb-2"></v-divider>
                                   <div class="d-flex flex-row justify-start">
                                        <div  class="box-expan border-right">
                                             <div class="mb-4">
                                                  <span class="font-weight-light border-bottom "><v-icon small color="white">mdi-hexagon-multiple</v-icon>Hệ tộc cấu thành</span>
                                                  <div class="d-flex flex-row justify-start box-class-champion mt-2">
                                                       <div v-for="i in getItems(item).classes" :key="i.id" class="box-item-class">
                                                            <v-tooltip top :tag="'div'" nudge-top="-5" color="#000"   class="p-0 tooltip" style="opacity:1.0 !important " open-on-hover allow-overflow >
                                                                 <template v-slot:activator="{ on }">
                                                                      <img v-on="on" :src="$getFileUrl(i.avatar)" alt=""> <span>{{i.count}}</span>
                                                                 </template>
                                                                 <div class="tooltip-champions">
                                                                      <div class="d-flex flex-row justify-start" style="border-bottom:1px solid #fff">
                                                                           <img :src="$getFileUrl(i.avatar)" alt=""  class="img-box-35">
                                                                           <v-divider class="white mx-3" vertical></v-divider>
                                                                           <div class="font-weight-bold font-14">{{i.name}}</div>
                                                                      </div>
                                                                      <div class="mt-1">
                                                                           <span>{{i.skill}}</span>
                                                                           <div v-for="comb in i.combinates" :key="comb.id" class="mt-2">
                                                                                <v-chip small class="px-2 font-weight-bold mr-1">{{comb.combination}}</v-chip> <span>{{comb.content}}</span>
                                                                           </div>
                                                                      </div>
                                                                 </div>
                                                            </v-tooltip>
                                                       </div>

                                                  </div>
                                                  <div class="mt-1 mb-2">
                                                       <span class="font-weight-light border-bottom "><v-icon small color="white">mdi-hexagon-multiple</v-icon>Trang bị ưu tiên</span>
                                                  </div>
                                                  <div class="d-flex flex-row justify-start mb-2" v-if="getItems(item).adItems.length>0">
                                                       <div v-for="(base_item,index) in getItems(item).adItems" :key="index">
                                                            <v-tooltip top :tag="'div'" nudge-top="-5" color="#000"   class="p-0 tooltip" style="opacity:1.0 !important " open-on-hover allow-overflow >
                                                                 <template v-slot:activator="{ on }">
                                                                      <div v-on="on" class="item-top" v-if="index<5">
                                                                           <img :src="$getFileUrl(base_item.info.avatar)" alt="">
                                                                           <span>{{base_item.count}}</span>
                                                                      </div>
                                                                 </template>
                                                                 <div class="tooltip-champions" style="">
                                                                      <div class="d-flex flex-row justify-start" style="border-bottom:1px solid #fff;padding:1px !important;">
                                                                           <img :src="$getFileUrl(base_item.info.avatar)" alt=""  class="img-box-35" style="margin:0 !important">
                                                                           <v-divider class="white mx-3" vertical></v-divider>
                                                                           <div class="font-weight-bold font-13">{{base_item.info.name}}</div>
                                                                      </div>
                                                                      <div class="mt-1">
                                                                           <span> + {{base_item.info.number_power}} {{checkUseTypes(base_item.info.uses_type)}}</span>
                                                                           <div>Tạo thành:</div>
                                                                           <div class="d-flex flex-row justify-start">
                                                                               <img :src="$getFileUrl(ad_item.avatar)" alt="" v-for="(ad_item,index) in getAdItemById(base_item)" :key="index" class="mx-1 img-mini">
                                                                           </div>
                                                                      </div>
                                                                 </div>
                                                            </v-tooltip>
                                                       </div>

                                                  </div>
                                                  <span class="font-weight-light border-bottom"><v-icon small color="white">mdi-hexagon-multiple</v-icon> Yêu cầu</span>
                                                  <div class="mt-1">
                                                       <span>{{item.description}}</span>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="box-expan">
                                             <div class="mb-4">
                                                  <span class="font-weight-light border-bottom"><v-icon small color="white">mdi-hexagon-multiple</v-icon> Vị trí sắp xếp</span>
                                             </div>
                                             <div style="width:440px">
                                                  <div class="box">
                                                       <div v-for="i in getItems(item).listTeams" :key="i.local" style='display:inline-block'>
                                                            <v-tooltip top :tag="'div'" nudge-top="2" color="#000"   class="tooltip pa-0" style="opacity:1.0 !important"  open-on-hover allow-overflow >
                                                                 <template v-slot:activator="{ on }">
                                                                      <div v-on="on" class="hex"  :class="i.local<8 || i.local>14 && i.local<=21 ?'margin-11 ml-2': 'ml-2'"
                                                                      :style=" i.champion !=null ? 'background-image: url('+$getFileUrl(i.champion.avatar)+');border-right-color:'+getPrice(i.champion)+';border-left-color:'+getPrice(i.champion) : ''" position="1">
                                                                           <div class="characters-item builder-portrait">
                                                                                <div class="character-wrapper"></div>
                                                                           </div>
                                                                           <div class="hexTop" :style="i.champion!=null? 'border-top-color:'+getPrice(i.champion)+';border-right-color:'+getPrice(i.champion) :''"></div>
                                                                           <div class="hexBottom" :style="i.champion!=null? 'border-bottom-color:'+getPrice(i.champion)+';border-left-color:'+getPrice(i.champion) :''"></div>

                                                                      </div>
                                                                 </template>
                                                                 <div class="tooltip-champions pa-0 ma-0" v-if="i.champion!=null">
                                                                      <div class="d-flex flex-row justify-start">
                                                                           <div class="tool-image-name"  v-if="i.champion!=null">
                                                                                <v-img  :src="$getFileUrl(i.champion.avatar)" class="mt-1 img-tool" :style="'border:2px solid'+getPrice(i.champion)"></v-img>
                                                                                <span class="font-weight-bold pt-1 mb-1">{{i.champion.name}}</span>
                                                                           </div>
                                                                           <div class="tool-class"  v-if="i.champion!=null">
                                                                                <div v-for="cl in i.champion.classes" :key="cl.id" class="d-flex flex-row justify-start mt-1 ml-0 pl-0">
                                                                                     <img :src="$getFileUrl(cl.avatar)" style="width:25px;height:25px; border:1px solid gray; border-radius:50%">
                                                                                     <span class="fon-weight-bold mt-sm-1 ml-1">{{cl.name}}</span>
                                                                                </div>
                                                                           </div>
                                                                           <div class="tool-price"  v-if="i.champion!=null">
                                                                                <span>{{i.champion.price}} $</span>
                                                                           </div>

                                                                      </div>
                                                                      <div class="d-flex flex-row justify-space-around tool-items">
                                                                           <span class="font-weight-bold">Trang Bị: </span>
                                                                           <img  v-for="(aditem,index) in i.champion.advanced_items" :key="index" :src="$getFileUrl(aditem.avatar)">
                                                                      </div>
                                                                      <div class="white--text">
                                                                           <div v-if="i.champion.info_update !=null">
                                                                                <div class="ml-3 font-weight-bold primary--text">
                                                                                     {{$checkStatus(i.champion.status)}}:
                                                                                </div>
                                                                                <span  v-for="(ids,index) in i.champion.info_update.split('.')" :key="index" class="text-update">
                                                                                     <li>{{ids}}</li>
                                                                                </span>
                                                                           </div>
                                                                      </div>
                                                                 </div>
                                                                 <div v-else>
                                                                      <span>Vị trí này không có tướng</span>
                                                                 </div>

                                                            </v-tooltip>
                                                       </div>

                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </v-expansion-panel-content>
                         </v-expansion-panel>
                    </v-expansion-panels>
                   </div>
              </v-col>
         </v-row>
    </div>
</template>
<script>
export default {
     layout: 'home',
     data:function(){
          return{
               version:null,
               search_text:null,
               items:[],
          }
     },
     created(){
          this.getVersionTFT(3);
          this.getTeams();
          this.loadItems()
     },
     computed:{
           listTeams(){
            return this.$store.getters['home/database/listTeams'];
        }
     },
     methods:{
          async  getVersionTFT(numb){
               const response= await this.$store.dispatch('home/database/getByTypeUtility',
               {params:{type:numb}});
               if(response.code==200){
                    this.version=response.data;
               }else{
                    this.$showError(response.message);
               }
          },
          async loadItems() {
               this.loading = true
               const response = await this.$store.dispatch(
               'home/database/getAllItems',{
                    params:{},
                    }
               )
               if (200 === response.code) {
               this.items = response.data
               this.loading = false
               }else{
               this.$showError(response.message);
               }
          },
           getTeams(){
            this.$store.dispatch('home/database/loadList', {type:'teams', params:{search_text:this.search_text}});
          },

          getItemById(id){
               let nameImg=''
               if(this.items.length>0){
               this.items.map(element=>{
                    if(element.id==id){
                    nameImg+=element.avatar
                    }
               })
               }
               return nameImg
          },

          getItemSpecialById(id){
               let nameImg=null
               if(this.items.length>0){
               this.items.map(element=>{
                    if(element.id==id){
                    nameImg=element
                    }
               })
               }
               return nameImg==null? 1 :nameImg;
          },

           getAdItemById(item){
            let arrInfoItem=[];
            if(this.items.length>0 && item!=null){
                this.items.map(element=>{
                    if(element.base_items.filter(i=>i.id==item.id).length>0){
                        arrInfoItem.push(element);
                    }
                })
            }
            return arrInfoItem;
          },

          getInfoItemById(id){
                let nameImg=[]
               if(this.items.length>0){
               this.items.map(element=>{
                    if(element.id==id){
                    nameImg=nameImg.concat(element.base_items)
                    }
               })
               }
               return nameImg
          },


           getColor(item){
               switch(item.rated) {
               case 's':
                    return '#DD0000'
                    break;
               case 'a':
                    return '#DAA520'
                    break;
               case 'b':
                    return 'green'
                    break;
               case 'c':
                    return '#0000CC'
                    break;
               default:
                    return'gray'
               }
          },
          getPrice(item){
          switch(item.price) {
          case 1:
               return '#000'
               break;
          case 2:
               return '#156831'
               break;
          case 3:
               return '#12407c'
               break;
          case 4:
               return '#893088'
               break;
          default:
               return'#b89d27'
          }
          },

          getItems(team){

               let arr=[];
               let listAdItems=[];
               let arrResultClass=[];
               let arrSpecialItem=[];

               for(let i=1 ; i<29;i++){
                    let obj={
                         local:i,
                         champion:null,
                    }
                     arr.push(obj);
               }

               if(team.champions.length>0){
                    team.champions.map(element=>{

                    if(arr.filter(i => i.local === element.pivot.position).length>0){
                         let arrTest=arr.filter(i => i.local === element.pivot.position)
                         arr[arrTest[0].local-1].champion=element;
                         arr[arrTest[0].local-1].local=element.pivot.position
                         if(element.pivot.item1!=null){
                              listAdItems=listAdItems.concat(this.getInfoItemById(element.pivot.item1))
                              if(this.getItemSpecialById(element.pivot.item1).class_id!=null){
                                  arrSpecialItem.push(this.getItemSpecialById(element.pivot.item1).classes)
                              }
                         }
                         if(element.pivot.item2!=null){
                              listAdItems=listAdItems.concat(this.getInfoItemById(element.pivot.item2))
                              if(this.getItemSpecialById(element.pivot.item2).class_id!=null){
                                  arrSpecialItem.push(this.getItemSpecialById(element.pivot.item2).classes)
                              }
                         }
                         if(element.pivot.item3!=null){
                              listAdItems=listAdItems.concat(this.getInfoItemById(element.pivot.item3))
                              if(this.getItemSpecialById(element.pivot.item3).class_id!=null){
                                  arrSpecialItem.push(this.getItemSpecialById(element.pivot.item3).classes)
                              }
                         }
                    }
                    })

               }
               // Xử lý class
               let arrListChampionDedup= this.deduplicate(team.champions);
               let arrClasses=[];
               arrListChampionDedup.map(element=>{
                    arrClasses= arrClasses.concat(element.classes);
               })
               arrClasses=arrClasses.concat(arrSpecialItem);

               let arrResult=[];
               if(arrClasses.length>0){
               arrClasses.map(element=>{
                    let obj={
                    id:null,
                    name:null,
                    avatar:null,
                    skill:null,
                    combinates:[],
                    count:null,
                    }
                    if(element!=null){
                    obj.id=element.id;
                    obj.name=element.name;
                    obj.avatar=element.avatar;
                    obj.skill=element.skill;
                    obj.combinates=element.combination_rates;
                    obj.count= arrClasses.filter(i => i.id === element.id).length;
                    }
                    arrResult.push(obj);
               })
               }

               arrResult.map(element=>{
                    if(element.count>= element.combinates[0].combination){
                         arrResultClass.push(element);
                    }
               })
               if(arrResultClass.length>0){
               arrResultClass=this.deduplicate(arrResultClass);
               arrResultClass.sort(function (a, b) {
               return b.count - a.count;
               });
               }
               // Xử lý Items
               let arrResultItems=[];
               listAdItems.map(element=>{
                    let obj={}
                   if(listAdItems.filter(i => i.id === element.id).length >=1){
                        obj.count=listAdItems.filter(i => i.id === element.id).length;
                        obj.info=element;
                        obj.id=element.id;
                   }
                   if(obj.count !=undefined){
                        arrResultItems.push(obj)
                   }

               })
               arrResultItems=this.deduplicate(arrResultItems);
               arrResultItems.sort(function (a, b) {
               return b.count - a.count;
               });
               let objTeams={
                         listTeams:arr,
                         classes:arrResultClass,
                         adItems:arrResultItems,
                    }
               return objTeams;
    },

     deduplicate(arr) {
      let isExist = (arr, x) => {
        for(let i = 0; i < arr.length; i++) {
          if (arr[i].id === x.id) return true;
        }
        return false;
      }

      let ans = [];
      arr.forEach(element => {
        if(!isExist(ans, element)) ans.push(element);
      });
      return ans.sort();
    },
    checkUseTypes(value){
            let str='';
            const arr= this.$usesTypes;
            arr.map(element =>{
                if(value==element.value){
                    str+=''+element.name
                }
            })
            return str;
        },
     }
}
</script>
