<template>
    <div v-if="champion !=null" style="margin:0px 50px !important;">
        <v-row>
            <v-col cols="12" sm="4" md="4" lg="4"  >
                <v-card class="mx-auto">
                    <div class="box-info-champion ">
                        <img :src="$getFileUrl(champion.avatar)" alt="" class="img-champ">
                        <div class="name-champions d-flex flex-row justify-space-between">
                            <span>{{champion.name}}</span>
                            <span class="mr-2">${{champion.price}}</span>
                        </div>
                        <v-chip class="rated-champions white--text" :style="'background:'+getColor(champion)">{{champion.rated}}</v-chip>
                        <div class="row-class"  >
                            <div class="d-flex flex-row" v-for="cl in champion.classes" :key="cl.id">
                                    <img :src="$getFileUrl(cl.avatar)" alt="" class="row-img">
                                    <span>{{cl.name}}</span>
                            </div>
                        </div>
                    </div>
                </v-card>
            </v-col>
            <v-col cols="12" sm="4" md="4" lg="4"  >
                <v-card>
                    <div class="box-skill px-2">
                        <div class="title-skill">Kỹ Năng</div>
                        <v-divider class="my-1" color="white"></v-divider>
                        <div class="d-flex flex-row justify-start mt-2">
                           <img :src="$getFileUrl(champion.avatar_skill)" alt="">
                           <div class="skill-info">
                               <div>{{champion.skill}}</div>
                               <span>{{champion.info_skill}}</span>
                           </div>
                        </div>
                        
                        <div class=" box-mana">
                            <v-divider class="my-1" color="white"></v-divider>
                            <div class="d-flex flex-row justify-space-between mt-2">
                                <div class="white--text">Năng Lượng:</div>
                                <div class="white--text">
                                    <v-icon color="primary">mdi-water</v-icon>
                                    {{champion.start_mana}}/{{champion.mana}}
                                </div>
                            </div>
                        </div>
                    </div>
                </v-card>
            </v-col>
            <v-col cols="12" sm="4" md="4" lg="4"  >
                <v-card class="mx-auto">
                    <div class="stats-champion px-2">
                        <div class="title-skill">Trang Bị Phù Hợp</div>
                        <v-divider class="mmt-1" color="white"></v-divider>
                        <div class="item-advanced" v-for="(aditems,index) in champion.advanced_items" :key="index">
                            <v-tooltip right :tag="'div'" nudge-bottom="10" color="#000"   class="p-0 tooltip" style="min-width:13vmax; width:13vmax !important;  opacity:1.0 !important " open-on-hover allow-overflow >
                                <template v-slot:activator="{ on }">
                                    <img v-on="on" :src="$getFileUrl(aditems.avatar)"  alt="">
                                </template>
                                <div style="width:290px;!important">
                                    <span>{{aditems.uses}}</span>
                                </div>
                                
                            </v-tooltip>
                            <div class="info-item mr-4">
                                <div>{{aditems.name}}</div>
                                <span v-for="(base,index) in aditems.base_items" :key="index">
                                    +{{base.number_power}} {{checkUseTypes(base.uses_type)}}
                                </span>
                            </div>
                            <div v-for="(base,index) in aditems.base_items" :key="index">
                                <v-tooltip bottom :tag="'div'" nudge-bottom="-5" color="#000"   class="p-0 tooltip" style="min-width:13vmax; width:13vmax !important;  opacity:1.0 !important " open-on-hover allow-overflow >
                                    <template v-slot:activator="{ on }">
                                        <img v-on="on" :src="$getFileUrl(base.avatar)" alt="" >
                                    </template>
                                    <div style="width:290px;!important" class="d-flex flex-row">
                                        <img :src="$getFileUrl(base.avatar)" alt="" style="width:50px; height:50px;border:1px solid #fff; border-radius:5px;">
                                        <div class="ml-3 mt-1">
                                             <div class="font-weight-bold">
                                                {{base.name}}
                                            </div>
                                            <span>+{{base.number_power}} {{checkUseTypes(base.uses_type)}}</span>
                                        </div>
                                       
                                    </div>
                                </v-tooltip>
                            </div>   
                        </div>

                    </div>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" sm="4" md='4' lg="4">
                <v-card>
                    <div class="box-stats px-2">
                        <div class="title-skill">Chỉ Số Thống Kê</div>
                        <v-divider class="my-1" color="white"></v-divider>
                        <div class="item-stats">
                            <div class="justify-space-between"><span>Năng Lượng:</span> <span>{{champion.mana}}</span></div>
                            <div class="justify-space-between"><span>Máu: </span><span>{{champion.health}}</span></div>
                            <div class="justify-space-between"><span>NL Khởi Đầu:</span><span> {{champion.start_mana}}</span></div>
                            <div class="justify-space-between"><span>Tầm Đánh:</span><span> {{champion.range}}</span></div>
                            <div class="justify-space-between"><span>Sát Thương:</span><span> {{champion.attack_damage}}</span></div>
                            <div class="justify-space-between"><span>Tốc Độ Đánh:</span> <span>{{champion.attack_speed}}</span></div>
                            <div class="justify-space-between"><span>Giáp:</span><span> {{champion.armor}}</span></div>
                            <div class="justify-space-between"><span>DPS:</span><span> {{champion.dps}}</span></div>
                            <div class="justify-space-between"><span>Kháng Phép:</span><span> {{champion.magic_resist}}</span></div>

                        </div>
                    </div>
                </v-card>
                <v-card class="mt-6">
                    <div class="box-stats px-2">
                        <div class="title-skill">Thông tin cập nhật</div>
                        <v-divider class="my-1" color="white"></v-divider>
                        <div class="white--text">
                            <div v-if="champion.info_update !=null">
                                <div class="ml-3 font-weight-bold primary--text">
                                    {{$checkStatus(champion.status)}}:
                                </div>
                                <span  v-for="(i,index) in champion.info_update.split('.')" :key="index" class="text-update">
                                    <li>{{i}}</li>
                                </span>
                            </div>
                            
                            <span v-else >
                                Phiên bản hiện hành vị tướng này không có thay đổi gì !
                            </span>
                        </div>
                    </div>
                </v-card>
            </v-col>
            <v-col cols="12" sm="8" md='8' lg="8">
                <v-card>
                    <div class="box-classes px-2">
                        <div class="title-skill  ">Nhóm Tướng (Hệ/Tộc)</div>
                        <v-divider class="my-1" color="white"></v-divider>
                        <div  v-for="cl in champion.classes" :key="cl.id" style="border-bottom: 1px solid rgb(44, 68, 99); padding-bottom:10px">
                           <div class="item-class d-flex flex-row justify-space-between">
                               <div class="text-center ml-3" style="width:15%">
                                    <img :src="$getFileUrl(cl.avatar)" alt="">
                                    <div class="font-weight-bold">{{cl.name}}</div>
                                </div>
                                <div class="text-skill">
                                    {{cl.skill}}
                                </div>
                                <div class="cl-combination">
                                    <div class="d-flex flex-row justify-start" v-for="(comb,index) in cl.combination_rates" :key="index">
                                        <span :style="'background-color:'+getColorByIndex(index)" class="mr-2 text-comb">{{comb.combination}}</span> <span class="mt-1 text-comb-content">{{comb.content}}</span>
                                    </div>
                                </div>
                           </div>
                           <div class="d-flex flex-row justify-start mt-3">
                               <div  v-for="champ in cl.champions" :key="champ.id" @click="getChampion(champ.id)" style="cursor:pointer">
                                   <div class="champ-in-class">
                                        <img class="img-champ" :src="$getFileUrl(champ.avatar)" alt="">
                                        <div class="box-img-class d-flex flex-row justify-center">
                                            <img v-for="clChamp in champ.classes" :key="clChamp.id" class="img-class" :src="$getFileUrl(clChamp.avatar)" alt="">
                                        </div>
                                   </div>
                                    <div class="name-champ-class">
                                        {{champ.name}}
                                    </div>
                               </div>
                           </div>
                            
                        </div>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>
<script>
export default {
    data:function(){
        return {
            abcd:'123',
            champion:null,
        }
    },
    created(){
        this.getChampionById();
    },
    methods:{
       async getChampionById(){
           const res= await this.$store.dispatch('home/database/getChampionById', {id:this.$route.params.id});
           if(res.code==200){
            this.champion=res.data;
           }
        },

        getChampion(id){
            this.$router.push({name:'champions-id', params:{id:id}});
        },
        getColor(item){
            switch(item.rated) {
            case 's':
                return '#DD0000'
                break;
            case 'a':
                return '#DAA520'
                break;
            case 'b':
                return 'green'
                break;
            case 'c':
                return '#0000CC'
                break;
            default:
                return'gray'
            }
        },

        getColorByIndex(index){
            switch(index){
                case 0:
                    return '#945305';
                    break;
                case 1:
                    return 'gray';
                    break;
                case 2:
                    return '#9C9900';
                    break;
                default:
                    return '#EB7153'
            }
        },
        checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    }
    }

}
</script>