<template>
    <v-card color="#203744" class="mt-3">
         <v-card-text>
              <v-row>
                   <v-col cols="12" sm="3" md="3" lg="3" class="search px-3">
                        <div class="d-flex flex-row justify-space-between">
                              <span class=" ml-2 text-title mt-4">Tìm Kiếm</span>
                        </div>
                       <v-divider class="mx-2 white  my-4"></v-divider>
                       <v-select
                         prepend-icon="mdi-diamond"
                         outlined=""
                         label="Giá Tướng"  @change="getChampions"
                         dense="" v-model="isParams.search_price"
                         hide-details=""
                         dark="" item-text="name" item-value="value"
                         :items="prices"  :reduce="option=>option.value"
                         class=" mt-5">
                       </v-select>

                       <v-select
                         prepend-icon="mdi-poll"
                         outlined=""
                         label="Xếp Hạng" @change="getChampions"
                         dense="" v-model="isParams.search_rated"
                         hide-details=""
                         dark=""  item-text="name" item-value="value"
                         :items="rateds" :reduce="option=>option.value"
                         class=" mt-5">
                       </v-select>

                       <v-select
                         prepend-icon="mdi-checkbox-multiple-marked"
                         outlined="" v-model="classe"
                         label="Hệ Tướng"  @change="getChampions"
                         dense=""  item-text="name"
                         item-value="id"
                         hide-details=""
                         dark=""  :reduce="option=>option.id"
                         :items="classes"
                         class=" mt-5">
                       </v-select>

                       <v-select
                         prepend-icon="mdi-checkbox-multiple-marked-circle-outline"
                         outlined=""
                         label="Tộc Tướng"
                         dense="" v-model="origin"
                         hide-details=""  item-text="name"
                         item-value="id" @change="getChampions"
                         dark=""   :reduce="option=>option.id"
                         :items="origins"
                         class=" mt-5">
                       </v-select>
                   </v-col>
                   <v-col cols="12" sm="9" md="9" lg="9" class="px-3">
                        <div class="d-flex flex-row justify-space-between">
                             <span class=" ml-2 text-title mt-4">Danh Sách Tướng</span>
                             <v-text-field dark=""
                                             placeholder="Tìm kiếm theo tên tướng!"
                                             prepend-inner-icon="mdi-magnify"
                                             hide-details
                                             @keyup.enter="getChampions"
                                             single-line outlined=""
                                             v-model="isParams.search_text"
                                             dense style="max-width:350px !important">
                             </v-text-field>
                        </div>
                       <v-divider class="mx-2 white mb-2 my-4"></v-divider>
                       <div class="px-3 white--text pb-1" style="width:100%; text-align:center">Có {{listChampions.length}} vị tướng được tìm thấy!</div>
                         <div class="box-show-champions">
                              <div @click="showChampionById(item.id)" class="box-item" v-for="(item,index) in listChampions" :key="index">
                                   <img class="img-champ" :src="$getFileUrl(item.avatar)" alt="">
                                   <div class="name-champions d-flex flex-row justify-space-between">
                                       <span>{{item.name}}</span>
                                       <span class="mr-2">${{item.price}}</span>
                                   </div>
                                   <div class="rated-champions" :style="'background:'+getColor(item)">{{item.rated}}</div>
                                   <div class="row-class"  >
                                        <div class="d-flex flex-row" v-for="cl in item.classes" :key="cl.id">
                                             <img :src="$getFileUrl(cl.avatar)" alt="" class="row-img">
                                             <span>{{cl.name}}</span>
                                        </div>
                                   </div>
                              </div>
                         </div>
                   </v-col>
              </v-row>
         </v-card-text>
    </v-card>
</template>
<script>
export default {
     data(){
          return {
               isParams:{
                    search_text:null,
                    search_price:null,
                    search_rated:null,

               },
               price:0,
               rated:0,
               origin:0,
               classe:0,
               listChampions:[],
          }
     },

     computed:{
          rateds(){
               let arr= this.$rateds
               arr.unshift({name:'Tất Cả',value:null});
               return arr;
          },

          prices(){
               return[
                    {name:'Tất Cả', value:null},
                    {name:'1 Vàng',value:1},
                    {name:'2 Vàng',value:2},
                    {name:'3 Vàng',value:3},
                    {name:'4 Vàng',value:4},
                    {name:'5 Vàng',value:5},
               ]
          },

          origins(){
               let arr = this.$store.getters['home/database/listClasses'];
               let arrOrigin =[
                    {id:0,name:'Tất Cả'}
               ];
               if(arr!=null){
               arr.map(element=>{
                    if(element.type==1){
                    arrOrigin.push(element);
                    }
               })
               }

               return arrOrigin;
          },
          classes(){
               let arr = this.$store.getters['home/database/listClasses'];
               let arrOrigin =[{id:0,name:'Tất Cả'}];
               if(arr!=null){
                    arr.map(element=>{
                         if(element.type==0){
                         arrOrigin.push(element);
                         }
                    })
               }
               return arrOrigin;
          },




     },
     created(){
          this.getListByType('classes');
          this.getChampions();
     },
     methods:{
          getListByType(type){
               this.$store.dispatch('home/database/loadList', {type:type,params:this.isParams});
          },
          showChampionById(id){
               this.$router.push({name:'champions-id', params:{id:id}});
          },
          async getChampions(){
               this.listChampions=[];
                const res= await this.$store.dispatch('home/database/getChampions', {params:this.isParams});
                if(res.code==200){
                    let arr=res.data;
                    let arrResult=[];
                    if(this.classe!=0&&this.origin!=0){
                         arr.map(element=>{
                              if(element.classes.filter(i=>i.id == this.classe).length>0&&element.classes.filter(i=>i.id == this.origin).length>0){
                                   arrResult.push(element);
                              }
                         })
                          this.listChampions=arrResult;
                    }else if(this.classe!=0&&this.origin==0){
                         arr.map(element=>{
                              if(element.classes.filter(i=>i.id == this.classe).length>0){
                                   arrResult.push(element);
                              }
                         })
                          this.listChampions=arrResult;

                    } else if(this.classe==0&&this.origin!=0){
                         arr.map(element=>{
                              if(element.classes.filter(i=>i.id == this.origin).length>0){
                                   arrResult.push(element);
                              }
                         })
                          this.listChampions=arrResult;
                    } else{
                         this.listChampions=arr;
                    }
                }
           },
          getColor(item){
               switch(item.rated) {
               case 's':
                    return '#DD0000'
                    break;
               case 'a':
                    return '#DAA520'
                    break;
               case 'b':
                    return 'green'
                    break;
               case 'c':
                    return '#0000CC'
                    break;
               default:
                    return'gray'
               }
          },
     }
}
</script>
<style>
.search{
     border-right:1px solid #fff;
}
.text-title{
     color:#fff;
     font-weight: bold;
     font-size: 14pt;
}
</style>
