<template>
  <div style="margin:-5px -15px 5px !important" color="#0d202b">
      <v-card-text class="mt-0 pt-0">
          <v-row class="">
              <v-col cols="12" sm="2" md='2' xl="2" class="mx-0 px-0">
                <div class="overflow-y-auto px-1" v-scroll.self="onScroll" style="max-height:70vh">
                <div v-for="item in classes" :key="item.id" >
                  <v-tooltip bottom nudge-left="45" tag="div" color="#000"  class="p-0 tooltip" style="min-width:18vw; width:18vw !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                    <template v-slot:activator="{ on }">
                      <div v-on="on" class="d-flex flex-row box-class bordered mb-2">
                        <img :src="$getFileUrl(item.avatar)" alt="" class="img-class mt-1">
                        <v-chip small class="px-2 my-3 ml-2 font-weight-bold">{{item.count}}</v-chip>
                        <div class="ml-2 mt-1 white--text">
                          <span class="font-weight-bold">{{item.name}}</span> <br>
                          <span v-for="(comb,index) in item.combinates" :key="index" :class="item.count<comb.combination? 'blue-grey--text' :'white--text font-weight-bold'">
                            {{comb.combination}}
                            <v-icon v-if="index+1 < item.combinates.length" small="" class="blue-grey--text">mdi-chevron-right</v-icon>
                          </span>
                        </div>
                      </div>
                    </template>
                    <div class="tooltip-champions">
                        <div class="d-flex flex-row justify-start" style="border-bottom:1px solid #fff">
                            <img :src="$getFileUrl(item.avatar)" alt=""  class="img-box-35"> 
                            <v-divider class="white mx-3" vertical></v-divider>
                            <div class="font-weight-bold font-14">{{item.name}}</div>
                        </div>
                        <div class="mt-1">
                            <span>{{item.skill}}</span>
                            <div v-for="comb in item.combinates" :key="comb.id" class="mt-2">
                                <v-chip small class="px-2 font-weight-bold mr-1">{{comb.combination}}</v-chip> <span>{{comb.content}}</span>
                            </div>
                        </div>
                        <div style="display:inline-block" class="mx-2">
                          <div class="font-weight-bold black--text mx-1">Tướng: </div> <img v-for="(imgChamp,index) in getChampionsByIdClass(item.id)" :key="index" :style="'width:35px; height:35px; border:2.5px solid '+ getPrice(imgChamp)" class="mx-1" :src="$getFileUrl(imgChamp.avatar)" alt="">
                        </div>
                    </div>
                  </v-tooltip>
                </div>
                </div>
                <v-btn v-if="classes.length>0" @click="refeshTeam" small class="white--text" color="#203744">
                  <v-icon class="mr-1" >mdi-refresh</v-icon>
                  Xây Dựng Lại
                </v-btn>
                <div v-if="classes.length==0" class="box-class py-5 mt-5">
                  <div class="text-center white--text" style="width:100%">
                    <v-icon color="white">mdi-information-outline</v-icon>
                    <h5>Bạn chưa chọn tướng</h5>
                  </div>
                </div>
              </v-col>
              <v-col cols="12" sm="10" md="10" xl="10" class="mx-0 px-0">
                  <v-row>
                      <v-col cols="12" sm="9" md="9" xl="9" class="mx-0 text-center">
                        <div class="board" style="width:650px !important">
                            <div v-for="(item,index) in items" :key="index" style='display:inline-block'>
                                <v-tooltip bottom nudge-bottom="20" tag="div" color="#000"  class="p-0 tooltip"  style="min-width:18vmax; width:18vmax !important;  opacity:1.0 !important " open-on-click :open-on-hover="false" allow-overflow >
                                    <template v-slot:activator="{ on }">
                                        <drop  class="hex" @click.right="removeChampion(index)" v-on="on"  tag="div" @dblclick="addStart(index)" @drop="addChampion($event,index)"   :class="item.local<8 || item.local>14 && item.local<=21 ?'margin-10 ml-2': 'ml-2'" 
                                        :style=" item.champion !=null ? 'background-image: url('+$getFileUrl(item.champion.avatar)+');border-right-color:'+getPrice(item.champion)+';border-left-color:'+getPrice(item.champion) : ''" position="1">
                                        <div class="characters-item builder-portrait">
                                            <div class="character-wrapper">
                                            <img @dragend="removeChampion(index)" class="character-icon" v-if="item.champion!=null" :src="$getFileUrl(item.champion.avatar)" alt="">
                                            </div>
                                        </div>
                                        <div class="hexTop" :style="item.champion!=null? 'border-top-color:'+getPrice(item.champion)+';border-right-color:'+getPrice(item.champion) :''"></div>
                                        <div class="hexBottom" :style="item.champion!=null? 'border-bottom-color:'+getPrice(item.champion)+';border-left-color:'+getPrice(item.champion) :''"></div>
                                        <div class="character-items">
                                            <drop success @dragend="removebyType(item,index,'items')" v-for="(subitem,index) in item.item" :key="index" class="characters-item builder-portrait active" v-if="item.item.length>0 && subitem !=null">
                                                <div class="character-wrapper">
                                                <img class="character-icon bordered-grey" :src="$getFileUrl(subitem.avatar)" alt="">
                                                </div>
                                            </drop>
                                        </div>
                                        <div aria-readonly="" v-if="item.champion!=null" :class="item.start_3==1 ?'character-level active':'character-level'">★★★</div>
                                        </drop>
                                    </template>
                                     <div class="tooltip-champions" v-if="item.champion!=null">     
                                        <div class="d-flex flex-row justify-start">
                                                <div class="tool-image-name">
                                                    <v-img  :src="$getFileUrl(item.champion.avatar)" class="mt-1 img-tool" :style="'border:2px solid'+getPrice(item.champion)"></v-img>
                                                    <span class="font-weight-bold pt-1 mb-1">{{item.champion.name}}</span>
                                                </div>
                                                <div class="tool-class">
                                                    <div v-for="cl in item.champion.classes" :key="cl.id" class="d-flex flex-row justify-start mt-1 ml-0 pl-0">
                                                        <img :src="$getFileUrl(cl.avatar)" style="width:25px;height:25px; border:1px solid gray; border-radius:50%">
                                                        <span class="font-weight-bold mt-sm-1 ml-1">{{cl.name}}</span>
                                                    </div>
                                                </div>
                                                <div class="tool-price">
                                                    <span>{{item.champion.price}} $</span>
                                                </div>
                                                
                                        </div>
                                        <div class="d-flex flex-row justify-space-around tool-items">
                                                <span class="font-weight-bold">Trang Bị: </span>
                                                <img  v-for="(aditem,index) in item.champion.advanced_items" :key="index" :src="$getFileUrl(aditem.avatar)">
                                        </div>
                                    </div>
                                    <div v-else>
                                            <span>Vị trí này chưa có tướng</span>
                                    </div>
                                </v-tooltip>
                            </div>
                           
                        </div>
                      </v-col>
                      <v-col cols="12" sm="3" md="3" xl="3" class="scroll  pl-0 ml-0 text-left" style="margin-left:-40px !important">
                          <div class="box-item">
                            <div v-for="(item,index) in adItems" :key="index">
                                <v-tooltip v-for="(baseItem,index) in item.base_items" :key="index" bottom nudge-right="30" tag="div" color='#000'  class="p-0 tooltip" style="min-width:20vw; width:20vw !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                                  <template v-slot:activator="{ on }">
                                      <img v-on="on" :src="$getFileUrl(baseItem.avatar)">
                                  </template>
                                    <div class="tooltip-champions">
                                        <div class="d-flex flex-row justify-start" style="border-bottom:1px solid grey;padding:1px !important;">
                                            <img :src="$getFileUrl(baseItem.avatar)" alt=""  class="img-box-35" style="margin:0 !important"> 
                                            <v-divider class="white mx-3" vertical></v-divider>
                                            <div class="font-weight-bold font-13">{{baseItem.name}}</div>
                                        </div>
                                        <div class="mt-1">
                                            <span> + {{baseItem.number_power}} {{checkUseTypes(baseItem.uses_type)}}</span>
                                            <v-divider class="mt-5" color="grey"></v-divider>
                                            <div>Tạo thành:</div>
                                            <div style="display:flex" class="mx-2 py-1">
                                                <div class="font-weight-bold black--text mx-1"></div> <img v-for="(avatar,index) in getAdItemsByIdBaseItem(baseItem.id)" :key="index"  class="img-mini" :src="$getFileUrl(avatar)" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </v-tooltip>
                              
                            </div> 
                            <div  v-if="adItems.length==0" class="text-center white--text py-5" style="width:100%">
                                <v-icon color="white">mdi-information-outline</v-icon>
                                <h5>Bạn chưa chọn trang bị nào</h5>
                            </div>
                          </div>
                          <div  class="overflow-y-auto" v-scroll.self="onScroll" style="max-height:200px">
                          <div v-for="(item,index) in adItems" :key="index" class="d-flex flex-row box-item my-1 mx-1 pa-1 justify-center">
                            <v-tooltip :key="index" top nudge-right="30" tag="div" color="#000"  class="p-0 tooltip" style="min-width:15vw; width:15vw !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                            <template v-slot:activator="{ on }">
                                <img v-on="on" :src="$getFileUrl(item.avatar)" class="mx-3">  
                            </template>
                             <div class="tooltip-champions">
                                <div class="d-flex flex-row justify-start" style="border-bottom:1px solid grey;padding:1px !important;">
                                    <img :src="$getFileUrl(item.avatar)" alt=""  class="img-box-35" style="margin:0 !important"> 
                                    <v-divider class="white mx-3" vertical></v-divider>
                                    <div class="font-weight-bold font-13">{{item.name}}</div>
                                </div>
                                <v-divider class="my-0 white--text"></v-divider>
                                  <div>
                                    <span class="font-weight-bold white--text" style="font-size:12px">{{item.uses}}</span> 
                                  </div> 
                                    <v-divider class="mt-4" color="grey"></v-divider>
                                  <div style="display:flex; padding:3px">
                                    <span class="mt-1 white--text" style="font-size:13px;font-weight:bold; color:#000">Mảnh Ghép:</span>  <img class="bordered" :style="'width:35px; height:35px; margin:0 5px; border-radius:5px;'" v-for="(baseItem, index) in item.base_items" :key="index" :src="$getFileUrl(baseItem.avatar)" alt="">
                                  </div>
                            </div>
                            </v-tooltip>
                               <v-icon color="white">mdi-shuffle-disabled</v-icon>
                               <v-tooltip v-for="(baseItem,index) in item.base_items" :key="index" bottom nudge-right="30" tag="div" color="#000"  class="p-0 tooltip" style="min-width:18vw; width:18vw !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                                  <template v-slot:activator="{ on }">
                                      <img v-on="on" :src="$getFileUrl(baseItem.avatar)">
                                  </template>
                                   <div class="tooltip-champions">
                                        <div class="d-flex flex-row justify-start" style="border-bottom:1px solid grey;padding:1px !important;">
                                            <img :src="$getFileUrl(baseItem.avatar)" alt=""  class="img-box-35" style="margin:0 !important"> 
                                            <v-divider class="white mx-3" vertical></v-divider>
                                            <div class="font-weight-bold font-13">{{baseItem.name}}</div>
                                        </div>
                                        <div class="mt-1">
                                            <span> + {{baseItem.number_power}} {{checkUseTypes(baseItem.uses_type)}}</span>
                                            <v-divider class="mt-5" color="grey"></v-divider>
                                            <div>Tạo thành:</div>
                                            <div style="display:flex" class="mx-2 py-1">
                                                <div class="font-weight-bold black--text mx-1"></div> <img v-for="(avatar,index) in getAdItemsByIdBaseItem(baseItem.id)" :key="index"  class="img-mini" :src="$getFileUrl(avatar)" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </v-tooltip>
                          </div>
                          </div>
                      </v-col>
                     </v-row> 
                        <v-divider class="mt-1"></v-divider>
                    <v-row >
                        <v-col cols="12" sm="8" md="8" xl="8" class="pl-2">
                            <v-card class="py-1 px-1 pl-2  mr-1 pt-1 ml-6" color="#203744">
                                <v-text-field class="mb-2 red--text"  @keyup.enter="loadChampions" single-line="" hide-details="" append-icon="mdi-magnify" v-model="searchChampion" placeholder="Tìm kiếm tên, kỹ năng, giá tướng!" dense="" solo>

                                </v-text-field>
                                <div v-for="(champion,index) in listChampions" :key="index" style="position: relative; display: inline-block;">
                                    <v-tooltip bottom nudge-bottom="5" tag="div" color="#000"  class="p-0 tooltip" style="min-width:18vmax; width:18vmax !important;  opacity:1.0 !important " open-on-hover allow-overflow >
                                        <template v-slot:activator="{ on }">
                                        <drag :data="champion"> 
                                            <v-img v-on="on" :style="'border:3px solid '+getPrice(champion)"  :src="$getFileUrl(champion.avatar)" class="img-champion"></v-img>
                                        </drag>
                                        </template>
                                         <div class="tooltip-champions">     
                                            <div class="d-flex flex-row justify-start">
                                                    <div class="tool-image-name">
                                                        <v-img  :src="$getFileUrl(champion.avatar)" class="mt-1 img-tool" :style="'border:2px solid'+getPrice(champion)"></v-img>
                                                        <span class="font-weight-bold pt-1 mb-1">{{champion.name}}</span>
                                                    </div>
                                                    <div class="tool-class">
                                                        <div v-for="cl in champion.classes" :key="cl.id" class="d-flex flex-row justify-start mt-1 ml-0 pl-0">
                                                            <img :src="$getFileUrl(cl.avatar)" style="width:25px;height:25px; border:1px solid gray; border-radius:50%">
                                                            <span class="font-weight-bold mt-sm-1 ml-1">{{cl.name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="tool-price">
                                                        <span>{{champion.price}} $</span>
                                                    </div>
                                                    
                                            </div>
                                            <div class="d-flex flex-row justify-space-around tool-items">
                                                    <span class="font-weight-bold">Trang Bị: </span>
                                                    <img  v-for="(aditem,index) in champion.advanced_items" :key="index" :src="$getFileUrl(aditem.avatar)">
                                            </div>
                                        </div>
                                    </v-tooltip>
                                </div>
                            </v-card>
                        </v-col>
                        <v-col cols="12" sm="4" md="4" xl="4" class="pl-0">
                            <v-card class=" mx-2 my-1" color="#203744">
                                <v-text-field class="mb-1" @keyup.enter="loadItems" hide-details="" append-icon="mdi-magnify" v-model="searchItem" placeholder="Tìm kiếm tên trang bị!" dense="" solo>
                                </v-text-field>
                                <div v-for="aditem in listItems" :key="aditem.id" style="position: relative; display: inline-block;">
                                    <v-tooltip bottom nudge-bottom="10" tag="div" color="#000"  class="p-0 tooltip" style="min-width:15vmax; width:15vmax !important;  opacity:1.0 !important " open-on-hover allow-overflow >
                                        <template v-slot:activator="{ on }">
                                        <drag :data="aditem"> 
                                            <v-img v-on="on"  :src="$getFileUrl(aditem.avatar)" class="img-items-1"></v-img>
                                        </drag>
                                        </template>
                                        <div class="tooltip-champions">
                                            <div class="d-flex flex-row justify-start" style="border-bottom:1px solid grey;padding:1px !important;">
                                                <img :src="$getFileUrl(aditem.avatar)" alt=""  class="img-box-35" style="margin:0 !important"> 
                                                <v-divider class="white mx-3" vertical></v-divider>
                                                <div class="font-weight-bold font-13">{{aditem.name}}</div>
                                            </div>
                                            <v-divider class="my-0 white--text"></v-divider>
                                              <div>
                                                <span class="font-weight-bold white--text" style="font-size:12px">{{aditem.uses}}</span> 
                                              </div> 
                                                <v-divider class="mt-4" color="grey"></v-divider>
                                              <div style="display:flex; padding:3px">
                                                <span class="mt-1 white--text" style="font-size:13px;font-weight:bold; color:#000">Mảnh Ghép:</span>  <img class="bordered" :style="'width:35px; height:35px; margin:0 5px; border-radius:5px;'" v-for="(baseItem, index) in aditem.base_items" :key="index" :src="$getFileUrl(baseItem.avatar)" alt="">
                                              </div>
                                        </div>
                                    </v-tooltip>
                                </div>
                            </v-card>
                        </v-col>
                    </v-row> 
              </v-col>
              
          </v-row>
          <v-row class="bordered py-2">
              <v-col cols="12" md="4" xl="4" class="my-0 py-0 pr-0">
              <v-text-field 
                v-model="team.name" 
                placeholder="Mời nhập tên của đội hình" 
                solo label="Tên Đội Hình" dense  single-line=""
                class="my-0 py-0" hide-details=""
                 v-validate="'required'" data-vv-name="nameTeams" data-vv-as="Tên Đội Hình"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="8" xl="8" class="my-0 py-0">
              <v-text-field
                v-model="team.description" 
                placeholder="Ghi chú khi xây dựng !" 
                solo label="Ghi Chú" dense  hide-details=""
                class="my-0 py-0" 
                 data-vv-name="description" data-vv-as="Ghi Chú"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-divider></v-divider>
      </v-card-text>
      <v-card-actions class="pt-0">
        <v-spacer></v-spacer>
        <v-btn class="mr-2" small color="primary" @click="saveTeam"> Lưu Lại </v-btn>
        <v-btn small color="error" @click="cancel"> Quay Về </v-btn>
      </v-card-actions>
  </div>
</template>

<script>
import { Drag, Drop, DropMask , DropList} from "vue-easy-dnd";

export default {
  name: "App",
  components: {
    Drag,
    Drop,
    DropMask,
    DropList
  },
  data: function() {
    return {
      hover:[false,],
      searchChampion:null,
      searchItem:null,
      scrollInvoked:0,
      listChampions:[],
      listItems:[],
      items:[],
      classes:[],
      adItems:[],
      team:{
        name:null,
        rated:'s',
        user_id:null,
        description:null,
        champions:[],
      },
      rateds: this.$rateds
    };
  },
  created(){
      this.loadItems();
      this.getItems();
  },
  methods: {
    refeshTeam(){
        this.items=[];
        let arr=[];
        for(let i=1 ; i<29;i++){
          let obj={
            local:i,
            champion:null,
            item:[],
            start_3:0
          }
            arr.push(obj);
        }
        this.items=arr;
        this.classes=[];
        this.adItems=[];
        this.team.name=null;
        this.team.description=null;
        this.team.rated=null;
    },
    async  getItems(){
        
        this.loadChampions();
        const res= await this.$store.dispatch('home/team/getTeamById',{id:this.$route.params.id});
        if(res.code==200){
            this.team=res.data;
        }else{
            // this.$showError(res.message)
        }
        
        let arr=[];
        for(let i=1 ; i<29;i++){
            let obj={
            local:i,
            champion:null,
            item:[],
            start_3:0
            }
            arr.push(obj);
      }
      if(res.code==200&&res.data.champions.length>0){
          res.data.champions.map(element=>{
            if(arr.filter(i => i.local === element.pivot.position).length>0){
                let arrTest=arr.filter(i => i.local === element.pivot.position)
                arr[arrTest[0].local-1].champion=element;
                arr[arrTest[0].local-1].start_3=element.pivot.three_stars
                arr[arrTest[0].local-1].local=element.pivot.position
                if(element.pivot.item1!=null){
                  arr[arrTest[0].local-1].item.push(this.getItemById(element.pivot.item1));
                  if(this.getItemById(element.pivot.item1).class_id!=null){
                    arr[arrTest[0].local-1].champion.classes.push(this.getItemById(element.pivot.item1).classes);
                  }
                }
                if(element.pivot.item2!=null){
                  arr[arrTest[0].local-1].item.push(this.getItemById(element.pivot.item2));
                  if(this.getItemById(element.pivot.item2).class_id!=null){
                    arr[arrTest[0].local-1].champion.classes.push(this.getItemById(element.pivot.item2).classes);
                  }
                }
                if(element.pivot.item3!=null){
                  arr[arrTest[0].local-1].item.push(this.getItemById(element.pivot.item3));
                  if(this.getItemById(element.pivot.item3).class_id!=null){
                    arr[arrTest[0].local-1].champion.classes.push(this.getItemById(element.pivot.item3).classes);
                  }
                }
            }
          })
      }

      this.items=arr;
      this.getClasses()
    },

    getChampionsByIdClass(id){
     let arrChamp=[]
     if(this.listChampions.length>0){
       this.listChampions.map(element=>{
         let obj={
            avatar:null,
            price:0
          }
          if(element.classes.filter(i => i.id === id).length>0){
            obj.avatar=element.avatar;
            obj.price=element.price;
            arrChamp.push(obj);
          }
        })
     } 
     return arrChamp
    },
     getAdItemsByIdBaseItem(id){
     let arrChamp=[]
     if(this.listItems.length>0){
       this.listItems.map(element=>{
          if(element.base_items.filter(i => i.id === id).length>0){
            arrChamp.push(element.avatar);
          }
        })
     } 
     return arrChamp
    },

    async loadChampions() {
      const response = await this.$store.dispatch(
        'home/team/getChampions',{
          params:{
              search_text: this.searchChampion
          },
        }
      )
      if (200 === response.code) {
        this.listChampions = response.data
      }else{

      }
    },

     async loadItems() {
      const response = await this.$store.dispatch(
        'home/database/getAllItemWithSearch',{
          params:{
              search_text: this.searchItem
          }
        }
        
      )
      if (200 === response.code) {
        this.listItems = response.data
      }else{
      }
    },
     getPrice(item){
      switch(item.price) {
        case 1:
          return 'black'
          break;
        case 2:
          return '#156831'
          break;
        case 3:
          return '#12407c'
          break;
        case 4:
          return '#893088'
          break;
        default:
          return'#b89d27'
      }
    },
      checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    },

    addChampion(event,index){
      if(event.data.mana!= undefined){
         this.items[index].champion=event.data;
      }else{
        if(this.items[index].item.length<3 &&this.items[index].champion!=null){
          if(event.data.id==43){
            this.items[index].item[0]=event.data;
            this.items[index].item[1]=null;
            this.items[index].item[2]=null;
          }else{
                if(this.items[index].champion.classes.filter(i => i.id === event.data.class_id).length>0){
                this.$showError('Tướng của bạn đã thuộc '+ event.data.classes.name)
              }else{
                this.items[index].item.push(event.data);
                if(event.data.class_id!=null){
                  this.items[index].champion.classes.push(event.data.classes);
                }
              }
          }
        }else{
          if(this.items[index].item[0]!=null){
            if (this.items[index].item[0].id==43){
              this.$showError('Bao Tay Đạo Tặc chiếm 3 vị trí trang bị');
            }
          }
          else{
            this.$showError('Mỗi tướng chỉ mang tối đa 3 trang bị')
          }
          
        }
        
      }
     this.getClasses()
    },
    addStart(index){
      this.items[index].start_3=this.items[index].start_3==1 ? 0 : 1;
    },
  async removeChampion(index){
      this.items[index].start_3=0;
      this.items[index].champion= await null;
      this.items[index].item=[];
      let count=0;
      this.items.map(element=>{
        if(element.champion==null){
          count++;
        }
      })
      if(count<28){
        this.getClasses()
      }else{
        this.classes=[];
      }
      
    },
    removebyType(index, subitem,type){
      if(type=='champion'){
        this.removeChampion(subitem);
      }else{
        this.removeItem(index,subitem)
      }
    },
   removeItem(index,subitem){
      if(this.items[index.local-1].item[0]!=null){
        if(this.items[index.local-1].item[0].id==43){
          this.items[index.local-1].item=[]
        }else{
          if(this.items[index.local-1].champion.classes.filter(i => i.id === this.items[index.local-1].item[subitem].class_id).length>0){
            this.items[index.local-1].champion.classes=this.items[index.local-1].champion.classes.filter(i => i.id !=this.items[index.local-1].item[subitem].class_id)
          }
          this.items[index.local-1].item.splice(subitem,1);
        }
      }
      this.getClasses();
    },
    
    getClasses(){
      let arrClasses=[];
      let arrItems=[];
      this.items.map(element=>{
        if(element.champion!=null){
         arrItems=arrItems.concat(element.item);
        }
      })
     let arrCheck=this.deduplicateCp(this.items);
      arrCheck.map(element=>{
        if(element.champion!=null){
         arrClasses= arrClasses.concat(element.champion.classes);
        }
      })
      let arrResult=[];
      if(arrClasses.length>0){
        arrClasses.map(element=>{
          let obj={
            id:null,
            name:null,
            avatar:null,
            skill:null,
            combinates:[],
            count:null,
          }
          if(element!=null){
            obj.id=element.id;
            obj.name=element.name;
            obj.avatar=element.avatar;
            obj.skill=element.skill;
            obj.combinates=element.combination_rates;
            obj.count= arrClasses.filter(i => i.id === element.id).length;
          }
          arrResult.push(obj);
        })
      }
      if(arrResult.length>0){
        this.classes=this.deduplicate(arrResult);
        this.classes.sort(function (a, b) {
        return b.count - a.count;
      });
      }
      let arrItemsResult=[];
      arrItems.map(element=>{
        if(element!=null){
          arrItemsResult.push(element)
        }
      })
        this.adItems=arrItemsResult;
      
    },

    deduplicate(arr) {
      let isExist = (arr, x) => {
        for(let i = 0; i < arr.length; i++) {
          if (arr[i].id === x.id) return true;
        }
        return false;
      }

      let ans = [];
      arr.forEach(element => {
        if(!isExist(ans, element)) ans.push(element);
      });
      return ans.sort();
    },
    deduplicateCp(arr) {
      let isExist = (arr, x) => {
        for(let i = 0; i < arr.length; i++) {
          if (arr[i].champion === x.champion) return true;
        }
        return false;
      }

      let ans = [];
      arr.forEach(element => {
        if(!isExist(ans, element)) ans.push(element);
      });
      return ans
    },

    saveTeam(){
        this.$validator.validateAll().then(async result => {
        if (result) {
          this.team.champions=[];
          this.team.user_id=JSON.parse(localStorage.getItem('userData1')).id;
          this.team.id=this.$route.params.id;
          this.items.map(element=>{
            let obj={
                champion_id:null,
                three_stars:null,
                position:null,
                item1:null,
                item2:null,
                item3:null,
            }
            if(element.champion!=null){
              obj.champion_id=element.champion.id;
              obj.position=element.local;
              obj.three_stars=element.start_3;
              if(element.item.length>0){
                obj.item1=element.item[0]!=undefined ? element.item[0].id : null;
                obj.item2=element.item[1]!=undefined ? element.item[1].id : null;
                obj.item3=element.item[2]!=undefined ? element.item[2].id : null;
              }
               this.team.champions.push(obj);
            }
           
          })
          const action ='home/team/updateTeam'
          const response = await this.$store.dispatch(action, 
          {
            form:this.team,
          })
          if (response.code === 200) {
            const mess='Sửa Thành Công'
            this.$showSuccess(mess)
            this.$router.push('/team/my-teams')
          } else {
            this.$showError(response.message)
          }
        }else {
            this.$showError(this.errors.all()[0]);
        }
      });
    },

   getItemById(id){
     let nameImg= null
     if(this.listItems.length>0){
       this.listItems.map(element=>{
          if(element.id==id){
            nameImg=element
          }
        })
     } 
     return nameImg==null? 1 :nameImg;
    },

    checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    },
     onScroll () {
      this.scrollInvoked++
    },
    cancel(){
        this.$router.push('/team/my-teams')
    }

  }
};
</script>

<style>
 .tooltip-card{
  z-index: 100;
  background: chartreuse;
}
</style>
