<template>
    <v-card>
     <v-card-title class="white--text" :style="$colorTitlePage" >Trang Quản Lý Hệ Tộc (Nhóm Tướng)</v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1  px-sm-3 mt-3"
      :disable-sort="true"
      hide-default-footer
      :page.sync="page"
      :items-per-page="itemsPerPage"
      @page-count="pageCount = $event"
    >
      <template v-slot:top> 
        <v-toolbar flat  class="mb-1">
          <v-toolbar-title>Danh Sách Hệ Tộc</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-select  style="max-width:30vmin; margin-top:21px"
            v-model="typeClass"
            :items="typesClass"
            item-text="name"
            item-value="value"
            label="Phân Loại"
            :reduce="option=>option.value"
            @change="loadClasses"
          >
          </v-select>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="paginationParams.search_text"
            label="Tìm Kiếm"
            single-line
            hide-details
            append-icon="mdi-magnify"
            @click:append="loadClasses"
            @keyup.enter="loadClasses"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark small class="mb-2" @click="addClasses">
            <v-icon>mdi-plus</v-icon>Thêm Hệ (Tộc)
          </v-btn>
        </v-toolbar >
      </template>
      <template v-slot:item.action="{ item }">
        <div style="width:80px !important">
          <v-btn x-small :disabled="item.country_lock_status ? true :false" fab  class="mr-sm-1" color="primary" @click="editClasses(item)">
              <v-icon dark >$edit</v-icon>
          </v-btn>
          <v-btn x-small :disabled="item.country_lock_status ? true :false" fab color="red"  @click="deleteClasses(item)">
              <v-icon color="white">$delete</v-icon>
          </v-btn>
        </div>
      </template>
      <template v-slot:item.number_champion="{item}" >
          <v-chip>{{item.champions_count }}</v-chip>
      </template>
      <template v-slot:item.rated="{item}" >
          <v-chip :color="getColor(item)" class="text-uppercase white--text">{{item.rated}}</v-chip>
      </template>
      <template v-slot:item.type="{item}" class="text-center">
       <v-chip> {{item.type == 0 ? 'Hệ' :'Tộc'}}</v-chip>
      </template>
      <template v-slot:item.combination="{ item }">
        <div style="width:18vmax !important">
          <div class="my-1" style="font-size:13px" v-if='item.combination_rates.length>0' v-for="(comb,index) in item.combination_rates" :key="index">
            <v-chip small>{{comb.combination}}</v-chip>  <span class="mb-sm-1">{{comb.content}} </span> <br>
         </div>
        </div> 
      </template>
      <template v-slot:item.skill="{item}">
        <div style="max-width:24vmax">
          {{item.skill}}
        </div>
      </template>
      <template v-slot:item.avatar="{item}">
        <img :src="$getFileUrl(item.avatar)" class="img-avatar" alt="">
      </template>
      <template v-slot:no-data>{{ 'No_data' }}</template>
    </v-data-table>
    <v-row class="text-center p-3">
      <v-col cols="12" sm="3" md="3">
        <v-select class="ml-3"
          :items="perPageItems"
          v-model="itemsPerPage"
          outlined
          dense 
          @change="itemsPerPage = parseInt($event, 10)"
        ></v-select>
      </v-col>
      <v-col cols="12" sm="9" md="9">
         <v-pagination class="justify-end" v-model="page" :length="pageCount"></v-pagination>
      </v-col>
    </v-row>

    <!-- modal -->
    <edit-modal></edit-modal>
  </v-card>
</template>

<script>
import EditModal from '~/components/admin/classes/editClasses'

export default {
  components: { EditModal },
   layout:'admin',
  data() {
    return {
      isLock:false,
      logginUserRole:null,
      paginationParams: {
      search_text: '',
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 5,
      items: [
       
      ],
      perPageItems: [5,10,20],
      loading: true,
      typeClass:null,
    }
  },
  computed: {
    loadingText() {
      return this.$t('Loading') + ' ...'
    },
    typesClass(){
      return [
        {name:'Hệ',value:0},
        {name:'Tộc',value:1},
        {name:'Tất Cả',value:null}
      ]
    },
    headers() {
      return [
        { text: 'Tên Hệ (Tộc)', value: 'name' },
        { text: 'Ảnh Đại Diện', value: 'avatar', align:'center' },
        { text: 'Skill', value: 'skill' },
        { text: 'Hạng Đánh Giá', value:'rated', align:'center' },
        { text: 'Hệ/Tộc', value: 'type',align:'center'},
        { text: 'Tỉ Lệ Ghép', value: 'combination'},
        { text: 'Số Lượng Tướng', value: 'number_champion', align:'center'},
        { text: 'Tùy Chỉnh', value: 'action', sortable: false }
      ]
    },
    statusEditModal() {
      return this.$store.getters['admin/classes/statusEditModal']
    }
  },
  watch: {
    statusEditModal: function(val) {
      if (!val) {
        // load user when close edit modal
        this.loadClasses()
      }
    }
  },
  created() {
    this.loadClasses()
  },
  methods: {
    async loadClasses() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/classes/loadList',{
          params:this.paginationParams,
        }
      )
      if (200 === response.code) {
        let arrClass=[];
        if(this.typeClass!=null){
          response.data.map(element=>{
            if(element.type==this.typeClass){
              arrClass.push(element);
            }
          });
          this.items=arrClass;
        }else{
          this.items = response.data
        }
        this.loading = false
      }else{
        this.$showError(response.message);
        if(response.code==500){
          this.$router.push('/');
        }
      }
    },

    changePerPage() {
      this.paginationParams.page = 1 // reset to page 1
      this.loadClasses()
    },

    openEditModal() {
      this.$store.commit('admin/classes/SET_STATUS_EDIT_MODAL', true)
    },

    addClasses() {
      this.$store.commit('admin/classes/SET_EDIT_CLASSES', null)
      this.openEditModal()
    },

    editClasses(item) {
      this.$store.commit('admin/classes/SET_EDIT_CLASSES', Object.assign({}, item))
      this.openEditModal()
    },

    deleteClasses(item) {
      swal({
        title: 'Bạn có chắc chắn không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          // call api delete user
          const response = await this.$store.dispatch(
            'admin/classes/delete',
             {
              id:item.id,
            }
          )
          if (200 === response.code) {
            this.loadClasses()
            this.$showSuccess('Xóa Thành Công')
          } else {
            this.$showError(response.message)
          }
        }
      })
    },
    getColor(item){
      switch(item.rated) {
        case 's':
          return 'red lighten-1'
          break;
        case 'a':
          return 'orange lighten-1'
          break;
        case 'b':
          return 'green'
          break;
        case 'c':
          return 'pink lighten-1'
          break;
        default:
          return'gray'
      }
    }
  }
}
</script>

</template>