<template>
   <div>
     <v-row class="mt-3">
       <v-col cols="12" sm="6" md="3" lg="3">
         <v-card class="pa-3 card-box v-sheet" to="/admin/champions">
           <div class="d-flex flex-row">
              <div class="card-icon elevation-6 success pa-7">
                <v-icon class="theme--dark notranslate" style="font-size:35px">mdi-snapchat</v-icon>
              </div>
              <div class="ml-6  card-text">
                  <div class="ml-auto text-right">
                    <div class="body-3 black--text font-weight-bold">
                        Vị Tướng
                    </div>
                    <h6 class="display-2 font-weight-light text--primary">{{totalChampion}}</h6>
                  </div>
              </div>
           </div>
           <div class="card-info">
             <v-divider></v-divider>
             <v-icon small class="mr-1">mdi-clock</v-icon> <span class="caption grey--text font-weight-light">Mới cập nhật</span>
           </div>
         </v-card>
       </v-col>
       <v-col cols="12" sm="6" md="3" lg="3">
         <v-card class="pa-3 card-box v-sheet" to="/admin/posts">
           <div class="d-flex flex-row">
              <div class="card-icon elevation-6 orange pa-7">
                <v-icon class="theme--dark notranslate" style="font-size:35px">mdi-newspaper</v-icon>
              </div>
              <div class="ml-6  card-text">
                  <div class="ml-auto text-right">
                    <div class="body-3 black--text font-weight-bold">
                        Bài Viết - Cẩm Nang
                    </div>
                    <h6 class="display-2 font-weight-light text--primary">{{totalPost}}</h6>
                  </div>
              </div>
           </div>
           <div class="card-info">
             <v-divider></v-divider>
             <v-icon small class="mr-1">mdi-clock</v-icon> <span class="caption grey--text font-weight-light">Mới cập nhật</span>
           </div>
         </v-card>
       </v-col>
       <v-col cols="12" sm="6" md="3" lg="3">
         <v-card class="pa-3 card-box v-sheet" to="/admin/teams">
           <div class="d-flex flex-row">
              <div class="card-icon elevation-6 info pa-7">
                <v-icon class="theme--dark notranslate" style="font-size:35px">mdi-book-open-page-variant</v-icon>
              </div>
              <div class="ml-6  card-text">
                  <div class="ml-auto text-right">
                    <div class="body-3 black--text font-weight-bold">
                        Đội Hình Gợi Ý
                    </div>
                    <h6 class="display-2 font-weight-light text--primary">{{totalTeam}}</h6>
                  </div>
              </div>
           </div>
           <div class="card-info">
             <v-divider></v-divider>
             <v-icon small class="mr-1">mdi-clock</v-icon> <span class="caption grey--text font-weight-light">Mới cập nhật</span>
           </div>
         </v-card>
       </v-col>
       <v-col cols="12" sm="6" md="3" lg="3">
         <v-card class="pa-3 card-box v-sheet" to="/admin/users">
           <div class="d-flex flex-row">
              <div class="card-icon elevation-6 red pa-7">
                <v-icon class="theme--dark notranslate" style="font-size:35px">mdi-poll</v-icon>
              </div>
              <div class="ml-6  card-text">
                  <div class="ml-auto text-right">
                    <div class="body-3 black--text font-weight-bold">
                        Số Người Đăng Ký
                    </div>
                    <h6 class="display-2 font-weight-light text--primary">{{totalUser}}</h6>
                  </div>
              </div>
           </div>
           <div class="card-info">
             <v-divider></v-divider>
             <v-icon small class="mr-1">mdi-clock</v-icon> <span class="caption grey--text font-weight-light">Mới cập nhật</span>
           </div>
         </v-card>
       </v-col>
     </v-row>
     <v-row class="mt-2">
       <v-col cols="12" md="6" xl="6">
         <BarChart/>
       </v-col>
       <v-col cols="12" md="6" xl="6">
         <LineChar />
       </v-col>
     </v-row>
     <v-row>
            <v-col cols="12" class="pr-5">
                <div class="new-post" style="background-color: #fff !important;">
                    <span class="title" style="color:#000 !important">Bài Viết Nổi Bật</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <div class="box-post-leage">
                        <div class="item-build" style="border:1px solid #000; box-sizing:border-box" @click="getPostById(i.id)" v-for="(i,index) in  listPopuPost" :key="i.id" v-if="index<4">
                             <img :src="$getFileUrl(i.avatar)" alt="">
                             <div class="title-post pb-1">
                                {{i.title}}
                            </div>
                            <div class="d-flex flex-row justify-start px-2 comment-post-number" color="black">
                                <div class="mr-3" >
                                    <v-icon small>mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                </div>
                                <div class="mr-3">
                                    <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                </div>
                                <div class="ml-1" >
                                    <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                </div>
            </v-col>
         </v-row>
   </div>
</template>
<script>
import BarChart from "../../components/charts/BarChart.vue";
import LineChar from "../../components/charts/LineChartPost";
export default {
  layout:'admin',
  components: {
    BarChart,
    LineChar
  },
  data(){
    return {
      totalChampion:null,
      totalPost:null,
      totalTeam:null,
      totalUser:null,
    }
  },
  created(){
    this.getTotal();
    this.getListUserAndPost();
  },
  computed:{
    listUserByDate(){
      return this.$store.getters['admin/home/listUserByDate'];
    },
    listPopuPost(){
      return this.$store.getters['home/posts/listPopuPost'];
    }
  },
  methods:{
  async getTotal(){
     const  res=await this.$store.dispatch('admin/home/getTotalHome');
      if(res.code==200){
        this.totalChampion=res.data.total_champion;
        this.totalPost=res.data.total_post
        this.totalTeam=res.data.total_team
        this.totalUser=res.data.total_user
      }
    },

    getListUserAndPost(){
      this.$store.dispatch('admin/home/getListUserByDate');
      this.$store.dispatch('home/posts/getPopuPost');
    },

    getPostById(id){
          this.$store.dispatch('home/posts/whatPost',{id:id});
          this.$router.push({name:'posts-id',params:{id:id}});

      },
  }
}
</script>
<style>
.card-box{
  position: relative;
  width: 100%;
  height: 120px;
  cursor: pointer;
}
.card-icon{
  position:absolute;
  top:-18px;
}
.card-text{
  position: absolute;
  right:20px;
  top:10px;
}
.card-info{
  position: absolute;
  bottom: 3px;
  left: 5px;
  right:5px;
  width: 100%;
  padding:0 5px;
}
</style>
