<template>
  <v-dialog
    v-model="open"
    persistent
    @keydown.esc="closeEditModal"
    max-width="80vw"
  >
    <v-card>
        <v-card-title class="primary white--text">
            <span class="headline">
                {{ isAdd ? 'THÊM THÔNG TIN TƯỚNG' :'SỬA THÔNG TIN TƯỚNG'}}
            </span>
        </v-card-title>
        <v-card-text>
        <v-form ref="adItemForm">
          <v-row>
            <v-col cols="12" sm="4" md="4" xl="4">
               <fieldset class="text-fiel px-sm-3">
                  <legend  class="text-legend" > Thông Tin Chung </legend>
                  <v-text-field prepend-icon="mdi-pencil"
                  label="Tên Tướng*"
                  data-vv-as="Tên Tướng*"
                  v-model="advancedItem.name"
                  data-vv-name="advancedItem_name"
                  v-validate="'required'"
                  ></v-text-field>
                  <v-file-input show-size counter
                    v-model="image"
                    data-vv-name="image"
                    accept="image/png, image/jpeg, image/bmp"
                    data-vv-as="Hình ảnh" label="Hình ảnh"
                    :placeholder="advancedItem.avatar!=null? advancedItem.avatar : 'Hình ảnh'"
                    v-validate="isAdd? {required:true,image:true, size:5000}:{image:true,size:5000, }"
                    class="text-truncate"
                    prepend-icon="mdi-camera"></v-file-input>
                  <div class="d-flex flex-row">
                    <v-select
                    prepend-icon="mdi-poll"
                    v-model="advancedItem.rated"
                    :items="rateds" class="mr-2"
                    item-text="name"
                    item-value="value"
                    v-validate="'required'"
                    data-vv-as="Xếp hạng"
                    label="Xếp hạng*"
                    data-vv-name="rated" small-chips=""
                    :reduce="option=>option.value"
                    persistent-hint
                  ></v-select>
                  <v-select
                       prepend-icon="mdi-poll"
                      v-model="advancedItem.status"
                      :items="statusChampions"
                      item-text="name" class="ml-2"
                      item-value="value"
                      v-validate="'required'"
                      data-vv-as="Trạng Thái"
                      label="Trạng Thái"
                      data-vv-name="rated" small-chips=""
                      :reduce="option=>option.value"
                      persistent-hint
                  ></v-select>
                  </div>

                  <v-text-field prepend-icon="mdi-pencil"
                  label="Tên Kỹ Năng*"
                  data-vv-as="Tên Kỹ Năng"
                  data-vv-name="skill"
                  v-model="advancedItem.skill"
                  v-validate="'required'"
                  ></v-text-field>
                  <v-file-input show-size counter
                    v-model="imageSkill"
                    data-vv-name="image"
                    accept="image/png, image/jpeg, image/bmp"
                    data-vv-as="Hình ảnh" label="Hình ảnh"
                    :placeholder="advancedItem.avatar_skill!=null? advancedItem.avatar_skill : 'Hình ảnh'"
                    v-validate="isAdd? {required:true,image:true, size:5000}:{image:true,size:5000, }"
                    class="text-truncate"
                    prepend-icon="mdi-camera"></v-file-input>
                <v-textarea
                  label="Chi Tiết Kỹ Năng"
                  rows="3" class="mt-sm-2"   data-vv-as="Chi Tiết Kỹ Năng"
                  prepend-icon="mdi-comment" v-validate="'required'"
                  v-model="advancedItem.info_skill"
                  outlined=""
                ></v-textarea>
               </fieldset>
            </v-col>
            <v-col cols="12" sm="4" md="4" xl="4">
               <fieldset class="text-fiel px-sm-3">
                  <legend  class="text-legend" > Chỉ Số Của Tướng </legend>
                  <v-row class="ma-0">
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-select
                        v-model="advancedItem.price"
                        :items="[1,2,3,4,5]"
                        item-text="name"
                        item-value="value"
                        v-validate="'required'"
                        data-vv-as="Giá Tiền"
                        label="Giá Tiền*"
                        data-vv-name="rated"
                        :reduce="option=>option.value"
                        persistent-hint
                      ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-text-field
                        label="Năng Lượng*"
                        data-vv-as="Năng Lượng*"
                        v-model="advancedItem.mana"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'" type="number"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-text-field
                        label="Máu*"
                        data-vv-as="Máu*"
                        v-model="advancedItem.health"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-text-field
                        label="NL Khởi Đầu*"
                        data-vv-as="NL Khởi Đầu*"
                        v-model="advancedItem.start_mana"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                       <v-select
                        v-model="advancedItem.range"
                        :items="[1,2,3,4,5]"
                        item-text="name"
                        item-value="value"
                        v-validate="'required'"
                        data-vv-as="Tầm Đánh*"
                        label="Tầm Đánh*"
                        data-vv-name="rated"
                        :reduce="option=>option.value"
                        persistent-hint
                    ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-text-field
                        label="Sát Thương*"
                        data-vv-as="Sát Thương*"
                        v-model="advancedItem.attack_damage"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-text-field
                        label="Tốc Độ Đánh*"
                        data-vv-as="Tốc Độ Đánh*"
                        v-model="advancedItem.attack_speed"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-text-field
                        label="Giáp*"
                        data-vv-as="Giáp*"
                        v-model="advancedItem.armor"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'" type="number"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-text-field
                        label="DPS*"
                        data-vv-as="DPS*"
                        v-model="advancedItem.dps"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6" class="my-0 py-0">
                      <v-text-field
                        label="Kháng Phép*"
                        data-vv-as="Kháng Phép*"
                        v-model="advancedItem.magic_resist"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'" type="number"
                        ></v-text-field>
                    </v-col>
                    <v-col class="my-0 py-0">

                      <v-textarea
                        label="Thông Tin Cập Nhật"
                        rows="3" class="mt-sm-2"
                        v-model="advancedItem.info_update"
                        outlined=""
                      ></v-textarea>
                    </v-col>

                  </v-row>

               </fieldset>
            </v-col>
            <v-col cols="12" sm="4" md="4" xl="4">
                <fieldset class="text-fiel px-sm-3">
                    <legend  class="text-legend" >Nhóm Tướng</legend>
                     <label class="typo__label ml-sm-2 font-weight-bold">Tộc Tướng</label>
                     <multiselect class="mutil mb-sm-3" name="Tộc Tướng"
                     v-model="origins" placeholder="Mời Bạn Chọn Tộc Tướng" :hide-selected="true" :max="2"
                     label="name" track-by="name" :options="originsClasses" :limit-text="limitText" :multiple="true" :limit="2"></multiselect>
                      <label class="typo__label ml-sm-2 font-weight-bold">Hệ Tướng</label>
                     <multiselect class="mutil"  name="Hệ Tướng" :max="2"
                     v-model="classes" placeholder="Mời Bạn Chọn Hệ Tướng"  :hide-selected="true"
                     label="name" track-by="name" :options="classesOption" :multiple="true" :limit="2"></multiselect>
               </fieldset>

               <fieldset class="text-fiel px-sm-3">
                    <legend  class="text-legend" > Trang Bị Hữu Dụng</legend>
                <multiselect v-model="adItem[0]" label="name" track-by="name" placeholder="Mảnh Ghép 1" :options="advanced_items" :option-height="40" :show-labels="false" class="mb-sm-2">
                    <template slot="singleLabel" slot-scope="props" class="ma-0 pa-0">
                        <div class="d-flex flex-row my-0">
                            <img :src="$getFileUrl(props.option.avatar)" width="60px" height="60px" class="mb-0 mt-1 py-0">
                            <div class="ml-sm-5 my-0 pb-0 pt-1">
                                <span class="mt-5 font-weight-bold">{{ props.option.name }}</span>
                                <p class="option__small text-line2">{{ props.option.uses }} </p>
                            </div>
                        </div>
                    </template>
                    <template slot="option" slot-scope="props" class="ma-0 pa-0">
                        <div class="d-flex flex-row ml-0 pl-0">
                            <img :src="$getFileUrl(props.option.avatar)" width="50px" height="50px">
                            <div class="ml-sm-5">
                                <span>{{ props.option.name }}</span>
                                <p class="option__small text-line2">{{ props.option.uses }} </p>
                            </div>
                        </div>
                    </template>
                </multiselect>
                <multiselect v-model="adItem[1]" placeholder="Mảnh Ghép 1" :options="advanced_items" :option-height="40" :show-labels="false" class="mb-sm-2" label="name" track-by="name">
                    <template slot="singleLabel" slot-scope="props" class="ma-0 pa-0">
                        <div class="d-flex flex-row my-0 pt-1" >
                            <img :src="$getFileUrl(props.option.avatar)" width="60px" height="60px" class="mb-0 mt-1 py-0">
                            <div class="ml-sm-5 my-0 pb-0">
                                <span class="mt-5 font-weight-bold">{{ props.option.name }}</span>
                                <p class="option__small text-line2" >{{ props.option.uses }} </p>
                            </div>
                        </div>
                    </template>
                    <template slot="option" slot-scope="props" class="ma-0 pa-0">
                        <div class="d-flex flex-row ml-0 pl-0">
                            <img :src="$getFileUrl(props.option.avatar)" width="50px" height="50px">
                            <div class="ml-sm-5">
                                <span>{{ props.option.name }}</span>
                                <p class="option__small text-line2">{{ props.option.uses }} </p>
                            </div>
                        </div>
                    </template>
                </multiselect>

                <multiselect v-model="adItem[2]" label="name" track-by="name" placeholder="Mảnh Ghép 1"  :options="advanced_items" :option-height="40" :show-labels="false">
                    <template slot="singleLabel" slot-scope="props" class="ma-0 pa-0">
                        <div class="d-flex flex-row my-0 pt-1">
                            <img :src="$getFileUrl(props.option.avatar)" width="60px" height="60px" class="mb-0 mt-1 py-0">
                            <div class="ml-sm-5 my-0 pb-0">
                                <span class="mt-5 font-weight-bold">{{ props.option.name }}</span>
                                <p class="option__small text-line2">{{ props.option.uses }} </p>
                            </div>
                        </div>
                    </template>
                    <template slot="option" slot-scope="props" class="ma-0 pa-0">
                        <div class="d-flex flex-row">
                            <img :src="$getFileUrl(props.option.avatar)" width="50px" height="50px">
                            <div class="ml-sm-5">
                                <span>{{ props.option.name }}</span>
                                <p class="option__small text-line2">{{ props.option.uses }} </p>
                            </div>
                        </div>
                    </template>
                </multiselect>
               </fieldset>
            </v-col>
          </v-row>
        </v-form>
        </v-card-text>
        <v-divider class="mx-4"></v-divider>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red darken-1" small="" class="white--text" @click="closeEditModal">
            Hủy Bỏ
            </v-btn>
            <v-btn color="blue darken-1" small="" class="white--text" @click="save">
            Hoàn Thành
            </v-btn>
        </v-card-actions>


    </v-card>
  </v-dialog>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
export default {
  data() {
    return {
      image:null,
      imageSkill:null,
      isAdd: false,
      origins:[],
      classes:[],
      adItem:[
        null, null, null
      ]

    }
  },
  computed: {
    open() {
      return this.$store.getters['admin/champions/statusEditModal']
    },

    types(){
        return this.$classTypes;
    },
    statusChampions(){
      return this.$statusChampions;
    },
    originsClasses(){
      let arr = this.$store.getters['admin/classes/allClasses'];
      let arrOrigin =[];
      if(arr!=null){
         arr.map(element=>{
          if(element.type==1){
            arrOrigin.push(element);
          }
        })
      }

      return arrOrigin;
    },
     classesOption(){
      let arr = this.$store.getters['admin/classes/allClasses'];
      let arrOrigin =[];
      if(arr!=null){
         arr.map(element=>{
          if(element.type==0){
            arrOrigin.push(element);
          }
        })
      }

      return arrOrigin;
    },
    rateds(){
        return this.$rateds
    },
    advancedItem() {
      const currentItem = this.$store.getters['admin/champions/editChampions']
      if (this.$isNotEmptyObject(currentItem)) {
        this.isAdd = false
        this.image=null;
        this.imageSkill=null;
        this.classes=[];
        this.origins=[];
        let arrOrigin=[];
        let arrClasses=[];
        //setup lại dữ liệu cho select 2
        if(currentItem.classes.length>0){
          currentItem.classes.map(element=>{
            if(element.type==1){
              arrOrigin.push(element);
            }else{
              arrClasses.push(element);
            }
          })
        };
        this.origins=arrOrigin;
        this.classes=arrClasses;
        if(currentItem.advanced_items.length>0){
          let arrItems=currentItem.advanced_items;
            this.adItem=arrItems
        }else{
          this.adItem=[null, null, null]
        }

        // edit
        return {
            id: currentItem.id,
            name: currentItem.name,
            avatar: currentItem.avatar,
            skill: currentItem.skill,
            avatar_skill:currentItem.avatar_skill,
            status:currentItem.status,
            info_skill:currentItem.info_skill,
            rated:currentItem.rated,
            info_update:currentItem.info_update,
            mana:currentItem.mana,
            health:currentItem.health,
            start_mana:currentItem.start_mana,
            range:currentItem.range,
            attack_speed:currentItem.attack_speed,
            attack_damage:currentItem.attack_damage,
            armor:currentItem.armor,
            dps:currentItem.dps,
            magic_resist:currentItem.magic_resist,
            price:currentItem.price
        }
      } else {
        this.isAdd = true
        return {
            name:null,
            avatar:null,
            status:'normal',
            info_update:null,
            skill:null,
            avatar_skill:null,
            info_skill:null,
            mana:null,
            health:null,
            start_mana:0,
            range:1,
            attack_damage:null,
            attack_speed:null,
            armor:null,
            dps:null,
            magic_resist:null,
            rated:'s',
            classes:[],
            items:[],
            price:1,
        }
      }
    },
    advanced_items() {
      return this.$store.getters['admin/item/allAdvancedItems'] || []
    },

  },
  created(){
      this.getAllAdvancedItem();
  },
  methods: {
    getAllAdvancedItem(){
        this.$store.dispatch('admin/item/loadAllItem',{type:'advanced-item'});
        this.$store.dispatch('admin/classes/loadAllClasses');
    },
    closeEditModal() {
        this.$refs.adItemForm.reset()
        this.image=null;
        this.adItem=[null, null, null];
        this.origins=[];
        this.classes=[];
        this.$store.commit('admin/champions/SET_STATUS_EDIT_MODAL', false)
    },
    save() {
      this.$validator.validateAll().then(async result => {
        if (result) {
            if (this.image) {
            this.advancedItem.avatar = await this.$uploadImage(this.image);
          }
          if(this.imageSkill){
            this.advancedItem.avatar_skill= await this.$uploadImage(this.imageSkill);
          }
          this.advancedItem.classes=[];
          this.advancedItem.items=[];
          this.advancedItem.attack_speed=parseFloat(this.advancedItem.attack_speed,10);

          if(this.adItem!=null){
            this.adItem.map(element=>{
              if(element!=null){
                this.advancedItem.items.push(element.id);
              }
            })
          }

          if(this.origins!=null&& this.origins.length>0){
            this.origins.map(element=>{
              this.advancedItem.classes.push(element.id)
            })
          }
          if(this.classes!=null&& this.classes.length>0){
            this.classes.map(element=>{
              this.advancedItem.classes.push(element.id)
            })
          }
          const action = this.isAdd ? 'admin/champions/add' : 'admin/champions/update'
          const response = await this.$store.dispatch(action,
          {
            form:this.advancedItem,
          })
          if (response.code === 200) {
            const mess=this.isAdd==true ? 'Thêm Thành Công':'Sửa Thành Công'
            this.$showSuccess(mess)
            this.closeEditModal();
            this.$store.commit('admin/champions/SET_EDIT_CHAMPIONS', undefined)
            this.$refs.adItemForm.reset()
          } else {
            this.$showError(response.message)
          }
        } else {
          if(this.errors.all()[0]=='Avatar chỉ có thể chứa tệp nhỏ hơn NaN undefined'){
            this.$showError('Logo chỉ có thể chứa tệp nhỏ hơn 5MB');
          }else{
            this.$showError(this.errors.all()[0]);
          }
        }
      })
    },

      checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    },
    limitText(count) {
        return 'Bạn chỉ được chọn tối đa' + ` ${count} ` + 'tộc tướng';
    },
  }
}
</script>
<style>
.text-legend{
    margin-left:20px !important;
    font-style:italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14pt;
}
.text-fiel{
    padding:10px !important;
    border:1px solid #000;
    border-radius: 5px;
}
</style>
