<template>
  <v-dialog
    v-model="open"
    persistent
    @keydown.esc="closeEditModal"
    max-width="800px"
  >
    <v-card>
        <v-card-title class="primary white--text">
            <span class="headline">
                {{ isAdd ? 'THÊM TRANG BỊ LỚN' :'SỬA TRANG BỊ LỚN'}}
            </span>
        </v-card-title>
            <v-form ref="adItemForm">
                <v-card-text>
                    <fieldset class="text-fiel px-sm-3">
                    <legend  class="text-legend" > Thông tin trang bị </legend>
                    <v-row>
                    <v-col cols="12" sm="6" md="6" xl="6">
                        <v-text-field prepend-icon="mdi-pencil"
                        label="Tên trang bị*" dense=""
                        data-vv-as="Tên trang bị*"
                        v-model="advancedItem.name"
                        data-vv-name="advancedItem_name"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6">
                         <v-file-input show-size counter   
                            v-model="image"
                            data-vv-name="image" dense=""
                            accept="image/png, image/jpeg, image/bmp"
                            data-vv-as="Hình ảnh" label="Hình ảnh"
                            :placeholder="advancedItem.avatar!=null? advancedItem.avatar : 'Hình ảnh'" 
                            v-validate="isAdd? {required:true,image:true, size:5000}:{image:true,size:5000, }"
                            class="text-truncate"
                            prepend-icon="mdi-camera"></v-file-input>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field prepend-icon="mdi-pencil"
                        label="Công dụng*"
                        data-vv-as="Công dụng"  dense=""
                        v-model="advancedItem.uses"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6">
                        <v-select
                          prepend-icon="mdi-format-list-bulleted-type"
                          v-model="advancedItem.rated"
                          :items="rateds"
                          item-text="name"
                          item-value="value" dense=""
                          v-validate="'required'"
                          data-vv-as="Xếp hạng"
                          label="Xếp hạng*"
                          data-vv-name="rated" small-chips=""
                          :reduce="option=>option.value"
                          persistent-hint
                        ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6">    
                        <v-text-field prepend-icon="mdi-feather"
                        label="Thông Tin Cập Nhật*"
                        data-vv-as="Thông Tin Cập Nhật*" dense=""
                        placeholder="Nếu Có" 
                        v-model="advancedItem.info_update"
                        data-vv-name="integration"
                        ></v-text-field>
                    </v-col> 
                    <v-col cols="12" sm="6" md="6" xl="6">  
                         <label class="typo__label ml-sm-2">Mảnh ghép 1</label>
                         <multiselect v-model="base_item_id1" placeholder="Mảnh Ghép 1" label="title" :options="base_items" :option-height="40" :show-labels="false">
                            <template slot="singleLabel" slot-scope="props" class="ma-0 pa-0">
                               <div class="d-flex flex-row my-0">
                                   <img :src="$getFileUrl(props.option.avatar)" width="60px" height="60px" class="mb-0 mt-1 py-0">
                                   <div class="ml-sm-5 my-0 pb-0 pt-3">
                                        <span class="mt-5 font-weight-bold">{{ props.option.name }}</span>
                                        <p class="option__small">+{{ props.option.number_power }} {{checkUseTypes(props.option.uses_type)}}</p>
                                   </div>
                               </div>
                            </template>
                            <template slot="option" slot-scope="props" class="ma-0 pa-0">
                                <div class="d-flex flex-row">
                                    <img :src="$getFileUrl(props.option.avatar)" width="50px" height="50px">
                                    <div class="ml-sm-5 mt-sm-2">
                                        <span>{{ props.option.name }}</span>
                                        <p class="option__small"> + {{ props.option.number_power }} {{checkUseTypes(props.option.uses_type)}}</p>
                                    </div>
                                </div>
                            </template>
                        </multiselect>
                    </v-col> 
                    <v-col cols="12" sm="6" md="6" xl="6">    
                         <label class="typo__label ml-sm-2">Mảnh ghép 2</label>
                        <multiselect v-model="base_item_id2" placeholder="Mảnh Ghép 1" label="title" :options="base_items" :option-height="40" :show-labels="false">
                            <template slot="singleLabel" slot-scope="props" class="ma-0 pa-0">
                               <div class="d-flex flex-row my-0">
                                   <img :src="$getFileUrl(props.option.avatar)" width="60px" height="60px" class="mb-0 mt-1 py-0">
                                   <div class="ml-sm-5 my-0 pb-0 pt-3">
                                        <span class="mt-5 font-weight-bold">{{ props.option.name }}</span>
                                        <p class="option__small">+{{ props.option.number_power }} {{checkUseTypes(props.option.uses_type)}}</p>
                                   </div>
                               </div>
                            </template>
                            <template slot="option" slot-scope="props" class="ma-0 pa-0">
                                <div class="d-flex flex-row ml-0 pl-0">
                                    <img :src="$getFileUrl(props.option.avatar)" width="50px" height="50px">
                                    <div class="ml-sm-5 mt-sm-2">
                                        <span>{{ props.option.name }}</span>
                                        <p class="option__small"> + {{ props.option.number_power }} {{checkUseTypes(props.option.uses_type)}}</p>
                                    </div>
                                </div>
                            </template>
                        </multiselect>
                    </v-col> 
                </v-row>  
                <h5>Trang bị đặc biệt</h5>
                <v-row align="center" class="mx-1">
                  <v-checkbox
                    v-model="enabled" readonly=""
                    hide-details
                    class="shrink mr-3 mt-0"
                  ></v-checkbox>
                  <v-select :disabled="!enabled" 
                    v-model="advancedItem.class_id"
                    :items="classes"
                    item-text="name"
                    item-value="id"
                    label="Tướng sử dụng trang bị này sẽ thuộc nhóm tướng bạn chọn"
                    :reduce="option=>option.id">
                  </v-select> 
                </v-row> 
                    </fieldset> 
            </v-card-text>
        </v-form>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red darken-1" small="" class="white--text" @click="closeEditModal">
            Hủy Bỏ
            </v-btn>
            <v-btn color="blue darken-1" small="" class="white--text" @click="save">
            Hoàn Thành  {{advancedItem.class_id}}
            </v-btn> 
        </v-card-actions>
        
     
    </v-card>
  </v-dialog>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
export default {
  data() {
    return {
      image:null,
      isAdd: false,
      base_item:{
        advanced_item_id:null,
        base_item_id:null,
        id:null,
      },
      base_item_id1:null,
      base_item_id2:null,
    }
  },
  computed: {
    open() {
      return this.$store.getters['admin/item/statusEditModal1']
    },

    enabled(){
      if(this.base_item_id1!=null && this.base_item_id2!=null){
        if(this.base_item_id1.id==13||this.base_item_id2.id==13){
          return true;
        }else{
          return false;
        }
      }else{
        return false;
      }
      
    },

    types(){
        return this.$classTypes;
    },
    rateds(){
        return this.$rateds
    },
    advancedItem() {
      const currentItem = this.$store.getters['admin/item/editAdvancedItem']
      if (this.$isNotEmptyObject(currentItem)) {
        this.isAdd = false
        this.image=null;
        if(currentItem.base_items.length >0 ){
            this.base_item_id1=currentItem.base_items[0] ? currentItem.base_items[0] : null;
            this.base_item_id2=currentItem.base_items[1] ? currentItem.base_items[1] : null;
        }
        
        // edit
        return {
            id: currentItem.id,
            name: currentItem.name,
            avatar: currentItem.avatar,
            uses: currentItem.uses,
            rated:currentItem.rated,
            info_update:currentItem.info_update,
            class_id:currentItem.class_id
        }
      } else {
        this.isAdd = true
        return {
            name:null,
            avatar:null,
            uses:null,
            rated:'s',
            info_update:null,
            class_id: null,
        }
      }
    },
    base_items() {
      return this.$store.getters['admin/item/allBaseItems']
    },
    classes(){
      return this.$store.getters['admin/classes/allClasses'];
    }

  },
  created(){
      this.getAllBaseItem();
      this.getAllClasses();
  },
  methods: {
    getAllClasses(){
      this.$store.dispatch('admin/classes/loadAllClasses');
    },
    getAllBaseItem(){
        this.$store.dispatch('admin/item/loadAllItem',{type:'base-item'});
    },
    closeEditModal() {
        this.$refs.adItemForm.reset()
        this.base_item_id1=null;
        this.base_item_id2=null;
        this.image=null;
        this.$store.commit('admin/item/SET_STATUS_EDIT_MODAL1', false)
    },
    save() {
      this.$validator.validateAll().then(async result => {
        if (result) {
            if (this.image) {
            this.advancedItem.avatar = await this.$uploadImage(this.image);
          }
          this.advancedItem.base_item_id1=this.base_item_id1.id;
          this.advancedItem.base_item_id2=this.base_item_id2.id;
          const action = this.isAdd ? 'admin/item/add' : 'admin/item/update'
          const response = await this.$store.dispatch(action, 
          {
            form:this.advancedItem,
            type:"advanced-item"
          })
          if (response.code === 200) {
            const mess=this.isAdd==true ? 'Thêm Thành Công':'Sửa Thành Công'
            this.$showSuccess(mess)
            this.closeEditModal();
            this.$store.commit('admin/item/SET_EDIT_ADVANCED_ITEM', undefined)
            this.$refs.adItemForm.reset()
          } else {
            this.$showError(response.message)
          }
        } else {
          if(this.errors.all()[0]=='Avatar chỉ có thể chứa tệp nhỏ hơn NaN undefined'){
            this.$showError('Logo chỉ có thể chứa tệp nhỏ hơn 5MB');
          }else{
            this.$showError(this.errors.all()[0]);
          }
        }
      })
    },

      checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    },
  }
}
</script>
<style>
.text-legend{
    margin-left:20px !important;
    font-style:italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14pt;
}
.text-fiel{
    padding:10px !important;
    border:1px solid #000;
    border-radius: 5px;
}
</style>
