<template>
  <v-dialog
    v-model="open"
    persistent
    @keydown.esc="closeEditModal"
    max-width="800px"
  >
    <v-card>
        <v-card-title class="primary white--text">
            <span class="headline">
                {{ isAdd ? 'THÊM TRANG BỊ CƠ BẢN' :'SỬA TRANG BỊ CƠ BẢN'}}
            </span>
        </v-card-title>
            <v-form ref="itemForm">
                <v-card-text>
                     <fieldset class="text-fiel px-sm-3">
                    <legend  class="text-legend" > Thông tin trang bị </legend>
                    <v-row class="mx-sm-1">
                    <v-col cols="12" sm="6" md="6" xl="6">
                        <v-text-field prepend-icon="mdi-pencil"
                        label="Tên Trang Bị*"
                        data-vv-as="Tên Trang Bị*"
                        v-model="base_item.name"
                        data-vv-name="base_item_name"
                        v-validate="'required'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6">
                         <v-file-input show-size counter   
                            v-model="image" small-chips
                            data-vv-name="image"
                            accept="image/png, image/jpeg, image/bmp"
                            data-vv-as="Logo"
                            :placeholder="base_item.avatar!=null? base_item.avatar : 'Ảnh đại diện'" 
                            v-validate="isAdd? {required:true,image:true, size:5000}:{image:true,size:5000, }"
                            class="text-truncate"
                            prepend-icon="mdi-camera"></v-file-input>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6">
                        <v-text-field prepend-icon="mdi-phone-classic"
                        label="Chỉ Số Công Dụng*"
                        data-vv-as="Chỉ Số Công Dụng*" type="number"
                        v-model="base_item.number_power"
                        data-vv-name="number_power"
                        v-validate="'required|numeric'"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6">
                        <v-select
                        prepend-icon="mdi-format-list-bulleted-type"
                          v-model="base_item.uses_type"
                          :items="uses_types"
                          item-text="name"
                          item-value="value"
                          v-validate="'required'"
                          data-vv-as="Loại Công Dụng"
                          label="Loại Công Dụng*"
                          data-vv-name="uses_type"
                          :reduce="option=>option.value"
                          persistent-hint
                        ></v-select>
                    </v-col>
                    
                    <v-col cols="12" sm="6" md="6" xl="6">
                        <v-select
                          prepend-icon="mdi-format-list-bulleted-type"
                          v-model="base_item.rated"
                          :items="rateds"
                          item-text="name"
                          item-value="value"
                          v-validate="'required'"
                          data-vv-as="Xếp hạng"
                          label="Xếp hạng*"
                          data-vv-name="rated"
                          :reduce="option=>option.value"
                        ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6">
                        <v-text-field prepend-icon="mdi-feather"
                        label="Thông Tin Cập Nhật*"
                        data-vv-as="Thông Tin Cập Nhật*"
                        v-model="base_item.info_update"
                        data-vv-name="info_update"
                        placeholder="Nếu có"
                        ></v-text-field>
                    </v-col>
                     
                    </v-row> 
                     </fieldset>
                </v-card-text>
            </v-form>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" class="white--text" @click="closeEditModal">Hủy Bỏ</v-btn>
                <v-btn color="blue darken-1" class="white--text mr-sm-4" @click="save">Lưu Lại</v-btn>
            </v-card-actions>
        
     
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      image:null,
      isAdd: false,
      isActive:true,
    }
  },
  computed: {
    open() {
      return this.$store.getters['admin/item/statusEditModal']
    },
    rateds(){
        return this.$rateds
    },
    uses_types(){
        return this.$usesTypes
    },
    base_item() {
      const currentBaseItem = this.$store.getters['admin/item/editBaseItem']
      if (this.$isNotEmptyObject(currentBaseItem)) {
        this.isAdd = false
        this.image=null;
        // edit
        return {
          id: currentBaseItem.id,
          name: currentBaseItem.name,
          avatar: currentBaseItem.avatar,
          uses_type: currentBaseItem.uses_type,
          number_power:currentBaseItem.number_power,
          rated:currentBaseItem.rated,
          info_update:currentBaseItem.info_update,
        }
      } else {
        this.isAdd = true
        return {
          name:null,
          avatar:null,
          uses_type:null,
          number_power:null,
          rated:'s',
          info_update:null,
        }
      }
    }
  },
  watch: {
  },
  created() {

  },
  methods: {
    closeEditModal() {
      this.base_item.name='';
      this.base_item.uses_type=null;
      this.base_item.number_power=null;
      this.base_item.rated=null;
      this.base_item.info_update=null;
      this.base_item.avatar=null;
      this.image=null;
      this.$store.commit('admin/item/SET_STATUS_EDIT_MODAL', false)
    },
    save() {
      this.$validator.validateAll().then(async result => {
        if (result) {
            if (this.image) {
            this.base_item.avatar = await this.$uploadImage(this.image)
          }
          const action = this.isAdd ? 'admin/item/add' : 'admin/item/update'
          const response = await this.$store.dispatch(action, 
          {
            type:"base-item",
            form:this.base_item
          })
          if (response.code === 200) {
            this.closeEditModal();
            const mess=this.isAdd==true ? 'Thêm Thành Công':'Sửa Thành Công'
            this.$showSuccess(mess)

            this.$store.commit('admin/item/SET_EDIT_BASE_ITEM', undefined)
            this.$refs.itemForm.reset()
          } else {
            this.$showError(response.message)
          }
        } else {
          if(this.errors.all()[0]=='Logo chỉ có thể chứa tệp nhỏ hơn NaN undefined'){
            this.$showError('Logo chỉ có thể chứa tệp nhỏ hơn 5MB');
          }else{
            this.$showError(this.errors.all()[0]);
          }
        }
      })
    }
  }
}
</script>
<style>
.text-legend{
    margin-left:20px !important;
    font-style:italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14pt;
}
.text-fiel{
    padding:10px !important;
    border:1px solid #000;
    border-radius: 5px;
}
</style>
