<template>
    <div>
        <v-row>
            <v-col cols="12" sm="3" md="3" lg="3">
                <v-card color="#203744">
                    <div class="list-base-items">
                        <div class="white--text title">Trang Bị Cơ Bản</div>
                        <v-divider class="my-1" color="white"></v-divider>
                        <div class="box-show">
                            <div v-for="(item,index) in listBaseItems" :key="index" class="img-items">
                                 <v-tooltip bottom :tag="'div'" nudge-bottom="-5" color="#000"   class="p-0 tooltip" style="min-width:13vmax; width:13vmax !important;  opacity:1.0 !important " open-on-hover allow-overflow >
                                    <template v-slot:activator="{ on }">
                                        <img @click="getAdItemById(item,index)" v-on="on"  :src="$getFileUrl(item.avatar)" alt="" :style="isClickBaseItem==true && indexBaseItem==index ?'opacity:1; border:1px solid #fff':''">
                                    </template>
                                    <div class="box-tooltip">
                                        <div class="d-flex flex-row justify-start">
                                            <img :src="$getFileUrl(item.avatar)" alt="">
                                            <span>{{item.name}}</span>
                                        </div>
                                        <v-divider class="my-2 mx-0" color="white"></v-divider>
                                        <div>
                                             + {{item.number_power}} {{checkUseTypes(item.uses_type)}}
                                        </div>
                                        <div  class="box-aditem">
                                          <span>Ghép Thành:</span>  <img v-for="aditem in deduplicate(item.advanced_items)" :key="aditem.id" :src="$getFileUrl(aditem.avatar)" alt="">
                                        </div>
                                    </div>
                                 </v-tooltip>
                            </div>
                            
                        </div>
                    </div>
                </v-card>
                
                 <v-card color="#203744" class="mt-5">
                    
                    <div class="list-base-items">
                        <div class="white--text title">Trang Bị Lớn</div>
                        <v-divider class="my-1" color="white"></v-divider>
                        <v-text-field @keyup.enter="getAdItems" v-model="search_aditem" prepend-inner-icon="mdi-magnify" outlined dense hide-details placeholder="Tìm kiếm theo tên!"  dark="" class="my-2"></v-text-field>
                        <div class="box-show">
                            <div v-for="(item,index) in listAdItems" :key="index" class="img-items">
                                 <v-tooltip top :tag="'div'" nudge-bottom="-5" color="#000"   class="p-0 tooltip" style="min-width:13vmax; width:13vmax !important;  opacity:1.0 !important " open-on-hover allow-overflow >
                                    <template v-slot:activator="{ on }">
                                        <img v-on="on" @click="getInfoAdItems(item,index)"  :src="$getFileUrl(item.avatar)" alt="" :style="isClickItem==true && indexItem==index ?'opacity:1; border:1px solid #fff':''">
                                    </template>
                                    <div class="box-tooltip">
                                        <div class="d-flex flex-row justify-start">
                                            <img :src="$getFileUrl(item.avatar)" alt="">
                                            <span>{{item.name}}</span>
                                        </div>
                                        <v-divider class="my-2 mx-0" color="white"></v-divider>
                                        <div>
                                            {{item.uses}}
                                        </div>
                                        <div  class="box-aditem">
                                          <span>Mảnh Ghép:</span>  <img v-for="(aditem,index) in deduplicate(item.base_items)" :key="index" :src="$getFileUrl(aditem.avatar)" alt="">
                                          <img v-if="deduplicate(item.base_items).length==1" v-for="aditem in deduplicate(item.base_items)" :key="aditem.id" :src="$getFileUrl(aditem.avatar)" alt="">
                                        </div>
                                    </div>
                                 </v-tooltip>
                            </div>
                        </div>
                    </div>
                 </v-card>
            </v-col>
            <v-col cols="12" sm="9" md="9" lg="9">
                <v-card color="#203744">
                     <div class="list-base-items">
                        <div class="white--text title">Thông Tin Chi Tiết</div>
                         <v-divider class="my-1" color="white"></v-divider>
                         <div v-if="arrInfoItem.length>0" class="mx-2">
                             <div class="info-advanced-item">
                                 <img :src="$getFileUrl(infoItem.avatar)" alt="" >
                                 <span>{{infoItem.name}}</span>
                             </div>
                             <v-data-table
                                :headers="headers"
                                :items="arrInfoItem"
                                class="elevation-1 pa-2 my-2"
                                hide-default-footer=""
                                dark dense
                                disable-sort=""
                            >
                            <template v-slot:item.base_items="{item}">
                                <div style="width:100px" class="d-flex flex-row">
                                    <div v-for="(base,index) in item.base_items">
                                        <img class="img-base" :src="$getFileUrl(base.avatar)" v-if="base.id==infoItem.id">
                                    </div>
                                    <div v-for="(base,index) in item.base_items">
                                        <img v-if="base.id!=infoItem.id" class="img-base" :src="$getFileUrl(base.avatar)">   
                                    </div>
                                </div>
                            </template>
                            <template v-slot:item.avatar="{item}">
                                <img  :src="$getFileUrl(item.avatar)" alt="" class="img-base">
                            </template>

                            <template v-slot:item.uses="{item}">
                                <div style="width:500px; font-size:15px; margin:5px 0">
                                    {{item.uses}}
                                </div>
                            </template>

                            <template v-slot:item.rated="{item}">
                                <v-chip :color="getColor(item)" class="text-capitalize font-weight-bold">{{item.rated}}</v-chip>
                            </template>
                            </v-data-table>
                         </div>
                         <div v-else class="my-5 text-center">
                             <span class="font-weight-light white--text ">Mời bạn chọn trang bị để xem thông tin chi tiết!</span>
                         </div>
                     </div>
                </v-card>
            </v-col>
        </v-row>
    </div>         
</template>
<script>
export default {
    data:function(){
        return{
            search_aditem:null,
            isClickItem:false,
            indexItem:null,
            infoItem:null,
            isClickBaseItem:false,
            indexBaseItem:null,
            arrInfoItem:[],

            headers: [
                        {text: 'Mảnh Ghép',value: 'base_items',align:'center'},
                        { text: 'Hình Ảnh', value: 'avatar' ,align:'center'},
                        { text: 'Công Dụng', value: 'uses' },
                        { text: 'Hạng', value: 'rated' ,align:'center'},
                    ],
        }
    },
    created(){
        this.getBaseItems();
        this.getAdItems();
        
    },
    computed:{
        listBaseItems(){
            return this.$store.getters['home/database/listBaseItems'];
        },
        listAdItems(){
            return this.$store.getters['home/database/listItems'];
        }
    },
    watch:{
        search_aditem:function(){
            this.getAdItems();
        }
    },
    methods:{
        getBaseItems(){
            this.$store.dispatch('home/database/loadList', {type:'base_item'});
        },

        getAdItems(){
            this.$store.dispatch('home/database/loadList', {type:'items', params:{search_text:this.search_aditem}});
        },
        checkUseTypes(value){
            let str='';
            const arr= this.$usesTypes;
            arr.map(element =>{
                if(value==element.value){
                    str+=''+element.name
                }
            })
            return str;
        },
        deduplicate(arr) {
            let isExist = (arr, x) => {
                for(let i = 0; i < arr.length; i++) {
                if (arr[i].id === x.id) return true;
                }
                return false;
            }

            let ans = [];
            arr.forEach(element => {
                if(!isExist(ans, element)) ans.push(element);
            });
            return ans.sort();
            },

        getAdItemById(item,index){
            this.arrInfoItem=[];
            this.isClickBaseItem=true;
            this.indexBaseItem=index;
            this.infoItem=item;
            if(this.listAdItems.length>0 && item!=null){
                this.listAdItems.map(element=>{
                    if(element.base_items.filter(i=>i.id==item.id).length>0){
                        this.arrInfoItem.push(element);
                    }
                })
            }   
        },

        getInfoAdItems(item,index){
            this.arrInfoItem=[];
            this.isClickItem=true;
            this.indexItem=index;
            this.infoItem=item;

            this.arrInfoItem.push(item);
        },

        getColor(item){
               switch(item.rated) {
               case 's':
                    return '#DD0000'
                    break;
               case 'a':
                    return '#DAA520'
                    break;
               case 'b':
                    return 'green'
                    break;
               case 'c':
                    return '#0000CC'
                    break;
               default:
                    return'gray'
               }
          },
    }
}
</script>