.list-base-items {
    padding: 5px;
}

.list-base-items .title {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 5px;
}

.list-base-items .box-show {
    margin: 10px 0px 0px;
    padding: 1px;
}

.list-base-items .box-show .img-items {
    margin: 0px;
    display: inline-block;
    margin: 4.3px;
}

.list-base-items .box-show .img-items img {
    width: 37px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid rgb(100, 98, 98);
    opacity: 0.65;
}

.box-tooltip {
    padding: 0px;
    width: 265px;
}

.box-tooltip img {
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-right: 10px;
}

.box-tooltip span {
    font-size: 13pt;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 12px;
}

.box-tooltip .box-aditem {
    display: inline-block;
    padding: 0;
    width: 100%;
    margin-top: 5px;
}

.box-tooltip .box-aditem img {
    height: 25px;
    width: 25px;
    margin: 2px;
}

.box-tooltip .box-aditem span {
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

.info-advanced-item {
    width: 100%;
    margin: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}

.info-advanced-item img {
    width: 40px;
    height: 40px;
    margin: 3px 5px 0 5px;
    border-radius: 5px;
    border: 1px solid rgb(240, 236, 236);
}

.info-advanced-item span {
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
}

.list-base-items .img-base {
    width: 37px;
    height: 37px;
    margin: 8px 5px 0 8px;
    border-radius: 5px;
    border: 1px solid rgb(116, 109, 109);
}


/* 
    Style box champion buil
*/

.box {
    margin-left: 50px;
    width: 420px
}

.box .hex {
    display: inline-block;
    text-align: left;
    position: relative;
    width: 44px;
    height: 26px;
    margin: 8px 2px;
    background-color: #102531;
    background-size: auto 46px;
    background-position: 50%;
    border-left: 3px solid #17313a;
    border-right: 3px solid #17313a;
    cursor: pointer
}

.box .hex .hexTop {
    border-top-color: #213042;
    border-right-color: #213042
}

.box .hex .hexBottom {
    border-bottom-color: #213042;
    border-left-color: #213042
}

.box .hex .hex:after {
    content: "";
    display: block;
    padding-bottom: 90%
}

.box .hex .hexBottom,
.box .hex .hexTop {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    -webkit-transform: scaleY(.5774) rotate(-45deg);
    transform: scaleY(.5774) rotate(-45deg);
    background: inherit;
    width: 30px;
    height: 30px;
    left: 4px
}

.box .hex .hexBottom:after,
.box .hex .hexTop:after {
    content: "";
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    width: 37px;
    height: 22px;
    -webkit-transform: rotate(45deg) scaleY(1.7) translateY(-11px);
    transform: rotate(45deg) scaleY(1.7) translateY(-11px)
}

.box .hex .hexTop {
    top: -15px;
    border-top: 3px solid #17313a;
    border-right: 3px solid #17313a
}

.box .hex .hexTop:after {
    background-position: top
}

.box .hex .hexBottom {
    bottom: -15px;
    border-bottom: 3px solid #17313a;
    border-left: 3px solid #17313a
}

.box .hex .hexBottom:after {
    background-position: bottom
}

.box .hex .characters-item .character-wrapper {
    margin: 0
}

.box .hex .characters-item .character-wrapper .character-icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    opacity: 0
}

.box .hex .character-items .characters-item .character-wrapper {
    padding: 0;
    margin: 0
}

.margin-11 {
    left: -26px;
}


/* Info version */

.box-version {
    margin: 30px 3px 5px;
}

.box-version .ver-name {
    font-size: 13pt;
    font-weight: bold;
    line-height: 1.2;
}

.box-rated {
    font-weight: bold;
    margin: 0px 5px;
    padding-top: 25px;
}

.box-rated span {
    padding: 3px 8px 3px;
    text-transform: uppercase;
    border-radius: 4px;
}

.box-name-team {
    padding-top: 28px;
}


/* Box team champions */

.box-champions-team {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 7px 4px
}

.box-champions-team .img-box-team {
    width: 100%;
    opacity: 1;
    height: 100%;
}

.box-champions-team .start-box-team {
    position: absolute;
    top: -8px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: #d4a108;
    box-shadow: 5px;
}

.box-champions-team .items-box-team {
    position: absolute;
    bottom: -9px;
    margin-left: -4px;
    text-align: center;
    align-items: center;
    width: 120%;
    display: flex;
    flex-wrap: wrap;
}

.box-champions-team .items-box-team img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgb(49, 48, 48);
}


/* custom tooltip champions */

.tooltip-champions {
    width: 18.5vw;
    z-index: 1000;
}

.tool-image-name {
    display: block;
    width: 30%;
    text-align: center;
    border-right: 1px solid rgb(134, 127, 127);
    padding-right: 5px;
}

.tool-image-name .img-tool {
    width: 55px;
    height: 55px;
    margin: 0 auto;
}

.tool-image-name span {
    text-align: center;
    font-size: 13px;
}

.tooltip-champions .tool-class {
    margin: 5px 2px;
    width: 52%;
    padding-right: 5px;
    padding-left: 7px;
    border-right: 1px solid rgb(134, 127, 127);
}

.tooltip-champions .tool-class span {
    font-size: 13px;
    margin-bottom: 1px;
}

.tooltip-champions .tool-price {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.tooltip-champions .tool-price span {
    background-color: #f1ee08;
    font-weight: bold;
    padding: 3px 4px;
    border-radius: 5px;
    color: #000;
}

.tooltip-champions .tool-items {
    border-top: 1px solid rgb(134, 127, 127);
    border-bottom: 1px solid rgb(134, 127, 127);
    margin: 5px auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tooltip-champions .tool-items img {
    border: 1px solid rgb(122, 111, 111);
    width: 30px;
    height: 30px;
    border-radius: 5px;
}


/* Box v-expan */

.box-expan {
    width: 50%;
    padding: 0 6px;
}

.border-right {
    border-right: 1px solid rgb(122, 111, 111);
}

.border-bottom {
    border-bottom: 1px solid rgb(240, 236, 236);
}


/*  */

.box-class-champion {
    width: 100%;
}

.box-class-champion .box-item-class {
    display: block;
    /* margin: 0 auto; */
    margin: 4px 10px;
    display: flex;
    flex-wrap: wrap;
}

.box-class-champion .box-item-class img {
    width: 39px;
    height: 39px;
    /* border: 1px solid rgb(177, 169, 169); */
    border-radius: 5px;
    padding: 5px;
    background-color: #6f4939;
    color: #fff;
}

.box-class-champion .box-item-class span {
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bold;
    padding: 1px 12px 1px 10px;
    background-color: #6f4939;
    border-radius: 0 25px 25px 0;
}

.font-14 {
    font-size: 14pt;
    margin-top: 10px;
}

.font-13 {
    font-size: 13pt;
    margin-top: 10px;
}

.img-box-35 {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(148, 130, 130);
    margin: 2px 0px 6px;
}

.item-top {
    width: 41px;
    height: 41px;
    position: relative;
    margin: 3px 9px;
    border: 1px solid rgb(109, 93, 93);
    border-radius: 5px;
}

.item-top img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.item-top span {
    position: absolute;
    bottom: -5px;
    right: -10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    padding: 0px 6px;
    font-size: 13px;
    font-weight: bold;
}


/*  Rated Form*/

.list-view {
    width: 100%;
    padding: 10px;
}

.list-view .item-list-view {
    display: block;
    color: #88a0a7;
    font-weight: 500;
    font-size: 15pt;
    margin: 18px 0px;
    padding-left: 15px;
    padding-top: 3px;
    cursor: pointer;
}

.list-view .active {
    border-left: 3px solid #007bff;
    color: #fff;
    font-weight: 600;
    padding-left: 12px;
}


/* Danh sách rated */

.box-show-rated {
    width: 100%;
    padding: 5px;
}

.box-show-rated .row-item {
    width: 100%;
    background-color: #102531;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.box-show-rated .row-item .name_rated {
    font-weight: bold;
    width: 12%;
    padding: 3px;
    background-color: rgb(45, 78, 78);
    display: block;
    text-align: center;
}

.box-show-rated .row-item .name_rated span {
    font-size: 22pt;
    color: rgb(15, 1, 1);
    line-height: 1em;
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
}

.box-show-rated .row-item .item-rated {
    display: inline-block;
    width: 88%;
    padding: 5px 5px 3px 11px;
    margin-top: 4px;
}

.box-show-rated .row-item .item-rated img {
    width: 55px;
    height: 55px;
    margin: 2px 7px 1px;
}

.img-mini {
    width: 24px;
    height: 24px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid rgb(155, 134, 134);
}

.img-35px {
    width: 35px;
    height: 35px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid rgb(155, 134, 134);
}

.box-class-rated {
    width: 120px;
    margin: 0 auto;
    margin: 1px 5px 5px;
    text-align: center;
}

.box-class-rated .name-class {
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
}

.table-custom {
    background-color: #203744 !important;
    color: #fff !important;
    font-size: 18px !important;
    border: 1px ridge rgb(204, 196, 196) !important;
}

.table-custom thead th {
    border-top: 1px ridge rgb(204, 196, 196) !important;
    border-bottom: 1px ridge rgb(204, 196, 196) !important;
    text-align: center !important;
    font-size: 15px !important;
}

.table-custom tbody td {
    border-bottom: 1px ridge rgb(204, 196, 196) !important;
    text-align: center !important;
    font-size: 15px !important;
}

.table-custom tr:nth-child(even) {
    background-color: #152d38;
}

.table-custom tbody tr:hover {
    background-color: #112b3a !important;
}

.table-custom thead tr {
    background-color: #152d38;
}

.box-win {
    width: 70%;
    margin: 0 auto;
}

.box-win .row-box {
    padding: 10px 20px;
    border: 1px ridge rgb(204, 196, 196) !important;
    background-color: #152d38;
}

.box-win .row-box span {
    font-size: 14pt;
    color: #fff;
}

.table-custom-1 {
    background-color: #152d38 !important;
    padding: 5px;
}

.table-custom-1 thead tr th {
    text-align: center !important;
    font-weight: 500 !important;
    font-size: 11pt !important;
}

.table-custom-1 tbody tr td {
    font-size: 11pt !important;
    padding: 7px 8px;
    font-weight: 500 !important;
}

.table-custom-1 tbody tr:nth-last-child(even) {
    background-color: #142531
}

.table-custom-1 tbody tr:hover {
    background-color: #0f202b !important;
}


/* box classes */

.box-classes-with {
    width: 100%;
    padding: 10px 5px;
    margin-top: 20px;
    background-color: #0d202b !important;
}

.text-comb {
    border: 1px solid #fff;
    padding: 1px 7px;
    margin-bottom: 4px;
    font-size: 11pt;
}

.text-comb-content {
    font-size: 11pt;
}

.box-classes-with .box-item-class {
    background-color: #102531 !important;
    border: 1px solid rgb(117, 109, 109);
    padding: 8px 5px 8px 9px;
}

.item-class-name {
    width: 24%;
}

.item-class-info {
    width: 50%;
}

.box-img-register {
    position: relative;
    width: 13rem;
    height: 12rem;
    margin: 2rem auto 5px;
}

.box-img-register .img-user {
    left: 0;
    position: absolute;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 3px solid rgb(231, 231, 222);
    box-shadow: 2px 2px rgba(43, 109, 185, 0.25);
}

.box-img-register .btn-camera {
    bottom: -0.5rem;
    right: 27%;
    position: absolute;
    margin: 0px;
    border-radius: 8px;
}

.box-img-user {
    position: relative;
    width: 100%;
    margin-bottom: 220px;
    margin-top: 30px;
}

.box-img-user .img-user {
    left: 12.5%;
    position: absolute;
    width: 75%;
    height: 160px;
    max-width: 160px;
    border-radius: 50%;
    border: 3px solid rgb(184, 49, 94);
}

.box-img-user .btn-camera {
    bottom: -165px;
    right: 27%;
    position: absolute;
    margin: 0px;
    border-radius: 8px;
}

.box-advan {
    position: relative;
    width: 100%;
    max-height: 200px;
}

.box-advan img {
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
    cursor: pointer;
}

.box-advan span {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2;
    color: rgb(17, 1, 1);
    font-weight: bold;
    font-size: 14pt;
    background-color: honeydew;
    width: 100%;
    display: block;
    border-radius: 0 0 5px 5px;
    text-align: center;
    text-transform: uppercase;
}