    /* Custom thanh cuộn */
    
     ::-webkit-scrollbar {
        width: 10px;
        height: 10px
    }
    
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
     ::-webkit-scrollbar-thumb:horizontal {
        border-radius: 10px;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgba(129, 124, 124, 0.5);
        ;
    }
    /* custom form đăng nhập */
    
    .login-form-title {
        display: block;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        font-weight: bold;
        padding-top: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
    
    .login-form {
        padding: 10px 30px;
    }
    
    .icon-login {
        font-size: 60px;
        padding-top: 3rem;
    }
    
    .img-login {
        width: 12rem;
        height: 12rem;
        margin-top: 1rem;
    }
    /* Button login */
    
    .container-login100-form-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 35px;
    }
    
    .wrap-login100-form-btn {
        width: 100% !important;
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
    }
    
    .login100-form-bgbtn {
        position: absolute;
        z-index: -1;
        width: 300%;
        height: 100% !important;
        background: #a64bf4;
        background: -webkit-linear-gradient( to right, #21d4fd, #b721ff, #21d4fd, #b721ff);
        background: -o-linear-gradient(to right, #21d4fd, #b721ff, #21d4fd, #b721ff);
        background: -moz-linear-gradient(to right, #21d4fd, #b721ff, #21d4fd, #b721ff);
        background: linear-gradient(to right, #21d4fd, #b721ff, #21d4fd, #b721ff);
        top: 0;
        left: -100%;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .login100-form-btn {
        font-size: 15px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    
    .text-footer {
        margin-top: 80px;
        margin-bottom: 20px;
    }
    
    .txt1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #0f0101;
        line-height: 1.5;
    }
    
    .txt2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1px;
        color: #110101 !important;
        line-height: 1.7;
        font-weight: bold;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        outline: none !important;
        text-decoration: none;
    }
    
    .btn-login {
        padding: 15px 30px !important;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        width: 80%;
        height: 50px;
        line-height: 1.2;
        height: 100% !important;
        background: #a64bf4;
        background-image: linear-gradient(to left, #007adf 0%, #00ecbc 100%)!important;
        color: white !important;
        font-weight: bold !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .check-login {
        font-size: 16px !important;
    }
    
    .forgot-link {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 6px;
    }
    /* image trong danh sách */
    
    .img-avatar {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin-top: 3px;
        border: 0.5px solid #b6c1c4;
    }
    
    .img-item {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-top: 2px;
        border: 0.5px solid #bbe0eb;
    }
    
    .text-line2 {
        display: -webkit-box;
        font-size: 13px !important;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* box class */
    
    .box-class {
        border: 1px solid #203744;
        margin-bottom: 5px;
        background: #203744;
        border-radius: 5px;
    }
    
    .box-item {
        border: 1px solid #203744;
        margin-bottom: 5px;
        background: #203744;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }
    
    .box-item img {
        width: 32px;
        height: 32px;
        border-radius: 5px;
        margin: 2px 2px;
    }
    /* hex builder form */
    /*  */
    
    .board {
        margin-left: 50px;
    }
    
    .hex {
        display: inline-block;
        text-align: left;
        position: relative;
        width: 72px;
        height: 42px;
        margin: 14px 5px;
        background-color: #102531;
        background-size: auto 80px;
        background-position: 50%;
        border-left: 3px solid #17313a;
        border-right: 3px solid #17313a;
        cursor: pointer
    }
    
    .hexTop {
        border-top-color: #213042;
        border-right-color: #213042
    }
    
    .hexBottom {
        border-bottom-color: #213042;
        border-left-color: #213042
    }
    
    .hex:after {
        content: "";
        display: block;
        padding-bottom: 90%
    }
    
    .board .hex .hexBottom,
    .board .hex .hexTop {
        position: absolute;
        z-index: 1;
        overflow: hidden;
        -webkit-transform: scaleY(.5774) rotate(-45deg);
        transform: scaleY(.5774) rotate(-45deg);
        background: inherit;
        width: 50px;
        height: 50px;
        left: 8px
    }
    
    .board .hex .hexBottom:after,
    .board .hex .hexTop:after {
        content: "";
        position: absolute;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        background: inherit;
        width: 64.5px;
        height: 41px;
        -webkit-transform: rotate(45deg) scaleY(1.7) translateY(-20.5px);
        transform: rotate(45deg) scaleY(1.7) translateY(-20.5px)
    }
    
    .board .hex .hexTop {
        top: -25px;
        border-top: 4px solid #17313a;
        border-right: 4px solid #17313a
    }
    
    .board .hex .hexTop:after {
        background-position: top
    }
    
    .board .hex .hexBottom {
        bottom: -25px;
        border-bottom: 4px solid #17313a;
        border-left: 4px solid #17313a
    }
    
    .board .hex .hexBottom:after {
        background-position: bottom
    }
    
    .board .hex .character-level {
        opacity: 0.5;
        color: #6497af;
        position: absolute;
        top: -25px;
        left: 50%;
        font-size: 20px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        letter-spacing: -3px;
        margin-left: -1px;
        text-shadow: 0 2px 5px #000, 0 2px 5px #000;
        z-index: 2;
        cursor: pointer;
    }
    
    .board .hex .character-level.active {
        opacity: 1;
        color: #e4c157
    }
    
    .board .hex .characters-item {
        position: absolute;
        top: -20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 0;
        z-index: 5
    }
    
    .board .hex .characters-item .character-wrapper {
        margin: 0
    }
    
    .board .hex .characters-item .character-wrapper .character-icon {
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
        opacity: 0
    }
    
    .board .hex .character-items {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 10
    }
    
    .board .hex .character-items .characters-item {
        position: static;
        width: auto;
        padding: 0;
        justify-items: flex-start;
        -webkit-transform: none;
        transform: none
    }
    
    .board .hex .character-items .characters-item .character-wrapper {
        padding: 0;
        margin: 0
    }
    
    .board .hex .character-items .characters-item .character-wrapper .character-icon {
        width: 22px;
        height: 22px;
        min-width: 22px;
        min-height: 22px;
        border-color: #17313a;
        opacity: 1;
        border-radius: 50%;
        margin-left: 1px;
        margin-right: 1px
    }
    
    .board .hex .hexIn {
        width: 80%;
        padding-bottom: 93.923%;
        margin: 0 2%;
        visibility: hidden;
        -webkit-transform: rotate(-60deg) skewY(30deg);
        transform: rotate(-60deg) skewY(30deg)
    }
    
    .board .hex .hexIn,
    .board .hex .hexIn .hexLink {
        position: absolute;
        overflow: hidden;
        outline: 1px solid transparent
    }
    
    .board .hex .hexIn .hexLink {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        background: #123040;
        visibility: visible;
        -webkit-transform: skewY(-30deg) rotate(60deg);
        transform: skewY(-30deg) rotate(60deg)
    }
    
    .board .hex .hexIn .hexLink .characters-item {
        position: absolute;
        left: -100%;
        right: -100%;
        top: -13px;
        width: 110%;
        height: 110%;
        margin: 0 auto;
        justify-items: flex-start
    }
    
    .board .hex .hexIn .hexLink .characters-item .character-wrapper .character-icon {
        width: 84px;
        height: 84px;
        min-width: 84px;
        min-height: 84px
    }
    
    .board.four-row .hex:nth-child(14n+8) {
        margin-left: 12%
    }
    
    @media (max-width:1259.98px) {
        .builder .board-full .drag-zone {
            margin-top: 50px
        }
        .board {
            width: 440px
        }
        .board .hex {
            width: 44px;
            height: 26px;
            margin: 12px 5px;
            background-size: auto 46px
        }
        .board .hex .hexBottom,
        .board .hex .hexTop {
            width: 30px;
            height: 30px;
            left: 4px
        }
        .board .hex .hexBottom:after,
        .board .hex .hexTop:after {
            width: 37px;
            height: 22px;
            -webkit-transform: rotate(45deg) scaleY(1.7) translateY(-11px);
            transform: rotate(45deg) scaleY(1.7) translateY(-11px)
        }
        .board .hex .hexTop {
            top: -15px
        }
        .board .hex .hexBottom {
            bottom: -15px
        }
        .board .hex .characters-item {
            top: -12px
        }
        .board .hex .characters-item .character-wrapper .character-icon {
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px
        }
        .board .hex .character-level {
            top: -18px;
            font-size: 14px
        }
        .board .hex .character-items .characters-item .character-wrapper .character-icon {
            width: 16px;
            height: 16px;
            min-width: 16px;
            min-height: 16px
        }
    }
    
    .margin-10 {
        left: -42px;
    }
    
    .img-champion {
        width: 50px;
        height: 50px;
        min-width: 40px;
        min-width: 40px;
        margin: 5px 4.15px 0 4.15px;
        /* border:1px solid rgb(212, 26, 26); */
    }
    
    .img-items {
        width: 35px;
        height: 35px;
        min-width: 30px;
        min-width: 30px;
        margin: 4px 4px 0 4px;
    }
    
    .img-items-1 {
        width: 35px;
        height: 35px;
        min-width: 30px;
        min-width: 30px;
        margin: 6.4px 4px 8px 7px;
    }
    
    .itemShow {
        width: 50px;
        height: 50px;
        border-radius: 15%;
    }
    
    .img-hexagon {
        position: absolute;
        bottom: -20px;
        left: 0;
        top: 0px;
        width: 68px;
        /* height: 37px; */
    }
    
    .img-class {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 3px;
        border: 1px solid gray;
        background-position: center center;
    }
    /* Champion box in form teams index */
    
    .box-champions {
        position: relative;
        width: 65px;
        height: 65px;
        margin: 7px 4px
    }
    
    .img-box {
        width: 100%;
        opacity: 1;
        height: 100%;
        border-radius: 5px;
        box-shadow: 2px 1.5px rgb(228, 214, 214);
    }
    
    .start-box {
        position: absolute;
        top: -14px;
        width: 100%;
        text-align: center;
        align-items: center;
        font-size: 18px;
        color: #e4b014;
    }
    
    .items-box {
        position: absolute;
        bottom: -12px;
        text-align: center;
        align-items: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .items-box img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    /* show frontend */
    
    .box-show-champions {
        display: flex;
        flex-wrap: wrap;
        /* margin: 5px; */
        width: 100%;
    }
    
    .box-show-champions .box-item {
        position: relative;
        width: 133.3px;
        padding: 0px;
        border: 1px solid #4e8caf;
        margin: 7px;
        height: 150px;
        background-color: #000;
    }
    
    .box-show-champions .box-item .img-champ {
        width: 100%;
        height: 80%;
        left: 0;
        margin: 0px;
        position: absolute;
        bottom: 20%;
    }
    
    .box-show-champions .box-item .name-champions {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20%;
        left: 0;
        background: #482953;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        padding-left: 8px;
        padding-top: 3px;
    }
    
    .box-show-champions .box-item .rated-champions {
        top: -1px;
        right: -1px;
        color: #fff;
        font-weight: bolder;
        position: absolute;
        z-index: 5;
        padding: 1px 8px;
        text-transform: uppercase;
    }
    
    .box-show-champions .box-item .row-class {
        left: 2%;
        bottom: 20%;
        z-index: 5;
        position: absolute;
    }
    
    .box-show-champions .box-item .row-class .row-img {
        width: 19px;
        height: 19px;
        border: 1px solid #000;
        padding: 2px;
        background: rgb(23, 7, 24);
        color: #fff;
    }
    
    .box-show-champions .box-item .row-class span {
        font-weight: bold;
        color: #fff;
        font-size: 11.5px;
        margin-left: 3px;
        line-height: inherit;
    }
    /* Champion info by id*/
    
    .box-info-champion {
        position: relative;
        width: 100%;
        padding: 0px;
        border: 3px solid #233f50;
        height: 290px;
        background-color: #000;
    }
    
    .box-info-champion .img-champ {
        width: 100%;
        height: 84%;
        left: 0;
        margin: 0px;
        position: absolute;
        border-bottom: 2px solid rgb(253, 252, 252);
        bottom: 16%;
    }
    
    .box-info-champion .name-champions {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 16%;
        left: 0;
        background: #203744;
        color: #fff;
        font-size: 19px;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        padding: 7px 15px 0px 15px;
    }
    
    .box-info-champion .rated-champions {
        right: 0px;
        top: 0px;
        color: #fff;
        font-weight: bolder;
        border-radius: 0px 0px 0px 5px !important;
        position: absolute;
        z-index: 5;
        font-size: 18pt;
        text-transform: uppercase;
    }
    
    .box-info-champion .row-class {
        left: 6%;
        bottom: 20%;
        z-index: 5;
        position: absolute;
    }
    
    .box-info-champion .row-class .row-img {
        width: 33px;
        height: 33px;
        border: 1px solid #000;
        margin-top: 7px;
        padding: 2px;
        background: rgb(23, 7, 24);
        color: #fff;
    }
    
    .box-info-champion .row-class span {
        font-weight: bold;
        color: #fff;
        font-size: 12pt;
        margin-left: 7px;
        margin-top: 11px;
        line-height: inherit;
    }
    
    .title-skill {
        font-weight: bold;
        font-size: 12pt;
        color: #fff;
        padding: 5px;
        text-transform: uppercase;
    }
    
    .box-skill {
        background-color: #203744;
        border: 3px solid #233f50;
        min-height: 290px;
        height: 290px;
        position: relative;
    }
    
    .skill-info {
        padding: 5px 4px;
        margin-left: 8px;
    }
    
    .skill-info div {
        font-weight: bold;
        font-size: 13pt;
        color: #fff;
    }
    
    .skill-info span {
        color: #fff;
        font-size: 10.5pt;
        display: -webkit-box;
        line-height: 1.6;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .box-skill img {
        width: 18%;
        height: 18%;
    }
    
    .box-mana {
        top: 85%;
        left: 0%;
        position: absolute;
        width: 100%;
        padding: 0 10px;
    }
    
    .stats-champion {
        background-color: #203744;
        border: 3px solid #233f50;
        min-height: 290px;
        height: 290px;
        position: relative;
    }
    
    .stats-champion .item-advanced {
        display: flex;
        flex-wrap: wrap;
    }
    
    .stats-champion .item-advanced img {
        width: 50px;
        height: 50px;
        border-radius: 1px;
        border: 1px solid #fff;
        margin-top: 19px;
        margin-right: 5px;
    }
    
    .stats-champion .item-advanced .info-item {
        margin-left: 10px;
        margin-top: 17px;
        color: white;
        width: 42%;
    }
    
    .stats-champion .item-advanced .info-item span {
        display: block;
        color: white;
        font-size: 10px;
        margin-top: 1px;
    }
    
    .item-advanced .tooltip {
        opacity: 1 !important;
        z-index: inherit;
    }
    
    .box-stats {
        background-color: #203744;
        border: 3px solid #233f50;
        position: relative;
        padding-bottom: 10px;
    }
    
    .box-stats .item-stats {
        margin: 20px 14px 0px;
        font-weight: bold;
    }
    
    .box-stats .item-stats div {
        margin-top: 11px;
        font-family: sans-serif;
        display: flex;
        flex-wrap: wrap;
        text-justify: auto;
    }
    
    .box-stats .item-stats div span {
        color: #fff;
    }
    
    .box-classes {
        background-color: #203744;
        border: 3px solid #233f50;
        position: relative;
        padding-bottom: 10px;
        color: #fff;
    }
    
    .box-classes .item-class {
        width: 100%;
        padding: 10px 5px;
    }
    
    .box-classes .item-class img {
        width: 40px;
        height: 40px;
        /* border: 1px solid #fff; */
        border-radius: 50%;
        padding: 3px;
    }
    
    .box-classes .item-class .text-skill {
        width: 20vmax;
        max-width: 40%;
        font-size: 11pt;
        vertical-align: middle;
        display: table-cell;
    }
    
    .box-classes .item-class .cl-combination {
        width: 40%;
        font-size: 13px;
        vertical-align: middle;
        display: table-cell;
    }
    
    .box-classes .item-class .cl-combination .text-comb {
        border: 1px solid #fff;
        padding: 1px 7px;
        margin-bottom: 4px;
    }
    
    .bordered {
        border: 1px solid #233f50;
    }
    
    .bordered-grey {
        border: 1px solid rgb(126, 122, 122) !important;
    }
    
    .champ-in-class {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        position: relative;
        margin: 1px 8px;
    }
    
    .champ-in-class .img-champ {
        width: 100%;
        position: absolute;
        border-radius: 50%;
        top: 0;
        border: 2px solid rgb(218, 203, 203);
        left: 0;
    }
    
    .champ-in-class .box-img-class {
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
    }
    
    .champ-in-class .box-img-class .img-class {
        width: 23px;
        height: 23px;
        z-index: 5;
        background-color: #000;
        padding: 3px;
        margin-bottom: -6px;
    }
    
    .name-champ-class {
        text-align: center;
        color: #fff;
        margin-top: 10px;
        font-size: 11pt;
    }
    /* Post in frented */
    
    .new-post {
        width: 100%;
        padding: 5px 8px;
        color: #fff;
        background-color: #203744;
    }
    
    .new-post .title {
        font-weight: bold;
        font-size: 13pt;
        color: #fff;
        padding: 8px;
        text-transform: uppercase;
    }
    
    .new-post div {
        color: #fff;
    }
    /* ITem First */
    
    .new-post .item-first {
        height: 40vh;
        margin: 0 5px;
        border-radius: 5px;
        position: relative;
        width: 98%;
        border: 1px solid rgb(155, 150, 150);
        cursor: pointer;
    }
    
    .new-post .item-first img {
        width: 100%;
        height: 76%;
        border-radius: 5px 5px 0 0;
        position: absolute;
        left: 0;
        top: 0;
        filter: brightness(80%);
    }
    
    .new-post .item-first img:hover {
        filter: brightness(100%);
    }
    
    .new-post .item-first .info-post {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 24%;
        background: #f9fafa;
        color: #000;
        padding: 2px 5px;
        border-radius: 0 0 5px 5px;
    }
    
    .comment-post-number span {
        color: #000;
        padding-top: 15px;
        margin-top: 5px;
    }
    
    .comment-style span {
        color: #000;
        padding-top: 15px;
        margin-top: 5px;
        font-size: 13px;
    }
    
    .comment-style {
        padding-bottom: 6px;
        font-weight: bold;
    }
    
    .comment-post-number {
        position: absolute;
        bottom: 0;
        padding-bottom: 6px;
        font-weight: bold;
    }
    
    .cate-post {
        top: 0;
        left: 0;
        background: #e74c3c;
        text-transform: uppercase;
        color: #fff;
        height: 30px;
        position: absolute;
        z-index: 2;
        padding: 3px 7px;
        font-weight: 500;
        border-radius: 5px 0 5px 0;
    }
    
    .new-post .item-first .info-post .title-post {
        color: rgb(17, 11, 11);
        font-size: 19px;
        line-height: 1.1;
        font-weight: bold;
        display: -webkit-box;
        cursor: pointer;
        padding-top: 4px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* Item last in new */
    
    .new-post .item-last {
        background: rgb(213, 214, 209);
        height: 19vh;
        margin-right: 4px;
        border-radius: 5px;
        padding: 5px;
        font-size: 12pt;
        position: relative;
    }
    
    .new-post .item-last:first-child {
        margin-bottom: 14px;
    }
    
    .new-post .item-last:last-child {
        margin-top: 14px;
    }
    
    .new-post .item-last img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        background-blend-mode: darken;
        filter: brightness(80%);
        border: 1px solid rgb(155, 150, 150);
        cursor: pointer;
    }
    
    .new-post .item-last img:hover {
        opacity: 1;
        filter: brightness(100%);
    }
    
    .new-post .item-last .title-post {
        position: absolute;
        top: 62%;
        left: 0;
        cursor: pointer;
        font-size: 15px;
        line-height: 1.1;
        font-weight: bold;
        padding: 0 8px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
    }
    
    .new-post .item-last .comment-post-number span {
        bottom: 0;
        color: #fff;
    }
    
    .new-post .item-last .comment-post-number {
        position: absolute;
        bottom: 0;
        padding-bottom: 4px;
        padding-top: 4px;
        color: #fff;
        font-size: 13px;
    }
    /* Item in box update */
    
    .box-post-hot {
        display: block;
        margin: 0 5px;
    }
    
    .box-post-hot .item-hot {
        position: relative;
        width: 100%;
        height: 100px;
        background: #fff;
        color: #fff;
        font-size: 13px;
        padding: 3px 5px;
        border-radius: 5px;
        margin-top: 12.2px;
        background-color: #f1f2f5;
        cursor: pointer;
    }
    
    .box-post-hot .item-hot .title-post {
        position: absolute;
        top: 2%;
        left: 35%;
        color: rgb(17, 5, 5);
        font-size: 16px;
        font-family: sans-serif;
        font-weight: bold;
        padding: 5px 9px 2px;
        cursor: pointer;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .box-post-hot .item-hot .comment-post-number {
        position: absolute;
        bottom: 2%;
        left: 35%;
        padding-bottom: 5px;
        color: rgb(5, 5, 5);
        font-size: 13px;
        font-weight: bold;
    }
    
    .box-post-hot .item-hot img {
        width: 35%;
        height: 93%;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        margin: 3px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        background-blend-mode: darken;
        filter: brightness(100%);
    }
    /* box exp */
    
    .box-post-exp {
        display: block;
        margin: 0 5px;
    }
    
    .box-post-exp .item-hot {
        position: relative;
        width: 100%;
        height: 160px;
        color: #000;
        font-size: 13px;
        padding: 3px 5px;
        border-radius: 5px;
        background-color: #f1f2f5;
        cursor: pointer;
    }
    
    .box-post-exp .item-hot .description-post {
        color: #000;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.3;
        margin-top: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-indent: 25px;
        text-align: justify;
    }
    
    .box-post-exp .item-hot .title-post {
        position: absolute;
        top: 2%;
        left: 40%;
        color: rgb(17, 5, 5);
        font-size: 16px;
        font-family: sans-serif;
        font-weight: bold;
        padding: 5px 10px 2px;
        cursor: pointer;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .box-post-exp .item-hot .comment-post-number {
        position: absolute;
        bottom: 2%;
        left: 41%;
        padding-bottom: 5px;
        color: rgb(5, 5, 5);
        font-size: 13px;
        font-weight: bold;
    }
    
    .box-post-exp .item-hot img {
        width: 40%;
        height: 93%;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        margin: 3px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        background-blend-mode: darken;
        filter: brightness(100%);
    }
    
    .item-basic {
        background-color: #fff;
        color: #000;
        cursor: pointer;
        height: 160px;
        border-radius: 5px;
    }
    
    .item-basic .title-post {
        color: rgb(17, 5, 5);
        font-size: 16px;
        font-family: sans-serif;
        font-weight: bold;
        padding: 5px 10px 2px;
        cursor: pointer;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .item-basic .title-post .description-post {
        color: #000;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.3;
        margin-top: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-indent: 25px;
        text-align: justify;
    }
    /* Box vertical */
    
    .item-post-vertical {
        background-color: #fff;
        height: 100px;
        width: 100%;
        border-radius: 5px;
        margin: 5px 0;
        position: relative;
        cursor: pointer;
    }
    
    .item-post-vertical img {
        width: 15%;
        height: 100%;
        border-radius: 50%;
        padding: 4px;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    .item-post-vertical .title-post {
        position: absolute;
        top: 3px;
        left: 18%;
        color: rgb(17, 5, 5);
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        padding: 5px 10px 2px;
        cursor: pointer;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .item-post-vertical .comment-style {
        position: absolute;
        bottom: 0px;
        left: 18%;
    }
    
    .item-post-vertical .title-post .description-post {
        color: #000;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.3;
        margin-top: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
    }
    
    .show-more {
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5px;
    }
    /* Box post giải đấu */
    
    .box-post-leage {
        width: 100%;
        display: inline-block;
    }
    
    .box-post-leage .item-build {
        width: 23.4%;
        height: 209px;
        margin: 9px 9px 0;
        display: inline-block;
        background-color: #21d4fd;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }
    
    .box-post-leage .item-build img {
        width: 100%;
        height: 76%;
        border-radius: 5px 5px 0 0;
        position: absolute;
        left: 0;
        top: 0;
        filter: brightness(80%);
    }
    
    .box-post-leage .item-build img:hover {
        opacity: 1;
        filter: brightness(100%);
    }
    
    .box-post-leage .item-build .title-post {
        color: rgb(17, 11, 11);
        background: #fff;
        padding: 1px 5px;
        position: absolute;
        top: 73%;
        left: 0;
        font-size: 14px;
        line-height: 1.1;
        cursor: pointer;
        font-weight: bold;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .box-post-leage .item-build .comment-post-number {
        position: absolute;
        bottom: 0;
        padding: 2.4px 2px;
        color: #000;
        font-size: 13px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
    }
    
    .text-two-line {
        font-size: 14px;
        line-height: 1.3;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #000;
        text-overflow: ellipsis;
    }
    /* Box post build */
    
    .box-post-build {
        width: 100%;
        display: inline-block;
    }
    
    .text-update {
        display: block;
        text-transform: capitalize;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 10px;
    }
    
    .box-post-build .item-build {
        width: 31%;
        height: 209px;
        margin: 9px 9px 0;
        display: inline-block;
        background-color: #21d4fd;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }
    
    .box-post-build .item-build img {
        width: 100%;
        height: 76%;
        border-radius: 5px 5px 0 0;
        position: absolute;
        left: 0;
        top: 0;
        filter: brightness(80%);
    }
    
    .box-post-build .item-build img:hover {
        opacity: 1;
        filter: brightness(100%);
    }
    
    .box-post-build .item-build .title-post {
        color: rgb(17, 11, 11);
        background: #fff;
        padding: 1px 5px;
        position: absolute;
        top: 73%;
        cursor: pointer;
        left: 0;
        font-size: 14px;
        line-height: 1.1;
        font-weight: bold;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .box-post-build .item-build .comment-post-number {
        position: absolute;
        bottom: 0;
        padding: 2.4px 2px;
        color: #000;
        font-size: 13px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
    }
    /* show post by  id */
    
    .box-show-post {
        width: 100%;
        padding: 2% 6% 1%;
        color: #fff;
        background-color: #203744;
        display: block;
    }
    
    .box-show-post .content-post img {
        width: 80%;
        height: 80%;
        margin: 10px auto;
        display: block;
    }
    
    .box-show-post .title-post {
        font-size: 30px;
        text-align: left;
        line-height: 1.2;
        margin-bottom: 9px;
        cursor: pointer;
    }
    
    .box-show-post .description-post {
        font-size: 17px;
        margin-top: 13px;
        margin-bottom: 15px;
        text-indent: inherit;
        text-indent: 40px;
        text-align: justify;
    }
    
    .box-show-post .content-post {
        text-indent: 30px;
        /* text-indent: inherit; */
        text-align: justify;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .box-comment {
        width: 100%;
        padding: 0 9%;
        color: #fff;
        background-color: #203744;
        display: block;
    }
    
    .box-btn-send {
        display: block;
        text-align: right;
        width: 100%;
    }
    
    .box-btn-send .btn-send {
        margin-right: 10px;
        background: white;
        color: #000;
        font-weight: 600;
    }
    
    .box-show-comment {
        padding: 10px 10px;
    }
    
    .box-show-comment .item-comment img {
        width: 40px;
        height: 40px;
        margin: 5px;
        border: 1px solid #fff;
        border-radius: 50%;
    }
    
    .box-show-comment .item-comment .user-name {
        color: #022744;
    }
    
    .box-show-comment .item-comment .content-comment {
        background-color: rgb(202, 199, 199, 0.9);
        color: #000;
    }
    
    .btn {
        cursor: pointer;
    }
    
    .post-category {
        display: block;
        width: 98%;
        background-color: rgb(241, 236, 236);
        margin: 8px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .post-category img {
        width: 60%;
        max-height: 300px;
        border-radius: 5px 0 0 5px;
        /* padding: 5px; */
    }
    
    .post-category .title-post {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.2;
        color: #000;
        margin: 18px 18px 0px;
    }
    
    .post-category .title-post .description-post {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        margin-top: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
    }
    
    .post-category-item {
        background-color: #fff;
        display: block;
        width: 98%;
        margin: 8px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .post-category-item .title-post {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        color: #000;
        margin: 18px 18px 0px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        width: 75%;
    }
    
    .post-category-item .title-post .description-post {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        margin-top: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
    }
    
    .post-category-item img {
        width: 25%;
        padding: 4px;
        height: 130px;
        border-radius: 10px;
    }