<template>
    <v-row align="center" justify="center">
        <v-col cols="12" sm="5" md="4" xl="3">
            <v-card class="elevation-12 mx-md-5">
                <span class="login-form-title text-uppercase">
                xác nhận tài khoản
                </span>
                <v-form class="login-form">
                    <v-divider class="mx-10 mt-3 mb-10 font-weight-bold"></v-divider>
                    <v-card-text >
                        <v-text-field
                        type="text"
                        name="email"
                        v-model="form.email" solo=""
                        label="Email"
                        data-vv-as="Email"
                        v-validate="'required|email'"
                        @keyup.enter="confirmPassword"
                        color="#1E88E5"
                        prepend-inner-icon="mdi-account-circle"
                        persistent-hint=""
                        hint="Mời bạn nhập email của bạn để xác nhận tài khoản"

                        />
                    </v-card-text>
                    <v-card-actions class="justify-space">
                        <v-btn  @click="confirmPassword" rounded class="btn-login">Xác Nhận</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
        </v-col>
    </v-row>
</template>
<script>
export default {
     layout: 'none_sidebar_home',
     data(){
         return{
             form:{
                 email:null,
             }

         }
     },
     methods:{
         confirmPassword(){
             this.$validator.validateAll().then(async result => {
                if (result) {
                    const response = await this.$store.dispatch('home/database/confirmEmail', this.form)
                    if(response.code==200){
                        this.$showSuccess('Thông báo',response.message);
                        this.$router.push('/login');
                    }else{
                        this.$showError('Error')
                    }
                }
                else {
                    this.$showError(this.errors.all()[0]);
                    }
                })
         }
     }
}
</script>
<style scoped>
    .login-form-title{
        font-family:sans-serif
    }
</style>
