<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="5" md="4" xl="3">
      <v-card class="elevation-12 mx-md-5">
        <span class="login-form-title text-uppercase">
          Form Đăng Ký
        </span>
        <!-- <img :src="$getFileUrl('avatar-login.png')" class="img-login" alt=""> -->
        <div class="box-img-register">
            <img :src="avatar" alt="" class="img-user">
            <div class="btn-camera mx-0 px-0">
                <v-btn
                    color="white"
                    class="text-none px-0 mx-0"
                    fab="" small=""
                    @click="onButtonClick"
                >
                    <v-icon class="mx-0 px-0" style="font-size:23pt">
                    mdi-camera
                    </v-icon>
                </v-btn>
                <input
                    ref="uploader"
                    class="d-none mx-0 px-0"
                    type="file"
                    accept="image/*"
                    @change="onFileChanged"
                >
                </div>
        </div>
        <v-form class="login-form">
          <v-card-text >
            <v-text-field
              type="text"
              name="email"
              v-model="form.email"
              label="Email"
              data-vv-as="Email"
              v-validate="'required|email'"
              @keyup.enter="login"
              color="#1E88E5"
              prepend-icon="mdi-account-circle"
            />

            <v-text-field
              type="text"
              name="name"
              v-model="form.name"
              label="Tên Hiển Thị"
              data-vv-as="Tên Hiển Thị"
              v-validate="'required'"
              color="#1E88E5"
              prepend-icon="mdi-pencil-circle"
            />

            <v-text-field
              :append-icon="showPassword ? 'mdi-eye' :'mdi-eye-off'"
              :type="showPassword ? 'text': 'password'"
              v-model="form.password"
              label="Password"
              name="password"
              data-vv-as="Password"
              v-validate="'required'"
              @click:append="showPassword=!showPassword"
              @keyup.enter="login"
              color="#1E88E5"
              prepend-icon="mdi-pencil-circle"
            />

            <v-text-field
              :append-icon="showPasswordConfirm ? 'mdi-eye' :'mdi-eye-off'"
              :type="showPasswordConfirm ? 'text': 'password'"
              v-model="form.password_confirmation"
              label="Xác nhận mật khẩu"
              name="confirm"
              data-vv-as="Xác nhận mật khẩu"
              v-validate="'required'"
              @click:append="showPasswordConfirm=!showPasswordConfirm"
              color="#1E88E5"
              prepend-icon="mdi-pencil-circle"
            />
          </v-card-text>
          <v-card-actions class="justify-space">
            <v-btn @click="save" rounded class="btn-login mb-5">ĐĂNG KÝ</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  components:{
    // ForgotPasswModal,
  },
  layout: 'none_sidebar_home',
  props: {
    source: String
  },
  data() {
    return {
      form: {
        email: null,
        name:null,
        password: null,
        password_confirmation:null,
        
      },
      selectedFile: null,
      avatar:'avatar-login.png',
      showPassword:false,
      showPasswordConfirm:false,
    }
  },
  created(){
  },
  methods: {
        onButtonClick() {
            window.addEventListener('focus', () => {
            }, { once: true })

            this.$refs.uploader.click() 
            },
        onFileChanged(e) {
            this.selectedFile = e.target.files[0];
            if(this.selectedFile!= undefined){
                if(this.selectedFile.name.lastIndexOf('.') <= 0) {
                return
            }
               const fr = new FileReader ()
                fr.readAsDataURL(e.target.files[0]);
                fr.addEventListener('load', () => {
                    this.avatar = fr.result
                });     
            }    
        },
    save() {
      this.$validator.validateAll().then(async result => {
        if (result) {
            this.form.roles=0;
            if(this.selectedFile!=null){
                 this.form.avatar = await this.$uploadImage(this.selectedFile)
            }
          const response = await this.$store.dispatch('admin/auth/register', this.form)
          if (response.data.code === 200) {
              localStorage.setItem('email_user',this.form.email);
              localStorage.setItem('password_user',this.form.password);
              localStorage.setItem('remeber_user',1);
              this.$showSuccess('Bạn đã đăng ký thành công. Mời đăng nhập');
              this.$router.push('/login');
          } else {
            this.$showError(response.data.message)
          }
        } else {
           this.$showError(this.errors.all()[0]);
        }
      })
    },
  }
}
</script>

