<template>
    <div>
         <v-row>
              <v-col cols="12" sm="3" md="3" lg="3" style="border-right:1px solid #fff">
                   <div class="new-post" style="background-color:#0d202b !important;" > 
                    <span class="title"></span>
                    <v-divider class="my-1 mb-5" color="#fff"></v-divider>
                    <div class="box-version mx-1 mb-7">
                         <h2>Thông Tin Tài Khoản</h2>
                    </div>
                    
                   </div>
              </v-col>
              <v-col cols="12" sm="9" md="9" lg="9" class="px-0 mx-0">
                   <div class="new-post mx-2" style="background-color:#0d202b !important;">
                        <span class="title"><v-icon color="white" class="mx-2 mb-1">mdi-account-box-outline</v-icon>Tài Khoản Của Tôi</span>
                        <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                        <v-row v-if="user!=null">
                            <v-col cols="12" md="3" xl="3" lg="3" class="text-center">
                                <div class="box-img-user">
                                    <img :src="$getFileUrl(user.avatar)" alt="" class="img-user">
                                    <div class="btn-camera mx-0 px-0">
                                        <v-btn
                                            color="white"
                                            class="text-none px-0 mx-0"
                                            fab="" small=""
                                            @click="onButtonClick"
                                        >
                                            <v-icon class="mx-0 px-0" style="font-size:23pt">
                                            mdi-camera
                                            </v-icon>
                                        </v-btn>
                                        <input
                                            ref="uploader"
                                            class="d-none mx-0 px-0"
                                            type="file"
                                            accept="image/*"
                                            @change="onFileChanged"
                                        >
                                        </div>
                                </div>
                                <v-divider color="white" class="mx-5 mb-3"></v-divider>
                                <h2>{{user.name}}</h2>
                                
                            </v-col>
                            <v-col cols="12" md="9" xl="9" lg="9">
                                <v-form class="mt-4 ml-4 mr-10"  style="width:80% !important">
                                    <v-text-field 
                                        style="font-size:14pt !important" 
                                        filled  label="Tên Hiển Thị:" dark=""  v-model="user.name"
                                        :disabled="isDisabled" v-validate="'required'" data--vv-name="Tên Hiển Thị"
                                        prepend-icon="mdi-rename-box">
                                    </v-text-field>  
                                    <v-text-field 
                                        style="font-size:14pt !important" v-model="user.email"
                                        filled  label="Tài Khoản:" v-validate="'required|email'"
                                         :disabled="isDisabled" data-vv-name="Tài Khoản" type="email"
                                        dark=""  prepend-icon="mdi-account-edit">
                                    </v-text-field> 
                                    <v-text-field 
                                        style="font-size:14pt !important" v-model="user.phone"
                                        filled  label="Số Điện Thoại:"
                                         :disabled="isDisabled"
                                        dark=""  prepend-icon="mdi-cellphone-iphone">
                                    </v-text-field> 

                                    <v-text-field 
                                        style="font-size:14pt !important" 
                                        filled v-validate="{max:50, min:8}" data-vv-name="Mật Khẩu"
                                        :type="showPassword ? 'text': 'password'"
                                        label="Đổi Mật Khẩu:" dark="" v-model="old_password"  
                                         :disabled="isDisabled" placeholder="Mời bạn nhập mật khẩu mới! Nếu muốn"
                                        :append-icon="showPassword ? 'mdi-eye' :'mdi-eye-off'"
                                         @click:append="showPassword=!showPassword"
                                        prepend-icon="mdi-account-edit">
                                    </v-text-field>
                                    <div class="d-flex flex-row">
                                        <v-spacer></v-spacer>
                                        <v-btn v-if="isDisabled ==true" class="primary" small="" @click="editUser"><v-icon small>$edit</v-icon> Sửa Thông Tin</v-btn>
                                        <v-btn v-else class="primary" small="" @click="updateUser"><v-icon small>mdi-content-save</v-icon> Lưu Thông Tin</v-btn>
                                        <v-btn v-if="isDisabled ==false" class="error ml-2" small @click="cancel"><v-icon small="" > mdi-cancel</v-icon>Hủy Bỏ</v-btn>
                                    </div>
                                          
                                </v-form>
                            </v-col>
                        </v-row>
                   </div>
              </v-col>
         </v-row>
    </div>
</template>
<script>
export default {
    data(){
        return {
            selectedFile: null,
            showPassword:false,
            isDisabled:true,
            old_password:null,
            user:null,
        }
    },
    created(){
        this.getUser();
    }, 
    computed:{

    },
    methods:{
        onButtonClick() {
            window.addEventListener('focus', () => {
            }, { once: true })

            this.$refs.uploader.click() 
            },
        onFileChanged(e) {
            this.selectedFile = e.target.files[0];
            this.updateUser();
            },
     async  getUser(){
            if(localStorage.getItem('userData1')!=undefined){
                let user= JSON.parse(localStorage.getItem('userData1'));
                const response = await this.$store.dispatch('home/database/getUser' , {id:user.id});
                if(response.code ==200){
                    this.user=response.data;
                }else{
                    this.$showError(response.message);
                }
            }
        },

        editUser(){
            this.isDisabled=false;
        },
        cancel(){
            this.isDisabled=true;
        },
        updateUser(){
            this.$validator.validateAll().then(async result => {
                if (result) {
                    if (this.selectedFile) {
                    this.user.avatar = await this.$uploadImage(this.selectedFile)
                    }
                    if(this.old_password==null){
                        this.user.password='old_password';
                    }else{
                        this.user.password=this.old_password;
                    }
                const action ='home/database/updateInfoUser'
                const response = await this.$store.dispatch(action, 
                {
                    form:this.user
                })
                if (response.code === 200) {
                    this.$store.commit('admin/auth/SET_NAME_USER_HOME', this.user.name);
                    this.getUser();
                    this.isDisabled=true;
                    localStorage.user_home=this.user.name;
                    localStorage.removeItem('email_user');
                    localStorage.removeItem('password_user');
                    const mess='Cập Nhật Thông Tin Thành Công'
                    this.$showSuccess(mess)
                } else {
                    this.$showError(response.message)
                }
                } else {
                    this.$showError(this.errors.all()[0]);
                }
            })
        }
    }
}
</script>