<template>
  <v-dialog
    v-model="open"
    persistent
    @keydown.esc="closeEditModal"
    max-width="950px"
  >
    <v-card>
        <v-card-title class="primary white--text">
            <span class="headline">
                {{ isAdd ? 'THÊM NhÓM TƯỚNG' :'SỬA NHÓM TƯỚNG'}}
            </span>
        </v-card-title>
            <v-form ref="classesForm">
                <v-card-text>
                    <v-row>
                    <v-col cols="12" sm="7" md="7" xl="7">
                      <v-card class="px-4 py-1">
                         <v-card-title class="mb-2">Thông tin chung</v-card-title>
                         <v-divider class="mx-2"></v-divider>
                        <v-text-field prepend-icon="mdi-pencil"
                        label="Tên nhóm tướng*"
                        data-vv-as="Tên nhóm tướng*"
                        v-model="classes.name"
                        data-vv-name="classes_name"
                        v-validate="'required'"
                        ></v-text-field>
                    <!-- </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6"> -->
                         <v-file-input show-size counter
                            v-model="image"
                            data-vv-name="image"
                            accept="image/png, image/jpeg, image/bmp"
                            data-vv-as="Logo" label="Ảnh đại diện"
                            :placeholder="classes.avatar!=null? classes.avatar : 'Ảnh đại diện'"
                            v-validate="isAdd? {required:true,image:true, size:5000}:{image:true,size:5000, }"
                            class="text-truncate"
                            prepend-icon="mdi-camera"></v-file-input>
                    <!-- </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6"> -->
                        <v-text-field prepend-icon="mdi-pencil"
                        label="Tên nội tại*"
                        data-vv-as="Tên nội tại"
                        data-vv-name="skill"
                        v-model="classes.skill"
                        v-validate="'required'"
                        ></v-text-field>
                    <!-- </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6"> -->
                      <v-row>
                        <v-col>
                          <v-select
                        prepend-icon="mdi-format-list-bulleted-type"
                          v-model="classes.type"
                          :items="types"
                          item-text="name"
                          item-value="value"
                          v-validate="'required'"
                          data-vv-as="Loại nhóm tướng"
                          label="Loại nhóm tướng*"
                          data-vv-name="type"
                          :reduce="option=>option.value"
                          persistent-hint
                        ></v-select>
                        </v-col>
                        <v-col>
                          <v-select
                          prepend-icon="mdi-format-list-bulleted-type"
                          v-model="classes.rated"
                          :items="rateds"
                          item-text="name"
                          item-value="value"
                          v-validate="'required'"
                          data-vv-as="Xếp hạng"
                          label="Xếp hạng*"
                          data-vv-name="rated"
                          :reduce="option=>option.value"
                          persistent-hint
                        ></v-select>
                        </v-col>
                      </v-row>

                    <!-- </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6"> -->

                    <!-- </v-col>
                    <v-col cols="12" sm="6" md="6" xl="6"> -->
                        <v-text-field prepend-icon="mdi-feather"
                        label="Thông Tin Cập Nhật*"
                        data-vv-as="Thông Tin Cập Nhật*"
                        placeholder="Nếu Có"
                        v-model="classes.info_update"
                        data-vv-name="integration"
                        ></v-text-field>
                        <v-row>
                          <v-spacer>

                          </v-spacer>
                          <v-btn v-if="isAdd" color="red" small class="white--text mb-sm-3 mr-sm-1 pull-right" @click="clearData">Xóa bỏ</v-btn>
                          <v-btn v-if="isAdd" color="blue darken-1" small class="white--text mb-sm-3 mr-sm-3 pull-right" @click="save">Lưu Lại =></v-btn>
                        </v-row>
                      </v-card>
                    </v-col>
                    <v-col cols="12" sm="5" md="5" xl="5">
                      <v-card :disabled="!isActive" class="px-2 py-1">
                        <v-card-title class="mb-2">Tỉ lệ xây dựng đội hình</v-card-title>
                        <v-divider class="mx-2"></v-divider>
                        <v-row>
                          <v-col sm="3" md="3" xl="3" class="px-2">
                              <v-text-field
                              label="Số lượng*"
                              data-vv-as="số lượng*"
                              v-model="combination_rate.combination"
                              data-vv-name="combination"
                              placeholder="Số" type="number"
                              @keyup.enter="saveCombinationRate"
                              solo
                              ></v-text-field>
                          </v-col>
                          <v-col sm="9" md="9" xl="9" class="px-1 pr-2">
                              <v-text-field
                                label="Nội dung*"
                                data-vv-as="Nội dung*"
                                v-model="combination_rate.content"
                                data-vv-name="content"
                                placeholder="Mời nhập nội dung"
                                hint="Nhấn enter để lưu tỉ lệ"
                                persistent-hint=""
                                solo
                                @keyup.enter="saveCombinationRate"
                                ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-alert v-if="statusAlert.status" border="top" dense :type=" statusAlert.type">
                          {{statusAlert.text}}
                        </v-alert>
                        <h5 class="my-sm-3">Danh sách đã thêm</h5>
                        <div v-if="combination_rates.length >0" class="d-flex flex-row mb-2" v-for="(rate,index) in combination_rates" :key="index">
                            <v-chip class="mr-sm-3">{{rate.combination}}</v-chip>
                            <v-chip class="mr-sm-3">{{rate.content}}</v-chip>
                            <v-spacer></v-spacer>
                            <v-btn fab class="primary mr-sm-1" x-small="" @click="editCombinationRate(rate)"><v-icon>$edit</v-icon></v-btn>
                            <v-btn fab class="white--text" @click="deleteCombinationRate(rate,index)" color="red" x-small=""><v-icon>$delete</v-icon></v-btn>
                        </div>

                      </v-card>
                    </v-col>
                    </v-row>

                </v-card-text>
            </v-form>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" small="" class="white--text" @click="closeEditModal">
                Hủy Bỏ
                </v-btn>
                <v-btn color="blue darken-1" small="" class="white--text" @click="doneClasses">
                Hoàn Thành
                </v-btn>
            </v-card-actions>


    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      image:null,
      isAdd: false,
      isActive:false,
      combination_rate:{
        combination:null,
        content:null,
        classes_id:null,
        id:null,
      },
      statusAlert:{
        status:false,
        type:'success',
        text:"Bạn đã thêm thành công"
      },
      isAddCombination:false,

      combination_rates:[]
    }
  },
  computed: {
    open() {
      return this.$store.getters['admin/classes/statusEditModal']
    },

    types(){
        return this.$classTypes;
    },
    rateds(){
        return this.$rateds
    },
    classes() {
      const currentClass = this.$store.getters['admin/classes/editClasses']
      if (this.$isNotEmptyObject(currentClass)) {
        this.isAdd = false
        this.image=null;
        this.isActive=true
        if(currentClass.combination_rates.length>0){
          this.combination_rates=currentClass.combination_rates
        }
        this.isAddCombination=true;
        this.combination_rate.classes_id=currentClass.id;
        // edit
        return {
            id: currentClass.id,
            name: currentClass.name,
            avatar: currentClass.avatar,
            skill: currentClass.skill,
            rated:currentClass.rated,
            type:currentClass.type,
            info_update:currentClass.info_update,
        }
      } else {
        this.isAdd = true
        this.isAddCombination=true
        this.isActive=false;
        this.statusAlert.status=false
        this.combination_rates=[]
        return {
            name:null,
            avatar:null,
            skill:null,
            type:0,
            rated:'s',
            info_update:null,
        }
      }
    }
  },
  methods: {
    closeEditModal() {
        if(this.isAdd&&this.isActive){
          swal({
          title: 'Bạn có chắc chắn không ?',
          icon: 'warning',
          buttons: true,
          dangerMode: true
        }).then(async willDelete => {
          if (willDelete) {
            const response = await this.$store.dispatch(
              'admin/classes/delete',
              {
                id:this.combination_rate.classes_id
              }
            )
            if (200 === response.code) {
              this.$showSuccess('Hủy bỏ thành công')
              this.$store.commit('admin/classes/SET_STATUS_EDIT_MODAL', false);
              this.$refs.classesForm.reset();
            } else {
              this.$showError(response.message)
            }
          }
        })
      }else{
          this.$store.commit('admin/classes/SET_STATUS_EDIT_MODAL', false);
          this.$refs.classesForm.reset();
      }
      this.statusAlert.status=false
    },
    doneClasses(){
      if(!this.isAdd){
        this.save();
      }

      this.combination_rates=[]
      this.isActive=false;
      this.statusAlert.status=false

    },
    save() {
      this.$validator.validateAll().then(async result => {
        if (result) {
            if (this.image) {
            this.classes.avatar = await this.$uploadImage(this.image);
          }
          const action = this.isAdd ? 'admin/classes/add' : 'admin/classes/update'
          const response = await this.$store.dispatch(action,
          {
            form:this.classes
          })
          if (response.code === 200) {
            this.isActive=true;
            let mess=''
            if(!this.isAdd){
              mess='Sửa Thành Công';
              this.$store.commit('admin/classes/SET_STATUS_EDIT_MODAL', false);
            }else{
              mess="Thêm Thành Công";
            }

            this.$showSuccess(mess)
            this.combination_rate.classes_id=response.data.id;
          } else {
            this.$showError(response.message)
          }
        } else {
          if(this.errors.all()[0]=='Avatar chỉ có thể chứa tệp nhỏ hơn NaN undefined'){
            this.$showError('Logo chỉ có thể chứa tệp nhỏ hơn 5MB');
          }else{
            this.$showError(this.errors.all()[0]);
          }
        }
      })
    },

    clearData(){
      this.$refs.classesForm.reset()
    },

    editCombinationRate(item){
      this.combination_rate.id=item.id;
      this.combination_rate.combination=item.combination;
      this.combination_rate.content=item.content;
      this.classes_id=item.classes_id;
      this.isAddCombination=false;
      this.statusAlert.status=false;
    },
  async  saveCombinationRate(){
      if(this.combination_rate.combination==null || this.combination_rate.content==null){
        this.statusAlert.status=true;
        this.statusAlert.text="Bạn nhập thiếu thông tin";
        this.statusAlert.type="error";
      }else{
           const action =  this.isAddCombination ? 'admin/combination-rate/add' : 'admin/combination-rate/update';
           const response = await this.$store.dispatch(action, { form:this.combination_rate});
           if (response.code === 200) {
             const mess=this.isAddCombination==true ? 'Thêm Thành Công':'Sửa Thành Công'
            this.statusAlert.status=true;
            this.statusAlert.text=mess;
            this.statusAlert.type="success";
            if(this.isAddCombination){
              this.combination_rates.push(response.data);
            }else{
              this.isAddCombination=true;
              this.combination_rates.map(comb=>{
                 if(comb.id == response.data.id){
                   this.combination_rates[this.combination_rates.indexOf(comb)]=response.data
                   comb=response.data
                 }
              })

            }

            this.combination_rate.combination='';
            this.combination_rate.content="";
          } else {
            this.$showError(response.message);
          }
        }
    },
    deleteCombinationRate(item,index){
      swal({
        title: 'Bạn có chắc chắn không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          const response = await this.$store.dispatch(
            'admin/combination-rate/delete',
             {
              id:item.id,
            }
          )
          if (200 === response.code) {
            this.combination_rates.splice(index,1);
            this.statusAlert.status=true;
            this.isAddCombination=true;
            this.statusAlert.text="Xóa thành công";
            this.statusAlert.type="success";
          } else {
            this.$showError(response.message)
          }
        }
      })
    },
  }
}
</script>
<style>
.text-legend{
    margin-left:20px !important;
    font-style:italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14pt;
}
.text-fiel{
    padding:10px !important;
    border:1px solid #000;
    border-radius: 5px;
}
</style>
