<template>
    <v-card>
     <v-card-title class="white--text" :style="$colorTitlePage" >Trang Quản Lý Trang Bị Cơ Bản</v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1  px-sm-3 mt-3"
      :disable-sort="true"
      hide-default-footer
      :page.sync="page"
      :items-per-page="itemsPerPage"
      @page-count="pageCount = $event"
    >
      <template v-slot:top> 
        <v-toolbar flat  class="mb-1">
          <v-toolbar-title>Danh Sách Trang Bị</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="paginationParams.search_text"
            label="Tìm Kiếm"
            single-line
            hide-details
            append-icon="mdi-magnify"
            @click:append="loadItems"
            @keyup.enter="loadItems"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark small class="mb-2" @click="addItems">
            <v-icon>mdi-plus</v-icon>Thêm Trang Bị
          </v-btn>
        </v-toolbar >
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn x-small fab  class="mr-sm-1" color="primary" @click="editItems(item)">
          <v-icon dark >$edit</v-icon>
        </v-btn>
        <v-btn x-small fab color="red"  @click="deleteItems(item)">
            <v-icon color="white">$delete</v-icon>
        </v-btn>
      </template>
      <template v-slot:item.uses_type="{item}">
          <v-chip>
             + {{item.number_power}}{{checkUseTypes(item.uses_type)}}
          </v-chip>
      </template>
      <template v-slot:item.rated="{item}" >
          <v-chip :color="getColor(item)" class="text-uppercase white--text">{{item.rated}}</v-chip>
      </template>
      <template v-slot:item.advanced_items_count="{item}" class="text-center">
       <v-chip>{{item.advanced_items_count==0 ?item.advanced_items_count : item.advanced_items_count -1 }}</v-chip>
      </template>
      <template v-slot:item.avatar="{item}">
        <img :src="$getFileUrl(item.avatar)" class="img-avatar" alt="">
      </template>
      <template v-slot:no-data>{{ 'No_data' }}</template>
    </v-data-table>
    <v-row class="text-center p-3">
      <v-col cols="12" sm="3" md="3">
        <v-select class="ml-3"
          :items="perPageItems"
          v-model="itemsPerPage"
          outlined
          dense 
          @change="itemsPerPage = parseInt($event, 10)"
        ></v-select>
      </v-col>
      <v-col cols="12" sm="9" md="9">
         <v-pagination class="justify-end" v-model="page" :length="pageCount"></v-pagination>
      </v-col>
    </v-row>

    <!-- modal -->
    <edit-modal></edit-modal>
  </v-card>
</template>

<script>
import EditModal from '~/components/admin/items/editBaseItem'

export default {
  components: { EditModal },
  layout:'admin',
  data() {
    return {
      paginationParams: {
      search_text: '',
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 5,
      items: [
       
      ],
      perPageItems: [5,10,20],
      loading: true
    }
  },
  computed: {
    loadingText() {
      return this.$t('Loading') + ' ...'
    },
    headers() {
      return [
        { text: 'Tên Trang Bị', value: 'name' },
        { text: 'Hình Ảnh', value: 'avatar', align:'center' },
        { text: 'Công Dụng', value: 'uses_type' },
        { text: 'Xếp Hạng', value:'rated', align:'center' },
        { text: 'Trang bị có thể ghép', value: 'advanced_items_count', align:'center'},
        { text: 'Thông Tin Cập Nhật', value: 'info_update',align:'center'},
        { text: 'Tùy Chỉnh', value: 'action', sortable: false }
      ]
    },
    statusEditModal() {
      return this.$store.getters['admin/item/statusEditModal']
    }
  },
  watch: {
    statusEditModal: function(val) {
      if (!val) {
        this.loadItems()
      }
    }
  },
  created() {
    this.loadItems()
  },
  methods: {
    async loadItems() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/item/loadList',{
          params:this.paginationParams,
          type:"base-item"
        }
        
      )
      if (200 === response.code) {
        this.items = response.data
        this.loading = false
      }else{
        this.$showError(response.message);
        if(response.code==500){
          this.$router.push('/');
        }
      }
    },

    changePerPage() {
      this.paginationParams.page = 1 // reset to page 1
      this.loadItems()
    },

    openEditModal() {
      this.$store.commit('admin/item/SET_STATUS_EDIT_MODAL', true)
    },

    addItems() {
      this.$store.commit('admin/item/SET_EDIT_BASE_ITEM', null)
      this.openEditModal()
    },

    editItems(item) {
      this.$store.commit('admin/item/SET_EDIT_BASE_ITEM', Object.assign({}, item))
      this.openEditModal()
    },

    deleteItems(item) {
      swal({
        title: 'Bạn có chắc chắn không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          // call api delete user
          const response = await this.$store.dispatch(
            'admin/item/delete',
             {
              id:item.id,
              type:'base-item'
            }
          )
          if (200 === response.code) {
            this.loadItems()
            this.$showSuccess('Xóa Thành Công')
          } else {
            this.$showError(response.message)
          }
        }
      })
    },
    getColor(item){
      switch(item.rated) {
        case 's':
          return 'red lighten-1'
          break;
        case 'a':
          return 'orange lighten-1'
          break;
        case 'b':
          return 'green'
          break;
        case 'c':
          return 'pink lighten-1'
          break;
        default:
          return'gray'
      }
    },
    checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    }
  }
}
</script>

</template>