<template>
    <div  v-if="post!=null">
        <v-row>
            <v-col cols="12" sm="8" md="8" xl="8" class="pr-0">

                <div class="new-post">
                    <div class="d-flex flex-row justify-start text-capitalize title ma-0 pa-0" v-if="post !=null">
                        <span @click="$router.push('/posts')" style="cursor:pointer">Cẩm Nang</span>
                        <v-divider class="mx-2 my-2" color="white" vertical=""></v-divider>
                        <span @click="getCategoryById(post.category.id)" style="cursor:pointer">{{post.category.name_category}}</span>
                    </div>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                </div>
                <div class="box-show-post">
                    <div class="title-post">{{post.title}}</div>
                    <div class="d-flex flex-row justify-start mb-1 font-weight-light" style="margin-left:40px;" color="black">

                        <div class="mr-3">
                            Thích: <v-icon small color="white">mdi-thumb-up</v-icon> <span>{{post.numberOfLikes}}</span>
                        </div>
                        <div class="ml-4 mr-5" >
                             Bình Luận: <v-icon small color="white">mdi-comment</v-icon> <span>{{post.numberOfComments}}</span>
                        </div>
                        <div class="ml-2" >
                            Lượt xem: <v-icon small color="white">mdi-eye</v-icon> <span>{{post.view_number}}</span>
                        </div>
                        <div class="ml-6">
                            Ngày đăng: {{post.created_at|moment("hh:mm ngày DD/MM/YYYY")}}
                        </div>
                    </div>
                    <!-- <v-divider class="mx-1 mx-5" color="white"></v-divider> -->
                    <div class="description-post">
                        {{post.description}}
                    </div>

                    <div>
                        <span v-html="post.content" class="content-post">

                        </span>
                    </div>
                </div>
                <div class="box-comment" v-if="post!=null">
                    <v-divider color="white" class="mb-5"></v-divider>
                    <v-textarea v-model="comment.content" rows="3" outlined="" hide-details="" label="Form Bình Luận" dark placeholder="Mời bạn bình luận bài viêt nếu muốn !"></v-textarea>
                    <div class="box-btn-send">
                       <v-spacer></v-spacer>
                       <v-btn small  class="my-3 text-right btn-send primary" @click="likeAction">{{isLiked==true? 'Bỏ Thích':'Thích'}}<v-icon small class="ml-2">mdi-thumb-up</v-icon></v-btn>
                       <v-btn small  class="my-3 text-right btn-send error" @click="commentAction">Bình Luận <v-icon small class="ml-2">mdi-comment</v-icon></v-btn>
                    </div>
                    <div class="box-show-comment">
                        <div class="title">
                            Danh Sách Bình Luận
                        </div>
                          <v-divider color="white" class="mb-5"></v-divider>
                        <div class="item-comment mb-3" v-for="i in post.comments" :key="i.id" v-if="i.type==0">
                            <div class="d-flex flex-row justify-start mb-0 pb-0">
                                <img :src="$getFileUrl(i.user.avatar !=null ? i.user.avatar :'user1.jpg')" alt="">
                                <v-chip class="mt-2 content-comment">
                                    <span class="font-weight-bold mr-3 user-name">{{i.user.name}} </span>
                                    <span>{{i.content}}</span>
                                </v-chip>
                            </div>
                        </div>
                    </div>
                </div>
            </v-col>
            <v-col cols="12" sm="4" md="4" xl="4" class="px-5">

                <div class="new-post mb-3 px-0 py-0">
                    <div class="box-advan">
                        <img :src="$getFileUrl('a124.jpg')" alt="" style="width:100%; height:auto">
                    </div>
                </div>

                <div class="new-post mb-3" v-if="listPostSameCate!=null">
                    <span class="title">Bài Viết Cùng Thể Loại</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <div class="box-post-hot">
                        <div class="item-hot  mt-3 mb-2" @click="getPostByIdRoute(i.id)" v-for="(i,index) in listPostSameCate" :key="i.id" v-if="index<5">
                             <img :src="$getFileUrl(i.avatar)" alt="">
                             <div class="title-post">
                                {{i.title}}
                            </div>
                            <div class="d-flex flex-row justify-start mx-4 comment-post-number" color="black">

                                <div class="mr-3">
                                    <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                </div>
                                <div class="ml-1" >
                                    <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                </div>
                                <div class="ml-4" >
                                    <v-icon small>mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="new-post my-3 px-0 py-0">
                    <div class="box-advan">
                        <img :src="$getFileUrl('a125.jpg')" alt="" style="width:100%; height:auto">
                    </div>
                </div>

                <div class="new-post" v-if="listPopuPost!=null">
                    <span class="title">Bài Viết Nổi Bật</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <div class="box-post-hot">
                        <div class="item-hot  mt-3 mb-2" @click="getPostByIdRoute(i.id)" v-for="(i,index) in listPopuPost" :key="i.id" v-if="index<8">
                             <img :src="$getFileUrl(i.avatar)" alt="">
                             <div class="title-post">
                                {{i.title}}
                            </div>
                            <div class="d-flex flex-row justify-start mx-4 comment-post-number" color="black">
                                <div class="mr-3">
                                    <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                </div>
                                <div class="ml-1" >
                                    <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                </div>
                                <div class="ml-4" >
                                    <v-icon small>mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="new-post my-3 px-0 py-0">
                    <div class="box-advan">
                        <img :src="$getFileUrl('a126.jpg')" alt="" style="width:100%; height:auto">
                    </div>
                </div>
            </v-col>
        </v-row>
    </div>
</template>
<script>
export default {
    data(){
        return{
            listPostSameCate:[],
            post:null,
            isLiked:false,
            liked:null,
            comment:{
                content:null,
                type:0,
                user_id:null,
                post_id:null,
                id:null,
            }
        }
    },
    created(){
        this.getPopuPost();
        this.getPostById();
    },
    computed:{
        listPopuPost(){
             return this.$store.getters['home/posts/listPopuPost'];
        }
    },
    watch:{

    },
    methods:{
        getPopuPost(){
            this.$store.dispatch('home/posts/getPopuPost');
        },
        getPostByIdRoute(id){
            this.$store.dispatch('home/posts/whatPost',{id:id});
            this.$router.push({name:'posts-id',params:{id:id}});
        },
        getCategoryById(id){
            this.$router.push({name:'posts-category-id',params:{id:id}})
        },

        async  getPostById(){
            const res= await this.$store.dispatch('home/posts/getPostById', {id:this.$route.params.id});
            if(res.code==200){
                this.post=res.data[0];
                if(res.data!=null){
                    this.getPostByCateId(res.data[0].category_id);
                    localStorage.setItem('id_post',res.data[0].id);
                     let user= JSON.parse(localStorage.userData1)
                    res.data[0].comments.map(element=>{
                        if(element.user_id==user.id&& element.post_id==res.data[0].id&&element.type==1){
                            this.isLiked=true;
                            this.liked=element;
                        }else{
                             this.isLiked=false;
                        }
                    })
                }
            }else{
                this.$showError('Hệ Thống Lỗi');
            }
        },
        async  getPostByCateId(id){
                let res= await this.$store.dispatch('home/posts/getPostByCategory', {id:id});
                if(res.code==200){
                    this.listPostSameCate=res.data;
                }
            },

    async   likeAction(){
             if(localStorage.auth_home==undefined){
                swal({
                        title: 'Bạn cần đăng nhập để like & comment ?',
                        icon: 'warning',
                        buttons: true,
                        dangerMode: true
                    }).then(async willLogin => {
                        if (willLogin) {
                            this.$router.push('/login');
                        }
                    })
            }else{
                 let user= JSON.parse(localStorage.userData1)
                if(this.isLiked==false){
                    this.comment.post_id=this.post.id;
                    this.comment.user_id=user.id;
                    this.comment.type=1;
                    this.comment.content=null;
                   const res= await this.$store.dispatch('home/posts/addComment', {form:this.comment});
                   if(res.code==200){
                       this.$showSuccess('Bạn đã thích bài viết');
                       this.isLiked=true
                       this.getPostById();

                       this.comment.content=null;
                   }else{
                       this.$showError(res.message);
                   }
                }else{
                   const res= await this.$store.dispatch('home/posts/deleteComment', {id:this.liked.id});
                   if(res.code==200){
                       this.isLiked=false;
                       this.$showSuccess('Bạn đã bỏ thích bài viết');
                       this.getPostById();
                       this.comment.content=null;
                   }else{
                       this.$showError(res.message);
                   }
                }
            }
        },
       async commentAction(){
            if(localStorage.auth_home==undefined){
                swal({
                        title: 'Bạn cần đăng nhập để like & comment ?',
                        icon: 'warning',
                        buttons: true,
                        dangerMode: true
                    }).then(async willLogin => {
                        if (willLogin) {
                            this.$router.push('/login');
                        }
                    })

            }else{
                if(this.comment.content==null){
                    this.$showError('Bạn cần nhập nội dung bình luận');
                }else{
                  let user= JSON.parse(localStorage.userData1)
                    this.comment.post_id=this.post.id;
                    this.comment.user_id=user.id;
                    this.comment.type=0;
                   const res= await this.$store.dispatch('home/posts/addComment', {form:this.comment});
                   if(res.code==200){
                       this.$showSuccess('Bạn đã bình luận thành công');
                       this.getPostById();
                       this.comment.content=null;
                   }else{
                       this.$showError(res.message);
                   }

                }

            }
        }
    }
}
</script>
