<template>
    <div v-if="listCategory!=null">
        <v-row>
            <v-col cols="12" sm="8" md="8" xl="8" class="pr-0">
                <div class="new-post" v-if="listNewPosts!=null">
                    <span class="title text-uppercase">Tin Mới Nhất</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <v-row>
                        <v-col cols="12" md="7" xl="7" sm="7" class="pr-0 pb-0">
                            <div class="item-first" @click="getPostById(listNewPosts[0].id)" v-if="listNewPosts.length>0">
                                <img :src="$getFileUrl(listNewPosts[0].avatar)" alt="">
                                <div class="info-post">
                                    <span class="title-post">{{listNewPosts[0].title}}</span>
                                    <div class="d-flex flex-row justify-start mx-4 comment-post-number" color="black">
                                        <div class="mr-3">
                                            <v-icon small>mdi-thumb-up</v-icon> <span>{{listNewPosts[0].numberOfLikes}}</span>
                                        </div>
                                        <div class="ml-3">
                                            <v-icon small>mdi-comment</v-icon> <span>{{listNewPosts[0].numberOfComments}}</span>
                                        </div>
                                        <div class="ml-3" >
                                            <v-icon small>mdi-eye</v-icon> <span>{{listNewPosts[0].view_number}}</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="cate-post">
                                        | {{listNewPosts[0].category.name_category}}
                                </div>
                            </div>
                        </v-col>
                        <v-col cols="12" md="5" xl="5" sm="5" class="pb-0">
                            <div class="item-last" @click="getPostById(post.id)" v-for="(post,index) in listNewPosts" :key="post.id" v-if="listNewPosts.length>1&& index>0&&index<3">
                                <img :src="$getFileUrl(post.avatar)" alt="">
                                <div class="title-post">
                                    {{post.title}}
                                </div>
                                <div class="d-flex flex-row justify-start mx-4 comment-post-number" color="black">
                                        <div class="mr-5">
                                            <v-icon small color="white">mdi-thumb-up</v-icon> <span>{{post.numberOfLikes}}</span>
                                        </div>
                                        <div class="mr-5" >
                                            <v-icon small color="white">mdi-comment</v-icon> <span>{{post.numberOfComments}}</span>
                                        </div>
                                        <div>
                                          <v-icon small color="white">mdi-eye</v-icon> <span>{{post.view_number}}</span>
                                        </div>

                                </div>
                            </div>
                        </v-col>
                    </v-row>
                    <div style="width:100%;" class="text-right px-2 pt-2 show-more">
                        <v-divider color="#fff" class="my-2"></v-divider>
                        <span class="btn" @click="getCategoryById(listNewPosts[0].category.id)">>> Xem Thêm</span>
                    </div>
                </div>
            </v-col>

             <v-col cols="12" sm="4" md="4" xl="4" class="px-5">
                 <div class="new-post" v-if="listCategory.length>0">
                     <span class="title">{{listCategory[0].name_category}}</span>
                    <v-divider color="#fff" class="my-1 mb-1"></v-divider>
                     <div class="box-post-hot">
                        <div class="item-hot" @click="getPostById(post.id)" v-for="(post,index) in list1" :key="index" v-if="index>0 && index<4">
                             <img :src="$getFileUrl(post.avatar)" alt="" style="border:1px solid #000">
                             <div class="title-post">
                                {{post.title}}
                            </div>
                            <div class="d-flex flex-row justify-start mx-4 comment-post-number" color="black">
                                <div class="mr-3">
                                    <v-icon small>mdi-thumb-up</v-icon> <span>{{post.numberOfLikes}}</span>
                                </div>
                                <div class="ml-1" >
                                    <v-icon small>mdi-comment</v-icon> <span>{{post.numberOfComments}}</span>
                                </div>
                                <div class="ml-2" >
                                    <v-icon small>mdi-eye</v-icon> <span>{{post.view_number}}</span>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;" class="text-right px-2 pt-1 show-more">
                            <v-divider color="#fff" class="my-2"></v-divider>
                            <span class="btn" @click="getCategoryById(list1[0].category_id)">>> Xem Thêm</span>
                        </div>
                     </div>
                 </div>
            </v-col>
        </v-row>
         <v-row>
            <v-col cols="12" sm="8" md="8" xl="8" class="pr-0">
                <div class="new-post pt-3" v-if="listCategory.length>1">
                    <span class="title">{{listCategory[1].name_category}}</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <div class="box-post-build">
                        <div class="item-build" @click="getPostById(i.id)" v-for="i in list2" :key="i.id">
                             <img :src="$getFileUrl(i.avatar)" alt="">
                             <div class="title-post">
                                {{i.title}}
                            </div>
                            <div class="d-flex flex-row justify-start px-3 py-1 comment-post-number" color="black">
                                <div class="mr-5">
                                    <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                </div>
                                <div class="mr-5" >
                                    <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                </div>
                                <div >
                                  <v-icon small >mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;" class="text-right px-2 show-more">
                            <v-divider color="#fff" class="my-2"></v-divider>
                            <span class="btn" @click="getCategoryById(list2[0].category_id)">>> Xem Thêm</span>
                        </div>
                    </div>
                </div>

                <div class="new-post mt-5" v-if="listCategory.length>2">
                    <span class="title">{{listCategory[2].name_category}}</span>
                    <v-divider class="mt-1" color="#fff"></v-divider>

                    <div class="box-post-exp">
                        <v-row class="my-0 py-0">
                            <v-col cols="12" md="8" xl="8" >
                                <div class="item-hot" @click="getPostById(list3[0].id)">
                                        <img :src="$getFileUrl(list3[0].avatar)" alt="" >
                                        <div class="title-post">
                                            {{list3[0].title}}
                                            <div class="description-post">
                                                {{list3[0].description}}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-start mx-4 comment-post-number" color="black">
                                            <div class="mr-5">
                                                <v-icon small>mdi-thumb-up</v-icon> <span>{{list3[0].numberOfLikes}}</span>
                                            </div>
                                            <div class="mr-5" >
                                                <v-icon small>mdi-comment</v-icon> <span>{{list3[0].numberOfComments}}</span>
                                            </div>
                                            <div>
                                                <v-icon small>mdi-eye</v-icon> <span>{{list3[0].view_number}}</span>
                                            </div>
                                        </div>

                                    </div>
                            </v-col>
                            <v-col cols="12" md="4" xl="4" class="ml-0" v-if="list3[1]" >
                                <div class="item-basic" @click="getPostById(list3[1].id)">
                                    <div class="title-post">
                                        {{list3[1].title}}
                                        <div class="description-post">
                                            {{list3[1].description}}
                                        </div>
                                    </div>
                                     <div class="d-flex flex-row justify-start comment-style mx-4 mt-1">
                                        <div class="mr-5">
                                            <v-icon small>mdi-thumb-up</v-icon> <span>{{list3[1].numberOfLikes}}</span>
                                        </div>
                                        <div class="mr-5" >
                                            <v-icon small>mdi-comment</v-icon> <span>{{list3[1].numberOfComments}}</span>
                                        </div>
                                        <div>
                                            <v-icon small >mdi-eye</v-icon> <span>{{list3[1].view_number}}</span>
                                        </div>
                                    </div>

                                </div>
                            </v-col>
                        </v-row>
                        <v-divider class="my-1 mx-1" color="#fff"></v-divider>
                        <div class="d-flex flex-wrap">
                            <div class="item-post-vertical" @click="getPostById(item.id)" v-for="(item,index) in list3" :key="index" v-if="index>1&& index<8">
                                <img :src="$getFileUrl(item.avatar)" alt="">
                                <div class="title-post">
                                    {{item.title}}
                                    <div class="description-post">
                                        {{list3[1].description}}
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-start comment-style mx-4 mt-1">
                                    <div class="mr-5">
                                        <v-icon small>mdi-thumb-up</v-icon> <span>{{list3[1].numberOfLikes}}</span>
                                    </div>
                                    <div class="mr-5" >
                                        <v-icon small>mdi-comment</v-icon> <span>{{list3[1].numberOfComments}}</span>
                                    </div>
                                    <div>
                                        <v-icon small >mdi-eye</v-icon> <span>{{list3[1].view_number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="width:100%;" class="text-right px-2 show-more">
                        <v-divider color="#fff" class="mt-2 mb-1"></v-divider>
                        <span class="btn" @click="getCategoryById(list3[0].category_id)">>> Xem Thêm</span>
                    </div>
                </div>
            </v-col>
            <v-col cols="12" sm="4" md="4" xl="4" class="px-5">
                <div class="new-post mb-7 px-0 py-0">
                    <div class="box-advan" @click="$router.push('/posts/3')">
                        <img :src="$getFileUrl('a125.jpg')" alt="" style="width:100%; height:auto">
                        <span>Bản cập nhật giữa mùa giải </span>
                    </div>
                </div>
                <div class="new-post" v-if="listPopuPost!=null">
                    <span class="title">Bài Viết Nổi Bật</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <div class="box-post-hot">
                        <div class="item-hot  mt-4" v-if="index<7" @click="getPostById(i.id)" v-for="(i,index) in listPopuPost" :key="i.id">
                             <img :src="$getFileUrl(i.avatar)" alt="">
                             <div class="title-post">
                                {{i.title}}
                            </div>
                            <div class="d-flex flex-row justify-start mx-4 comment-post-number" color="black">
                                <div class="mr-5">
                                    <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                </div>
                                <div class="mr-5" >
                                    <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                </div>
                                <div>
                                    <v-icon small >mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;" class="text-right px-2 pt-3 pb-2 show-more">
                            <v-divider color="#fff" class="my-3"></v-divider>
                            <span class="btn" @click="getCategoryById(listPopuPost[0].category_id)">>> Xem Thêm</span>
                        </div>
                    </div>
                </div>
            </v-col>
         </v-row>
         <v-row>
            <v-col cols="12" class="pr-5">
                <div class="new-post" v-if="listCategory.length>3">
                    <span class="title">{{listCategory[3].name_category}}</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <div class="box-post-leage">
                        <div class="item-build" @click="getPostById(i.id)" v-for="i in list4" :key="i.id">
                             <img :src="$getFileUrl(i.avatar)" alt="">
                             <div class="title-post pb-1">
                                {{i.title}}
                            </div>
                            <div class="d-flex flex-row justify-start px-2 comment-post-number" color="black">
                                <div class="mr-5">
                                    <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                </div>
                                <div class="mr-5" >
                                    <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                </div>
                                <div>
                                    <v-icon small >mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;" class="text-right px-2 show-more">
                            <v-divider color="#fff" class="mt-2 mb-1"></v-divider>
                            <span class="btn" @click="getCategoryById(list4[0].category_id)">>> Xem Thêm</span>
                        </div>
                    </div>
                </div>
            </v-col>
         </v-row>
    </div>
</template>
<script>
export default {
    data(){
        return{
            list1:[],
            list2:[],
            list3:[],
            list4:[],
            listCategory:[]
        }
    },
    created(){
        this.getNewPost();
        this.getCate();
        localStorage.setItem('id_post',null);
    },
    computed:{
        listNewPosts(){
            return this.$store.getters['home/posts/listNewPost'];
        },
        listPopuPost(){
             return this.$store.getters['home/posts/listPopuPost'];
        }
    },
    methods:{
        getNewPost(){
            this.$store.dispatch('home/posts/getNewPost');
            this.$store.dispatch('home/posts/getPopuPost');
        },
        getPostById(id){
            this.$store.dispatch('home/posts/whatPost',{id:id});
            this.$router.push({name:'posts-id',params:{id:id}});

        },

        getCategoryById(id){
            this.$router.push({name:'posts-category-id',params:{id:id}})
        },


        async  getCate(){
            const res=await this.$store.dispatch('home/posts/loadListCate');
            if(res.code==200){
                this.listCategory=res.data;
                this.list1=res.data[0].posts
                this.list2=res.data[1].posts
                this.list3=res.data[2].posts
                this.list4=res.data[3].posts
            }else{
                this.listCategory=[];
            }
        },

        getPostByCategory(id){
            let arrResult=[]
           this.$store.dispatch('home/posts/getPostByCategory', {id:id}).then(res=>{
                if(res.code==200){
                 res.data.map(element=>{
                     arrResult.push(element);
                 })
                }
           })
           return arrResult;

        }
    }
}
</script>
