<template>
    <v-card>
     <v-card-title class="white--text small" :style="$colorTitlePage" >Trang Quản Lý Tướng</v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1  px-sm-3"
      hide-default-footer
      :page.sync="page"
      :items-per-page="itemsPerPage"
      @page-count="pageCount = $event"
    >
      <template v-slot:top>
        <v-toolbar flat  class="mb-sm-1">
          <v-toolbar-title>Danh Sách Tướng</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="paginationParams.search_text"
            label="Tìm Kiếm" placeholder="Tìm kiếm theo tên, giá tiền và xếp hạng"
            single-line
            hide-details
            append-icon="mdi-magnify"
            @click:append="loadChampions"
            @keyup.enter="loadChampions"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark small class="mb-2" @click="addChampions">
            <v-icon>mdi-plus</v-icon>Thêm Tướng
          </v-btn>
        </v-toolbar >
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn x-small :disabled="item.country_lock_status ? true :false" fab  class="mr-sm-1" color="primary" @click="editChampions(item)">
          <v-icon dark >$edit</v-icon>
        </v-btn>
        <v-btn x-small :disabled="item.country_lock_status ? true :false" fab color="red"  @click="deleteChampions(item)">
            <v-icon color="white">$delete</v-icon>
        </v-btn>
      </template>
      <template v-slot:item.skill="{item}" >
           <div style="font-size:13px">
              <v-tooltip bottom nudge-bottom="-5" tag="v-card"  class="pa-0 tooltip" style="min-width:18vmax; width:18vmax !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                <template v-slot:activator="{ on }">
                   <img v-on="on" :src="$getFileUrl(item.avatar_skill)" style="width:40px; height:40px; border-radius:4px" alt="">
                </template>
                <v-card class="pa-0 ma-0" style="width:18vmax">
                  <v-card-text class="pa-1 ma-0">
                      <div class="d-flex flex-row justify-start">
                          <img v-on="on" :src="$getFileUrl(item.avatar_skill)" style="width:40px; height:40px; border-radius:4px" alt="">
                          <div class="ml-2">
                            <span class="font-weight-bold black--text" style="font-size:16px">
                              {{item.skill}}
                            </span><br>
                            <div class="black--text text-right font-weight-bold" style="font-size:13px">
                              Năng Lượng<v-icon small class="primary--text">mdi-opacity</v-icon>:
                              <span class="mt-3">{{item.start_mana}}/{{item.mana}}</span>
                            </div>
                          </div>
                      </div>
                      <v-divider></v-divider>
                      <div class="font-weight-bold black--text mx-1" style="font-size:12px">
                          {{item.info_skill}}
                      </div>
                  </v-card-text>
                </v-card>
              </v-tooltip>
          </div>
      </template>
      <template v-slot:item.name="{item}">
        <span class="font-weight-bold">{{item.name}}</span><br>
        <div class="mt-2">
          <v-chip :color="getPrice(item)" class="white--text mr-1"> {{item.price}}$</v-chip>

        </div>
      </template>
      <template v-slot:item.info_champions="{item}" class="text-center">
          <div style="width:17vw !important; font-size:13px" >
                <div class="justify-space-between d-flex">
                    <span class="mr-sm-4">Máu: {{item.health}} </span>
                    <span>NL/Khởi Đầu: {{item.mana}}/{{item.start_mana}} </span>
                </div>
                <div class="justify-space-between d-flex">
                    <span class="mr-sm-5">Damage: {{item.attack_damage}} </span>
                     <span>Giáp/KP: {{item.armor}}/{{item.magic_resist}}</span>
                </div>
                <div class="justify-space-between d-flex">
                    <span class="mr-sm-5">DPS: {{item.dps}} </span>
                    <span >Tầm Đánh/TĐộ: {{item.range}}/{{item.attack_speed}}</span>
                </div>
          </div>
      </template>
      <template v-slot:item.rated="{item}">
          <v-chip :color="getColor(item)" class="text-uppercase white--text">{{item.rated}}</v-chip>
      </template>
      <template v-slot:item.classes="{ item }">
         <div v-if='item.classes.length>0' >
           <div v-for="(tamp,index) in item.classes" :key="index" class="my-1">
              <v-chip small="" class="white--text" :color="tamp.type==0 ? 'green':'blue'">{{tamp.name}} </v-chip> <br>
           </div>
         </div>
      </template>
      <template v-slot:item.advanced_items="{item}">
        <div v-if="item.advanced_items.length>0">
            <div class="d-flex flex-row" >
              <img v-for="(tamp,index) in item.advanced_items" :key="index" :src="$getFileUrl(tamp.avatar)" class="img-item" alt="">
            </div>

        </div>
      </template>
      <template v-slot:item.avatar="{item}">
        <img :src="$getFileUrl(item.avatar)" class="img-avatar" alt="">
      </template>
      <template v-slot:no-data>{{ 'No_data' }}</template>
    </v-data-table>
    <v-row class="text-center p-3">
      <v-col cols="12" sm="3" md="3">
        <v-select class="ml-3"
          :items="perPageItems"
          v-model="itemsPerPage"
          outlined
          dense
          @change="itemsPerPage = parseInt($event, 10)"
        ></v-select>
      </v-col>
      <v-col cols="12" sm="9" md="9">
         <v-pagination class="justify-end" v-model="page" :length="pageCount"></v-pagination>
      </v-col>
    </v-row>

    <!-- modal -->
    <edit-modal></edit-modal>
  </v-card>
</template>

<script>
import EditModal from '~/components/admin/champions/editChampions'

export default {
  components: { EditModal },
  layout:'admin',
  data() {
    return {
      isLock:false,
      logginUserRole:null,
      paginationParams: {
      search_text: '',
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 5,
      items: [

      ],
      perPageItems: [5,10,20],
      loading: true
    }
  },
  computed: {
    loadingText() {
      return this.$t('Loading') + ' ...'
    },
    headers() {
      return [
        { text: 'Tên Tướng', value: 'name', align:'center' },
        { text: 'Ảnh Đại Diện', value: 'avatar', align:'center' },
        { text: 'Chỉ Số', value: 'info_champions' },
        { text: 'Kỹ Năng', value:'skill',},
        { text: 'Nhóm Tướng', value: 'classes'},
        { text: 'Trang Bị Phù Hợp', value: 'advanced_items'},
        { text: 'Xếp Hạng', value: 'rated', align:'center'},
        { text: 'Tùy Chỉnh', value: 'action', sortable: false }
      ]
    },
    statusEditModal() {
      return this.$store.getters['admin/champions/statusEditModal']
    }
  },
  watch: {
    statusEditModal: function(val) {
      if (!val) {
        this.loadChampions()
      }
    }
  },
  created() {
    this.loadChampions()
  },
  methods: {
    async loadChampions() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/champions/loadList',{
          params:this.paginationParams,
        }

      )
      if (200 === response.code) {
        this.items = response.data
        this.loading = false
      }else{
        this.$showError(response.message);
        if(response.code==500){
          this.$router.push('/');
        }
      }
    },

    changePerPage() {
      this.paginationParams.page = 1 // reset to page 1
      this.loadChampions()
    },

    openEditModal() {
      this.$store.commit('admin/champions/SET_STATUS_EDIT_MODAL', true)
    },

    addChampions() {
      this.$store.commit('admin/champions/SET_EDIT_CHAMPIONS', null)
      this.openEditModal()
    },

    editChampions(item) {
      this.$store.commit('admin/champions/SET_EDIT_CHAMPIONS', Object.assign({}, item))
      this.openEditModal()
    },

    deleteChampions(item) {
      swal({
        title: 'Bạn có chắc chắn không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          // call api delete user
          const response = await this.$store.dispatch(
            'admin/champions/delete',
             {
              id:item.id,
            }
          )
          if (200 === response.code) {
            this.loadChampions()
            this.$showSuccess('Xóa Thành Công')
          } else {
            this.$showError(response.message)
          }
        }
      })
    },
    getColor(item){
      switch(item.rated) {
        case 's':
          return 'red lighten-1'
          break;
        case 'a':
          return 'orange lighten-1'
          break;
        case 'b':
          return 'green'
          break;
        case 'c':
          return 'pink lighten-1'
          break;
        default:
          return'gray'
      }
    },
     getPrice(item){
      switch(item.price) {
        case 5:
          return 'red lighten-1'
          break;
        case 4:
          return 'orange lighten-1'
          break;
        case 3:
          return 'green'
          break;
        case 2:
          return 'pink lighten-1'
          break;
        default:
          return'blue lighten-1'
      }
    }
  }
}
</script>

</template>
