<template>
  <v-app>
    <sidebar :drawer="drawer"  :miniVariant="miniVariant" :clipped="clipped"></sidebar>
    <v-app-bar :clipped-left="clipped" fixed style="z-index:3 !important" app >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn icon @click.stop="miniVariant = !miniVariant" v-show="drawer">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>mdi-application</v-icon>
      </v-btn>
       <v-btn class="mx-3" icon @click="openChangeModal" v-if="false">
         <v-icon color="red">mdi-account</v-icon>
       </v-btn>
      <v-btn icon @click.stop="fixed = !fixed" v-if="false">
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" class="font-weight-bold" />
      <v-spacer />
      <h5 class="align-end" v-if="false">{{timestamp}}</h5>
      <v-btn hidden icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn text  v-on="on" class="ml-3 text-capitalize">
            <v-icon>mdi-account-circle</v-icon> 
            {{
            userName
            }}
          </v-btn>
        </template>
        <v-list>
          <v-list-item to="#" router>
            <v-list-item-title>Setting Giao Diện</v-list-item-title>
          </v-list-item>
          <v-list-item @click="openChangeModal">
            <v-list-item-title>{{ 'ResetPassword' }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-title>{{ 'Sign_out' }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-content class="mx-2 mt-2 mb-0" style="max-height:90%">
      <!-- <v-container fluid class="body-content"> -->
        <nuxt/>
      <!-- </v-container> -->
    </v-content>
    <v-navigation-drawer v-model="rightDrawer" :right="right">
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>mdi-repeat</v-icon>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <footer-bar></footer-bar>
    <!-- <change-passw></change-passw> -->
  </v-app>
</template>

<script>
import TheSidebar from '~/components/masterPage/TheSidebar'
import TheFooterBar from '~/components/masterPage/TheFooterBar'
// import ChangePassword from '~/components/user/change-passw'
export default {
  components: {
    sidebar: TheSidebar,
    'footer-bar': TheFooterBar,
    // 'change-passw':ChangePassword,
  },
 middleware: 'authenticated',
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'TRANG QUẢN TRỊ NỘI DUNG',
      timestamp:"",
    }
  },
  created() {},
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    });
  },
  computed: {
    userName() {
      return localStorage.getItem('user')
    }
  },
  methods: {
    getChangeLanguageURL(lang) {
      localStorage.setItem('locale',lang);
      this.$store.commit('SET_LANG',lang);
      location.reload();
    },
    openChangeModal(){
        // this.$store.commit('auth/SET_STATUS_EDIT_MODAL', true);
    },
    logout() {
      localStorage.clear();
      this.$router.push('/admin/auth/login')
    },
    getNow() {
      const today = new Date();
      const date =today.getDate()+'/'+(today.getMonth()+1)+"/"+today.getFullYear();
      const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = date +' '+ time;
      this.timestamp = dateTime;
        }
  },
  
}
</script>
<style >
.h4-time{
  font-style: italic
}
.body-content{
  width: 100vw;
  
  
}
</style>
