<template>
  <v-app>
    <v-toolbar style="max-height:62px" color="#203744">
      <span class="hidden-sm-and-up">
        <v-app-bar-nav-icon @click="sidebar = !sidebar">
        </v-app-bar-nav-icon>
      </span>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer; margin-left:80px; font-weight:bold;color:#fff;font-size:19pt;">
            <v-icon color="white"> mdi-hexagon-multiple</v-icon>{{ appTitle }}
        </router-link>
      </v-toolbar-title>
      
      <v-toolbar-items class="hidden-xs-only" style="margin-left:100px">
        <v-btn link
          text class="font-weight-bold text-right white--text px-4"
          v-for="item in menuItems"
          :key="item.title"
          :to="item.path"> 
          <v-icon left white class="mr-1">{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
        <v-menu open-on-hover bottom offset-y  nudge-bottom="-3" color="#203744">
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="font-weight-bold" style="font-size:11pt;"
            link text
            dark
            v-bind="attrs"
            v-on="on"
          >
          <v-icon class="mr-1 mb-1" style="font-size:14pt">mdi-book-open-page-variant</v-icon>  Xây Dựng Đội Hình
          </v-btn>
        </template>
  
        <v-list color="#203744"  class="py-0 white--text">
          <v-list-item link :to="item.path" v-if="item.id"
            v-for="(item, index) in subInfos1"
            :key="index"
          >
            <v-list-item-title  class="white--text font-weight-bold"><v-icon class="ml-1 mb-1 white--text">{{item.icon}}</v-icon> {{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
        <v-menu open-on-hover bottom offset-y  nudge-bottom="-3" color="#203744">
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="font-weight-bold" style="font-size:11pt;"
            link text
            dark
            v-bind="attrs"
            v-on="on"
          >
          <v-icon class="mr-1 mb-1" style="font-size:14pt">mdi-poll</v-icon>  Thông Tin Chung
          </v-btn>
        </template>
  
        <v-list color="#203744"  class="py-0 white--text">
          <v-list-item link :to="item.path"
            v-for="(item, index) in subInfos"
            :key="index"
          >
            <v-list-item-title class="white--text font-weight-bold pt-1"><v-icon class="ml-1 pb-2 white--text">mdi-poll</v-icon> {{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn v-if="userName==null" @click="login" link class="white--text" text dark="">
        <v-icon class="mr-sm-1">mdi-account-circle</v-icon> Đăng Nhập
      </v-btn>
      <v-menu v-else offset-y nudge-bottom="-3" color="#203744">
        <template v-slot:activator="{ on }">
          <v-btn text  v-on="on" class="ml-3 text-capitalize white--text">
            <v-icon>mdi-account-circle</v-icon> 
            <span class="text-uppercase font-weight-bold">{{userName}}</span>
          </v-btn>
        </template>
        <v-list class="py-0" color="#203744">
          <v-list-item to="/users/user-info" router>
            <v-list-item-title class="white--text font-weight-bold pt-1"><v-icon class="mx-1 pb-2 white--text">mdi-information-outline</v-icon>Thông Tin TK</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-title class="white--text font-weight-bold pt-1"><v-icon class="mx-1 pb-2 white--text">mdi-logout-variant</v-icon>Đăng Xuất</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      </v-toolbar-items>
    </v-toolbar>
    
    <v-content class="box-app">
      <div class="box-content">
        <nuxt/>
      </div>
    </v-content>
    
  </v-app>

</template>

<script>
export default {
  name: "App",
  data(){
    return {
      appTitle: 'TFT24H',
      isLogin:false,
      sidebar: false,
      user:null,
      menuItems: [
          { title: 'Cẩm Nang', path: '/', icon: 'mdi-newspaper' },
          { title: 'Đội Hình', path: '/team-composition', icon: 'mdi-face' },
          { title: 'Vị Tướng', path: '/champions', icon: 'mdi-snapchat' },
          { title: 'Ghép Trang Bị', path: '/items', icon: 'mdi-sword-cross' }, 
     ],
     subInfos:[
       {title:'Xếp Hạng',icon:'mdi-poll',path:'/data/rated'},
       {title:'Rolling & Lợi Tức',icon:'mdi-poll',path:'/data/rolling'},
       {title:'Hệ Tướng',icon:'mdi-poll',path:'/data/classes'},
       {title:'Tộc Tướng',icon:'mdi-poll',path:'/data/origins'},
     ],
     subInfos1:[
       {title:'Xây Dựng Đội Hình',icon:'mdi-book-open-page-variant',path:'/team/build-team',id:true},
       {title:'Đội Hình Của Tôi',icon:'mdi-account',path:'/team/my-teams',id:localStorage.getItem('userData1')!=null ? true : false},
     ]
    }
  },
  created(){
    if(localStorage.getItem('user_home') !=undefined){
      // this.isLogin =localStorage.getItem('user_home');
      this.$store.commit('admin/auth/SET_NAME_USER_HOME', localStorage.getItem('user_home'));
    }
  },

  computed:{
    userName(){
      let userName= this.$store.getters['admin/auth/nameUserHome'];
      if(userName!=null){
        return userName
      }else{
        return null;
      }
    }
  },
  methods:{
    logout() {
      this.isLogin=null;
      this.$store.commit('admin/auth/SET_NAME_USER_HOME',null);
      this.subInfos1[1].id=false;
      localStorage.removeItem('user_home');
      localStorage.removeItem('auth_home');
      localStorage.removeItem('userData1');
      this.$showSuccess('Đăng Xuất Thành Công');
      this.$router.push('/posts');
    },
    login(){
      this.$router.push('/login');
    }
  },
};
</script>
<style>
.box-content{
  max-width:80vw;
  width:80vw; 
  height:98%; 
  margin:1px auto;
  /* background: #203744; */
  padding: 10px 5px;
  color:white;

}
.box-app{
  background:#0d202b
}
</style>
