<template>
  <v-app>
    <v-container fluid fill-height class="body-login">
      <nuxt />
    </v-container>
  </v-app>
</template>
<script>
export default {
  middleware: 'anonymous_home',
}
</script>
<style scoped>
  .body-login{
    background: url(../static/image1.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
  }
</style>

