<template>
<div style="width:440px">
  <div class="box">
    <div  class="hex" v-for="item in 28" :key="item" :class="item<8 || item>14 && item<=21 ?'margin-11 ml-2': 'ml-2'" 
          position="1">
        <div class="characters-item builder-portrait">
          <div class="character-wrapper">
            <img class="character-icon" :src="$getFileUrl('12936yasuo.png')" alt="">
          </div>
        </div>
        <div class="hexTop"></div>
        <div class="hexBottom"></div>

    </div> 
  </div>
</div>
  
</template>