<template>
  <v-card>
      <v-card-text class="mt-0 pt-2">
          <v-row class="">
            <v-col cols="12" md="3" xl="3" class="my-0 py-0 pr-0">
              <v-text-field
                v-model="team.name"
                placeholder="Mời nhập tên của đội hình"
                solo label="Tên Đội Hình" dense  single-line=""
                class="my-0 py-0" hide-details=""
                prepend-icon="mdi-octagram" v-validate="'required'" data-vv-name="nameTeams" data-vv-as="Tên Đội Hình"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6" xl="6" class="my-0 py-0">
              <v-text-field
                v-model="team.description"
                placeholder="Cần biết khi xây dựng !"
                solo label="Ghi Chú" dense  hide-details=""
                class="my-0 py-0"
                 v-validate="'required'" data-vv-name="description" data-vv-as="Ghi Chú"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3" xl="3" class="my-0 py-0">
               <v-select
                  prepend-icon="mdi-format-list-bulleted-type"
                  v-model="team.rated"
                  :items="rateds"
                  item-text="name" hide-details=""
                  item-value="value"
                  v-validate="'required'" placeholder="Xếp Hạng"
                  data-vv-as="Xếp hạng"
                  label="Xếp hạng*"
                  data-vv-name="rated"
                  :reduce="option=>option.value"
                  persistent-hint solo dense
                ></v-select>
            </v-col>
              <v-col cols="12" sm="2" md='2' xl="2" class="mx-0 px-0">
                <div class="overflow-y-auto px-1" v-scroll.self="onScroll" style="max-height:70vh">
                <div v-for="(item,index) in classes" :key="index" >
                  <v-tooltip left nudge-left="-25" tag="v-card"  class="p-0 tooltip" style="min-width:18vw; width:18vw !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                    <template v-slot:activator="{ on }">
                      <div v-on="on" class="d-flex flex-row box-class">
                        <img :src="$getFileUrl(item.avatar)" alt="" class="img-class mt-1">
                        <v-chip small class="px-2 my-3 ml-2 font-weight-bold">{{item.count}}</v-chip>
                        <div class="ml-2 mt-1 white--text">
                          <span class="font-weight-bold">{{item.name}}</span> <br>
                          <span v-for="(comb,idex) in item.combinates" :key="idex" :class="item.count<comb.combination? 'blue-grey--text' :'white--text font-weight-bold'">
                            {{comb.combination}}
                            <v-icon v-if="index+1 < item.combinates.length" small="" class="blue-grey--text">mdi-chevron-right</v-icon>
                          </span>
                        </div>
                      </div>
                    </template>
                    <v-card class="ma-0 tooltip-card"  style="min-width:18vw; width:18vw !important;">
                      <v-card-text class="ma-0 pa-0">
                        <div class="d-flex flex-row justify-start ma-1">
                            <img :src="$getFileUrl(item.avatar)" class="img-class mt-1" alt="">
                            <v-divider class="mx-1" inset vertical></v-divider>
                            <span class="font-weight-bold mt-4 black--text" style="font-size:13pt">{{item.name}}</span>
                        </div>
                        <v-divider></v-divider>
                        <span class="black--text mx-2" style="font-size:13px">{{item.skill}}</span>
                        <div class="d-flex flex-row justify-start mx-2" v-for="(comb,index) in item.combinates" :key="index">
                            <v-chip small class="primary px-2 py-2 mr-1 mb-1">{{comb.combination}}</v-chip>
                            <span class="black--text" style="font-size:13px">{{comb.content}}</span>
                        </div>
                        <div style="display:inline-block" class="mx-2">
                          <div class="font-weight-bold black--text mx-1">Tướng: </div> <img v-for="(imgChamp,index) in getChampionsByIdClass(item.id)" :key="index" :style="'width:35px; height:35px; border:2.5px solid '+ getPrice(imgChamp)" class="mx-1" :src="$getFileUrl(imgChamp.avatar)" alt="">
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-tooltip>
                </div>
                </div>
                <v-btn v-if="classes.length>0" @click="refeshTeam" small class="white--text" color="#203744">
                  <v-icon class="mr-1" >mdi-refresh</v-icon>
                  Xây Dựng Lại
                </v-btn>
                <div v-if="classes.length==0" class="box-class py-5">
                  <div class="text-center white--text" style="width:100%">
                    <v-icon color="white">mdi-information-outline</v-icon>
                    <h5>Bạn chưa chọn tướng</h5>
                  </div>
                </div>
              </v-col>
              <v-col cols="12" sm="10" md="10" xl="10">
                  <v-row>
                      <v-col cols="12" sm="8" md="8" xl="8">
                        <div class="board">
                          <drop  class="hex" @click.right="removeChampion(index)"   tag="div" @dblclick="addStart(index)" @drop="addChampion($event,index)"  v-for="(item,index) in items" :key="index" :class="item.local<8 || item.local>14 && item.local<=21 ?'margin-10 ml-2': 'ml-2'"
                                :style=" item.champion !=null ? 'background-image: url('+$getFileUrl(item.champion.avatar)+');border-right-color:'+getPrice(item.champion)+';border-left-color:'+getPrice(item.champion) : ''" position="1">
                                  <div class="characters-item builder-portrait">
                                    <div class="character-wrapper">
                                      <img @dragend="removeChampion(index)" class="character-icon" v-if="item.champion!=null" :src="$getFileUrl(item.champion.avatar)" alt="">
                                    </div>
                                  </div>
                                  <div class="hexTop" :style="item.champion!=null? 'border-top-color:'+getPrice(item.champion)+';border-right-color:'+getPrice(item.champion) :''"></div>
                                  <div class="hexBottom" :style="item.champion!=null? 'border-bottom-color:'+getPrice(item.champion)+';border-left-color:'+getPrice(item.champion) :''"></div>
                                  <div class="character-items">
                                    <drop success @dragend="removebyType(item,index,'items')" v-for="(subitem,index) in item.item" :key="index" class="characters-item builder-portrait active" v-if="item.item.length>0&& subitem !=null">
                                        <div class="character-wrapper">
                                          <img class="character-icon" :src="$getFileUrl(subitem.avatar)" alt="">
                                        </div>
                                    </drop>
                                  </div>
                                  <div v-if="item.champion!=null" :class="item.start_3==1 ?'character-level active':'character-level'">★★★</div>
                          </drop>
                        </div>
                      </v-col>
                      <v-col cols="12" sm="4" md="4" xl="4" class="scroll">
                          <div class="box-item">
                            <div v-for="(item,index) in adItems" :key="index" v-if="item !=null">
                                <v-tooltip v-for="(baseItem,index) in item.base_items" :key="index" top nudge-right="30" tag="v-card"  class="p-0 tooltip" style="min-width:18vw; width:18vw !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                                  <template v-slot:activator="{ on }">
                                      <img v-on="on" :src="$getFileUrl(baseItem.avatar)">
                                  </template>
                                  <v-card class="ma-0 tooltip-card"  style="min-width:18vw; width:18vw !important;">
                                    <v-card-text class="ma-0 pa-0">
                                      <div class="d-flex flex-row ">
                                        <img  :src="$getFileUrl(baseItem.avatar)" class="itemShow ma-1">
                                        <div class="ml-3 mt-2">
                                              <span class="font-weight-bold black--text">{{baseItem.name}}</span> <br>
                                              <span class="black--text">+{{baseItem.number_power}} {{checkUseTypes(baseItem.uses_type)}}</span>
                                        </div>
                                      </div>
                                      <v-divider class="mx-1"></v-divider>
                                      <div class="mx-2 py-1">
                                        <div class="font-weight-bold black--text mx-1">Trang Bị: </div>
                                        <img v-for="(avatar,index) in getAdItemsByIdBaseItem(baseItem.id)" :key="index" style="width:35px; height:35px"  class="mx-1" :src="$getFileUrl(avatar)" alt="">
                                      </div>
                                    </v-card-text>
                                  </v-card>
                                </v-tooltip>

                            </div>
                            <div  v-if="adItems.length==0" class="text-center white--text py-5" style="width:100%">
                                <v-icon color="white">mdi-information-outline</v-icon>
                                <h5>Bạn chưa chọn trang bị nào</h5>
                            </div>
                          </div>
                          <div  class="overflow-y-auto" v-scroll.self="onScroll" style="max-height:155px">
                          <div v-for="(item,index) in adItems" :key="index" v-if="item!=null" class="d-flex flex-row box-item my-1 mx-5 pa-1 justify-center">
                            <v-tooltip :key="index" top nudge-right="30" tag="v-card"  class="p-0 tooltip" style="min-width:15vw; width:15vw !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                            <template v-slot:activator="{ on }">
                                <img v-if="item!=null" v-on="on" :src="$getFileUrl(item.avatar)" class="mx-3">
                            </template>
                            <v-card class="ma-0 tooltip-card" style="min-width:18vw; width:18vw !important;">
                              <v-card-text class="ma-0 px-2 py-0">
                                  <div class="d-flex flex-row " v-if="item!=null">
                                    <img   :src="$getFileUrl(item.avatar)" class="ma-1" style="width:35px; height:35px">
                                    <h3 class="mt-4 ml-2 black--text">{{item.name}}</h3>
                                  </div>
                                  <v-divider class="my-0 black"></v-divider>
                                  <div v-if="item!=null">
                                    <span class="font-weight-bold black--text" style="font-size:12px">{{item.uses}}</span>
                                  </div>
                                    <v-divider class="my-0"></v-divider>
                                  <div style="display:flex; padding:3px" v-if="item!=null">
                                    <span class="mt-1" style="font-size:13px;font-weight:bold; color:#000">Mảnh Ghép:</span>  <img :style="'width:35px; height:35px; margin:0 5px'" v-for="(baseItem, index) in item.base_items" :key="index" :src="$getFileUrl(baseItem.avatar)" alt="">
                                  </div>
                              </v-card-text>
                            </v-card>
                            </v-tooltip>
                               <v-icon color="white">mdi-shuffle-disabled</v-icon>
                               <v-tooltip v-for="(baseItem,index) in item.base_items" v-if="item!=null"  :key="index" top nudge-right="30" tag="v-card"  class="p-0 tooltip" style="min-width:18vw; width:18vw !important;  opacity:1.0 !important;" open-on-hover allow-overflow >
                                  <template v-slot:activator="{ on }">
                                      <img v-on="on" :src="$getFileUrl(baseItem.avatar)">
                                  </template>
                                  <v-card class="ma-0 tooltip-card"  style="min-width:18vw; width:18vw !important;">
                                    <v-card-text class="ma-0 pa-0">
                                      <div class="d-flex flex-row " v-if="baseItem!=null">
                                        <img  :src="$getFileUrl(baseItem.avatar)" class="itemShow ma-1">
                                        <div class="ml-3 mt-2">
                                              <span class="font-weight-bold black--text">{{baseItem.name}}</span> <br>
                                              <span class="black--text">+{{baseItem.number_power}} {{checkUseTypes(baseItem.uses_type)}}</span>
                                        </div>
                                      </div>
                                      <v-divider class="mx-1"></v-divider>
                                      <div class="mx-2 py-1" v-if="baseItem!=null">
                                        <div class="font-weight-bold black--text mx-1">Trang Bị: </div> <img v-for="(avatar,index) in getAdItemsByIdBaseItem(baseItem.id)" :key="index" style="width:35px; height:35px" class="mx-1" :src="$getFileUrl(avatar)" alt="">
                                      </div>
                                    </v-card-text>
                                  </v-card>
                                </v-tooltip>
                          </div>
                          </div>
                      </v-col>
                     </v-row>
                        <v-divider class="mt-1"></v-divider>
                    <v-row >
                        <v-col cols="12" sm="8" md="8" xl="8">
                            <v-card class="px-2 py-1">
                                <v-text-field @keyup.enter="loadChampions" append-icon="mdi-magnify" v-model="searchChampion" placeholder="Tìm kiếm tên, kỹ năng, giá tướng!" dense="" solo>

                                </v-text-field>
                                <div v-for="(champion,index) in listChampions" :key="index" style="position: relative; display: inline-block;">
                                    <v-tooltip bottom nudge-bottom="5" tag="v-card"  class="p-0 tooltip" style="min-width:18vmax; width:18vmax !important;  opacity:1.0 !important " open-on-hover allow-overflow >
                                        <template v-slot:activator="{ on }">
                                        <drag :data="champion">
                                            <v-img v-on="on" :style="'border:3px solid '+getPrice(champion)"  :src="$getFileUrl(champion.avatar)" class="img-champion"></v-img>
                                        </drag>
                                        </template>
                                        <v-card :name="champion.name" class="pa-2 ma-0 tooltip-card" style="min-width:18vmax; width:18vmax !important;opacity:1.0 !important">
                                            <v-card-text class="ma-0 pa-0">
                                            <div class="d-flex flex-row justify-space-between">
                                                <div class="text-center align-center">
                                                    <v-img  :src="$getFileUrl(champion.avatar)" :style="'width:60px;height:60px; border:2px solid'+getPrice(champion)"></v-img>
                                                    <span class="font-weight-bold pt-1 mb-1">{{champion.name}}</span>
                                                </div>
                                                <div>
                                                    <div v-for="cl in champion.classes" :key="cl.id" class="d-flex flex-row my-1">
                                                        <img :src="$getFileUrl(cl.avatar)" style="width:25px;height:25px; border:1px solid gray; border-radius:50%">
                                                        <span class="font-weight-bold mt-sm-1 ml-1">{{cl.name}}</span>
                                                    </div>
                                                </div>
                                                <div class=" text-center pt-5">
                                                    <v-chip fab class="font-weight-bold white--text" small :color="getPrice(champion)">$ {{champion.price}}</v-chip>
                                                </div>

                                            </div>

                                            <v-divider class="mb-2 mt-1"></v-divider>
                                            <div class="d-flex flex-row justify-space-between">
                                                <span class="font-weight-bold">Trang Bị: </span>
                                                 <img  v-for="(aditem,index) in champion.advanced_items" :key="index" :src="$getFileUrl(aditem.avatar)" style="width:30px !important;height:30px !important;">
                                            </div>
                                            </v-card-text>
                                        </v-card>
                                    </v-tooltip>
                                </div>
                            </v-card>
                        </v-col>
                        <v-col cols="12" sm="4" md="4" xl="4">
                            <v-card class="px-2 py-1">
                                <v-text-field @keyup.enter="loadItems" append-icon="mdi-magnify" v-model="searchItem" placeholder="Tìm kiếm tên trang bị!" dense="" solo>
                                </v-text-field>
                                <div v-for="aditem in listItems" :key="aditem.id" style="position: relative; display: inline-block;">
                                    <v-tooltip bottom nudge-bottom="10" tag="v-card"  class="p-0 tooltip" style="min-width:15vmax; width:15vmax !important;  opacity:1.0 !important " open-on-hover allow-overflow >
                                        <template v-slot:activator="{ on }">
                                        <drag :data="aditem">
                                            <v-img v-on="on"  :src="$getFileUrl(aditem.avatar)" class="img-items"></v-img>
                                        </drag>
                                        </template>
                                        <v-card :name="aditem.name" class="pa-2 tooltip-card" style="min-width:15vmax; width:15vmax !important;opacity:1.0 !important">
                                            <div class="d-flex flex-row ">
                                                <img  :src="$getFileUrl(aditem.avatar)" class="itemShow mt-1">
                                                <div class="ml-3">
                                                     <span class="font-weight-bold">{{aditem.name}}</span> <br>
                                                     <span v-for="(sub,index) in aditem.base_items" :key="index">
                                                         <img  :src="$getFileUrl(sub.avatar)" class="img-items">
                                                         <span v-if="index==0" class="mr-1 font-weight-bold">+</span>
                                                     </span>

                                                </div>
                                            </div>
                                            <v-divider class="mb-2 mt-0"></v-divider>
                                            <span style="font-size:12px">
                                                {{aditem.uses}}
                                            </span>
                                        </v-card>
                                    </v-tooltip>
                                </div>
                            </v-card>
                        </v-col>
                    </v-row>
              </v-col>
          </v-row>
          <v-divider></v-divider>
      </v-card-text>
      <v-card-actions class="pt-0">
        <v-spacer></v-spacer>
        <v-btn class="mr-2" small color="primary" @click="saveTeam"> Lưu Lại </v-btn>
        <v-btn small color="error" @click="cancel"> Quay Về </v-btn>
      </v-card-actions>
  </v-card>
</template>

<script>
import { Drag, Drop, DropMask , DropList} from "vue-easy-dnd";

export default {
  name: "App",
  components: {
    Drag,
    Drop,
    DropMask,
    DropList
  },
  layout:'admin',
  data: function() {
    return {
      hover:[false,],
      searchChampion:null,
      searchItem:null,
      scrollInvoked:0,
      listChampions:[],
      listItems:[],
      items:[],
      classes:[],
      adItems:[],
      team:{
        name:null,
        rated:null,
        user_id:null,
        description:null,
        champions:[],
      },
      rateds: this.$rateds
    };
  },
  created(){
      this.getItems();
  },
  methods: {
    refeshTeam(){
        this.items=[];
        this.getItems();
        this.classes=[];
        this.adItems=[];
    },
    getItems(){
      this.loadChampions();
      this.loadItems();
      let arr=[];
      for(let i=1 ; i<29;i++){
        let obj={
          local:i,
          champion:null,
          item:[],
          start_3:0
        }
          arr.push(obj);
      }
      this.items=arr;
    },

    getChampionsByIdClass(id){
     let arrChamp=[]
     if(this.listChampions.length>0){
       this.listChampions.map(element=>{
         let obj={
            avatar:null,
            price:0
          }
          if(element.classes.filter(i => i.id === id).length>0){
            obj.avatar=element.avatar;
            obj.price=element.price;
            arrChamp.push(obj);
          }
        })
     }
     return arrChamp
    },
     getAdItemsByIdBaseItem(id){
     let arrChamp=[]
     if(this.listItems.length>0){
       this.listItems.map(element=>{
          if(element.base_items.filter(i => i.id === id).length>0){
            arrChamp.push(element.avatar);
          }
        })
     }
     return arrChamp
    },

    async loadChampions() {
      this.hover=[];
      const response = await this.$store.dispatch(
        'admin/champions/loadList',{
          params:{
              search_text: this.searchChampion
          },
        }

      )
      if (200 === response.code) {
        this.listChampions = response.data
        this.listChampions.map(element=>{
            this.hover.push(false);
        })
      }else{
        this.$showError(response.message);
      }
    },

     async loadItems() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/item/loadList',{
          params:{
              search_text: this.searchItem
          },
          type:"advanced-item"
        }

      )
      if (200 === response.code) {
        this.listItems = response.data
        this.loading = false
      }else{
        this.$showError(response.message);
      }
    },
     getPrice(item){
      switch(item.price) {
        case 1:
          return 'black'
          break;
        case 2:
          return '#156831'
          break;
        case 3:
          return '#12407c'
          break;
        case 4:
          return '#893088'
          break;
        default:
          return'#b89d27'
      }
    },
      checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    },

    addChampion(event,index){
      if(event.data.mana!= undefined){
         this.items[index].champion=event.data;
      }else{
        if(this.items[index].item.length<3 &&this.items[index].champion!=null){
          if(event.data.id==43){
            this.items[index].item[0]=event.data;
            this.items[index].item[1]=null;
            this.items[index].item[2]=null;
          }else{
              if(this.items[index].champion.classes.filter(i => i.id === event.data.class_id).length>0){
                this.$showError('Tướng của bạn đã thuộc '+ event.data.classes.name)
              }else{
                this.items[index].item.push(event.data);
                if(event.data.class_id!=null){
                  this.items[index].champion.classes.push(event.data.classes);
                }
              }

          }
        }else{
          if(this.items[index].item[0]!=null){
            if (this.items[index].item[0].id==43){
              this.$showError('Bao Tay Đạo Tặc chiếm 3 vị trí trang bị');
            }
          }
          else{
            this.$showError('Mỗi tướng chỉ mang tối đa 3 trang bị')
          }

        }

      }
     this.getClasses()
    },
    addStart(index){
      this.items[index].start_3=this.items[index].start_3==1 ? 0 : 1;
    },
  async removeChampion(index){
      this.items[index].start_3=0;
      this.items[index].champion= await null;
      this.items[index].item=[];
      let count=0;
      this.items.map(element=>{
        if(element.champion==null){
          count++;
        }
      })
      if(count<28){
        this.getClasses()
      }else{
        this.classes=[];
      }

    },
    removebyType(index, subitem,type){
      if(type=='champion'){
        this.removeChampion(subitem);
      }else{
        this.removeItem(index,subitem)
      }
    },
    removeItem(index,subitem){
      if(this.items[index.local-1].item[0]!=null){
        if(this.items[index.local-1].item[0].id==43){
          this.items[index.local-1].item=[]
        }else{
          if(this.items[index.local-1].champion.classes.filter(i => i.id === this.items[index.local-1].item[subitem].class_id).length>0){
            this.items[index.local-1].champion.classes=this.items[index.local-1].champion.classes.filter(i => i.id !=this.items[index.local-1].item[subitem].class_id)
          }
          this.items[index.local-1].item.splice(subitem,1);
        }
      }
      this.getClasses();
    },
    getClasses(){
      let arrClasses=[];
      let arrItems=[];
      this.items.map(element=>{
        if(element.champion!=null){
        //  arrClasses= arrClasses.concat(element.champion.classes);
         arrItems=arrItems.concat(element.item);
        }
      })
     let arrCheck=this.deduplicateCp(this.items);
      arrCheck.map(element=>{
        if(element.champion!=null){
         arrClasses= arrClasses.concat(element.champion.classes);
        //  arrItems=arrItems.concat(element.item);
        }
      })
      let arrResult=[];
      if(arrClasses.length>0){
        arrClasses.map(element=>{
          let obj={
            id:null,
            name:null,
            avatar:null,
            skill:null,
            combinates:[],
            count:null,
          }
          if(element!=null){
            obj.id=element.id;
            obj.name=element.name;
            obj.avatar=element.avatar;
            obj.skill=element.skill;
            obj.combinates=element.combination_rates;
            obj.count= arrClasses.filter(i => i.id === element.id).length;
          }
          arrResult.push(obj);
        })
      }
      if(arrResult.length>0){
        this.classes=this.deduplicate(arrResult);
        this.classes.sort(function (a, b) {
        return b.count - a.count;
      });
      }
        this.adItems=arrItems;

    },

    deduplicate(arr) {
      let isExist = (arr, x) => {
        for(let i = 0; i < arr.length; i++) {
          if (arr[i].id === x.id) return true;
        }
        return false;
      }

      let ans = [];
      arr.forEach(element => {
        if(!isExist(ans, element)) ans.push(element);
      });
      return ans.sort();
    },
    deduplicateCp(arr) {
      let isExist = (arr, x) => {
        for(let i = 0; i < arr.length; i++) {
          if (arr[i].champion === x.champion) return true;
        }
        return false;
      }

      let ans = [];
      arr.forEach(element => {
        if(!isExist(ans, element)) ans.push(element);
      });
      return ans
    },

    saveTeam(){
        this.$validator.validateAll().then(async result => {
        if (result) {
          this.team.champions=[];
          this.team.user_id=JSON.parse(localStorage.getItem('userData')).id;
          this.items.map(element=>{
            let obj={
                champion_id:null,
                three_stars:null,
                position:null,
                item1:null,
                item2:null,
                item3:null,
            }
            if(element.champion!=null){
              obj.champion_id=element.champion.id;
              obj.position=element.local;
              obj.three_stars=element.start_3;
              if(element.item.length>0){
                obj.item1=element.item[0]!=undefined ? element.item[0].id : null;
                obj.item2=element.item[1]!=undefined ? element.item[1].id : null;
                obj.item3=element.item[2]!=undefined ? element.item[2].id : null;
              }
               this.team.champions.push(obj);
            }

          })
          const action ='admin/team/add'
          const response = await this.$store.dispatch(action,
          {
            form:this.team,
          })
          if (response.code === 200) {
            const mess='Thêm Thành Công'
            this.$showSuccess(mess)
            this.$router.push('/admin/teams')
          } else {
            this.$showError(response.message)
          }
        }else {
            this.$showError(this.errors.all()[0]);
        }
      });
    },

    checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    },
     onScroll () {
      this.scrollInvoked++
    },
    cancel(){
        this.$router.push('/admin/teams')
    }

  }
};
</script>

<style>
 .tooltip-card{
  z-index: 100;
  background: chartreuse;
}
</style>
