<template>
    <v-card>
     <v-card-title class="white--text" :style="$colorTitlePage" >Trang Quản Lý Đội Hình Đề Cử</v-card-title>
    <v-data-table
      :headers="headers"
      :items="listTeams"
      class="elevation-1  px-sm-3"
      :disable-sort="true"
      hide-default-footer
      :page.sync="page"
      :items-per-page="itemsPerPage"
      @page-count="pageCount = $event"
    >
      <template v-slot:top> 
        <v-toolbar flat  class="mb-1">
          <v-toolbar-title>Danh Sách Đội Hình</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="paginationParams.search_text"
            label="Tìm Kiếm"
            single-line
            hide-details
            append-icon="mdi-magnify"
            @click:append="loadTeams"
            @keyup.enter="loadTeams"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark small class="mb-2" @click="addTeams">
            <v-icon>mdi-plus</v-icon>Thêm Đội Hình
          </v-btn>
        </v-toolbar >
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn link :to="{name:'admin-teams-id',params:{id:item.id}}" x-small fab  class="mr-sm-1" color="primary">
          <v-icon dark >$edit</v-icon>
        </v-btn>
        <v-btn x-small fab color="red"  @click="deleteTeams(item)">
            <v-icon color="white">$delete</v-icon>
        </v-btn>
      </template>
      <template v-slot:item.champions="{item}">
          <div class="d-flex flex-row justify-start my-2">
              <div class="box-champions" v-for="(champ,index) in item.champions" :key="index">
                  <img class="img-box" :src="$getFileUrl(champ.avatar)" alt="" :style="'border:2px solid'+getPrice(champ)">
                  <div class="start-box" v-if="champ.pivot.three_stars==1">★★★</div>
                  <div class="items-box justify-center">
                      <img v-if="champ.pivot.item1!=null" :src="$getFileUrl(getItemById(champ.pivot.item1))" class="" alt="">
                      <img v-if="champ.pivot.item2!=null" :src="$getFileUrl(getItemById(champ.pivot.item2))" class="" alt="">
                      <img v-if="champ.pivot.item3!=null" :src="$getFileUrl(getItemById(champ.pivot.item3))" class="" alt="">
                  </div>
              </div>
          </div>
      </template>
      <template v-slot:item.rated="{item}" >
          <v-chip :color="getColor(item)" class="text-uppercase white--text">{{item.rated}}</v-chip>
      </template>
      <template v-slot:item.advanced_items_count="{item}" class="text-center">
       <v-chip>{{item.advanced_items_count==0 ?item.advanced_items_count : item.advanced_items_count -1 }}</v-chip>
      </template>
      <template v-slot:item.avatar="{item}">
        <img :src="$getFileUrl(item.avatar)" class="img-avatar" alt="">
      </template>
      <template v-slot:no-data>{{ 'No_data' }}</template>
    </v-data-table>
    <v-row class="text-center p-3">
      <v-col cols="12" sm="3" md="3">
        <v-select class="ml-3"
          :items="perPageItems"
          v-model="itemsPerPage"
          outlined
          dense 
          @change="itemsPerPage = parseInt($event, 10)"
        ></v-select>
      </v-col>
      <v-col cols="12" sm="9" md="9">
         <v-pagination class="justify-end" v-model="page" :length="pageCount"></v-pagination>
      </v-col>
    </v-row>
    <!-- modal -->
    <edit-modal></edit-modal>
  </v-card>
</template>

<script>
import EditModal from '~/components/admin/items/editBaseItem'

export default {
  components: { EditModal },
  layout:'admin',
  data() {
    return {
      paginationParams: {
      search_text: '',
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 5,
      items: [],
      listTeams:[],
      perPageItems: [5,10,20],
      loading: true
    }
  },
  computed: {
    loadingText() {
      return this.$t('Loading') + ' ...'
    },
    headers() {
      return [
        { text: 'Tên Đội Hình', value: 'name' },
        { text: 'Xếp Hạng', value: 'rated', align:'center' },
        { text: 'Danh Sách Tướng', value: 'champions' },
        { text: 'Tùy Chỉnh', value: 'action', sortable: false }
      ]
    },
    statusEditModal() {
      return this.$store.getters['admin/item/statusEditModal']
    }
  },
  created() {
    this.loadItems();
    this.loadTeams()
  },
  methods: {
     async loadTeams() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/team/loadList',{
          params:this.paginationParams,
          type:"advanced-item"
        }
      )
      if (200 === response.code) {
        this.listTeams = response.data

        this.loading = false
      }else{
        this.$showError(response.message);
      }
    },
    async loadItems() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/item/loadList',{
          params:{},
          type:"advanced-item"
        }
      )
      if (200 === response.code) {
        this.items = response.data
        this.loading = false
      }else{
        this.$showError(response.message);
      }
    },

  getItemById(id){
     let nameImg=''
     if(this.items.length>0){
       this.items.map(element=>{
          if(element.id==id){
            nameImg+=element.avatar
          }
        })
     } 
     return nameImg
    },


    addTeams() {
      this.$router.push('/admin/teams/add-team');
    },

    deleteTeams(item) {
      swal({
        title: 'Bạn có chắc chắn không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          // call api delete user
          const response = await this.$store.dispatch(
            'admin/team/delete',
             {
              id:item.id,
            }
          )
          if (200 === response.code) {
            this.loadTeams();
            this.$showSuccess('Xóa Thành Công')
          } else {
            this.$showError(response.message)
          }
        }
      })
    },
    getColor(item){
      switch(item.rated) {
        case 's':
          return 'red lighten-1'
          break;
        case 'a':
          return 'orange lighten-1'
          break;
        case 'b':
          return 'green'
          break;
        case 'c':
          return 'pink lighten-1'
          break;
        default:
          return'gray'
      }
    },
    getPrice(item){
      switch(item.price) {
        case 1:
          return 'black'
          break;
        case 2:
          return '#156831'
          break;
        case 3:
          return '#12407c'
          break;
        case 4:
          return '#893088'
          break;
        default:
          return'#b89d27'
      }
    },
    checkUseTypes(value){
        let str='';
        const arr= this.$usesTypes;
        arr.map(element =>{
            if(value==element.value){
                str+=''+element.name
            }
        })
        return str;
    }
  }
}
</script>