<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="5" md="4" xl="3">
      <v-card class="elevation-12 mx-md-5">
        <span class="login-form-title">
          Welcome
        </span>
        <img :src="$getFileUrl('avatar-login.png')" class="img-login" alt="">

        <v-form class="login-form">
          <v-card-text >
            <v-text-field
              type="text"
              name="email"
              v-model="form.email"
              label="Email"
              data-vv-as="Email"
              v-validate="'required|email'"
              @keyup.enter="login"
              color="#1E88E5"
              prepend-icon="mdi-account-circle"
            />

            <v-text-field
              :append-icon="showPassword ? 'mdi-eye' :'mdi-eye-off'"
              :type="showPassword ? 'text': 'password'"
              v-model="form.password"
              label="Password"
              name="password"
              data-vv-as="Password"
              v-validate="'required'"
              @click:append="showPassword=!showPassword"
              @keyup.enter="login"
              color="#1E88E5"
              prepend-icon="mdi-pencil-circle"
            />
            <div class="d-flex flex-row justify-space-around">
                <v-checkbox  v-model="form.remeber_user" :true-value="1" :false-value="0" class="mt-sm-0 check-login" dense label="Nhớ tài khoản">
                </v-checkbox>
                <span @click="$router.push('users/forgot-password')"  class="text forgot-link" style="cursor:pointer">Quên mật khẩu ?</span>
            </div>
          </v-card-text>
          <v-card-actions class="justify-space">
            <v-btn @click="login" rounded class="btn-login">ĐĂNG NHẬP</v-btn>
          </v-card-actions>
          <div @click="$router.push('users/register')" class="text-center text-footer" style="cursor:pointer">
						Tạo Tài Khoản Mới ?
					</div>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  components:{
    // ForgotPasswModal,
  },
  layout: 'none_sidebar_home',
  props: {
    source: String
  },
  data() {
    return {
      form: {
        email: null,
        password: null,
        remeber_user:0

      },
      showPassword:false,
    }
  },
  created(){
    let temp= localStorage.getItem('remeber_user')
    if(temp==1){
      this.form.password=localStorage.password_user
      this.form.email=localStorage.email_user
      this.form.remeber_user=1
    }else{
      localStorage.removeItem('password');
      localStorage.removeItem('email');
      this.form.password=null;
      this.form.email=null;
      this.form.remeber_user=0;
    }
  },
  methods: {
    login() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          const response = await this.$store.dispatch('admin/auth/loginHome', this.form)
          if (response.data.code === 200) {
            if (typeof response.data!= 'undefined') {
              this.$saveLoginHomeUserInformation(response.data);
               this.$store.commit('admin/auth/SET_NAME_USER_HOME', response.data.data.name);
              this.$showSuccess('Đăng Nhập Thành Công')
              if(localStorage.getItem('id_post')!='null'){
                this.$router.push({name:'posts-id', params:{id:localStorage.getItem('id_post')}})
              }else{
                this.$router.push('/posts');
              }

            }
          } else {
            this.$showError(response.data.message)
          }
        } else {
           this.$showError(this.errors.all()[0]);
        }
      })
    },
    openForgotModal() {
      this.$store.commit('auth/SET_STATUS_EDIT_MODAL', true);

    },
  }
}
</script>

