<template>
     <div>
         <v-row>
              <v-col cols="12" sm="3" md="3" lg="3" style="border-right:1px solid #fff">
                   <div class="new-post" style="background-color:#0d202b !important;" > 
                    <span class="title"></span>
                    <v-divider class="my-1 mb-5" color="#fff"></v-divider>
                    <div class="box-version mx-1 mb-7">
                         <h2>Thông Tin Tộc Tướng</h2>
                    </div>
                     <v-text-field @keyup.enter="getClass" v-model="search_text" label="Tìm Kiếm"  prepend-inner-icon="mdi-magnify" outlined dense hide-details placeholder="Mời bạn tìm kiếm!"  dark="" class="my-2 mb-5 mx-1"></v-text-field>
                   </div>
              </v-col>
              <v-col cols="8" sm="9" md="9" lg="9" class="px-0 mx-0">
                   <div class="new-post mx-2" style="background-color:#0d202b !important;">
                        <span class="title"><v-icon color="white" class="mx-2 mb-1">mdi-book-open-page-variant</v-icon>Danh Sách Tộc Tướng</span>
                        <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                        <div class="box-classes-with">
                            <div  class="mb-2 text-left" v-if="classes !=null">
                                <span class="font-weight-light white--text ">Có {{classes.length}} tộc tướng được tìm thấy</span>
                            </div>
                            <v-simple-table  class="table-custom-1" dark="">
                                <template v-slot:default>
                                    <thead >
                                    <tr>
                                        <th class="item-class-name text-left">Tộc Tướng</th>
                                        <th class="item-class-info text-left">
                                            Chi Tiết
                                        </th>
                                        <th>
                                            Danh Sách Tướng
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr  v-for="(i,index) in classes" :key="index">
                                        <td class="text-left">
                                            <div class="d-flex flex-row justify-start"> 
                                                <img :src="$getFileUrl(i.avatar)" alt="" style="width:30px; height:30px">
                                                <span class="mt-2 ml-2">{{i.name}}</span>
                                            </div>
                                            
                                        </td>
                                        <td class="text-left">
                                            {{i.skill}}
                                            <div class="cl-combination mt-2">
                                                <div class="d-flex flex-row justify-start" v-for="(comb,index) in i.combination_rates" :key="index">
                                                    <span :style="'background-color:'+getColorByIndex(index)" class="mr-2 text-comb">{{comb.combination}}</span> <span class="mt-1">{{comb.content}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="display:inline-block">
                                                <div v-for='champ in i.champions' :key="champ.id" style="display:inline-block">
                                                     <v-tooltip top :tag="'div'" nudge-top="-5" color="#000"   class="p-0 tooltip" style="opacity:1.0 !important " open-on-hover allow-overflow >
                                                       <template v-slot:activator="{ on }">
                                                            <img v-on="on" :src="$getFileUrl(champ.avatar)" alt="" class="img-35px">
                                                       </template>
                                                       <div class="tooltip-champions">     
                                                            <div class="d-flex flex-row justify-start">
                                                                 <div class="tool-image-name">
                                                                      <v-img  :src="$getFileUrl(champ.avatar)" class="mt-1 img-tool" :style="'border:2px solid'+getPrice(champ)"></v-img>
                                                                      <span class="font-weight-bold pt-1 mb-1">{{champ.name}}</span>
                                                                 </div>
                                                                 <div class="tool-class">
                                                                      <div v-for="cl in champ.classes" :key="cl.id" class="d-flex flex-row justify-start mt-1 ml-0 pl-0">
                                                                           <img :src="$getFileUrl(cl.avatar)" style="width:25px;height:25px; border:1px solid gray; border-radius:50%">
                                                                           <span class="font-weight-bold mt-sm-1 ml-1">{{cl.name}}</span>
                                                                      </div>
                                                                 </div>
                                                                 <div class="tool-price">
                                                                      <span>{{champ.price}} $</span>
                                                                 </div>
                                                                 
                                                            </div>
                                                            <div class="d-flex flex-row justify-space-around tool-items">
                                                                 <span class="font-weight-bold">Trang Bị: </span>
                                                                 <img  v-for="(aditem,index) in champ.advanced_items" :key="index" :src="$getFileUrl(aditem.avatar)">
                                                            </div>
                                                       </div>
                                                     </v-tooltip>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </div>
                   </div>
              </v-col>
         </v-row>
     </div>
</template>
<script>
export default {
    data:function(){
        return {
            search_text:null,
        }
    },
    created(){
        this.getClass();
    },
    computed:{
        classes(){
            let arr=this.$store.getters['home/database/listClassWithChampions'];
            let arrClass=[];
             if(arr!=null){
                    arr.map(element=>{
                         if(element.type==1){
                         arrClass.push(element);
                         }
                    })
               }
            return arrClass;
        }
    },
    methods:{
        getClass(){
            this.$store.dispatch('home/database/getClassWithChampions', {params:{search_text:this.search_text}});
        },
        getColorByIndex(index){
            switch(index){
                case 0:
                    return '#945305';
                    break;
                case 1:
                    return 'gray';
                    break;
                case 2:
                    return '#9C9900';
                    break;
                default:
                    return '#EB7153'
            }
        },
           getColor(item){
               switch(item.rated) {
               case 's':
                    return '#DD0000'
                    break;
               case 'a':
                    return '#DAA520'
                    break;
               case 'b':
                    return 'green'
                    break;
               case 'c':
                    return '#0000CC'
                    break;
               default:
                    return'gray'
               }
          },
          getPrice(item){
          switch(item.price) {
          case 1:
               return '#000'
               break;
          case 2:
               return '#156831'
               break;
          case 3:
               return '#12407c'
               break;
          case 4:
               return '#893088'
               break;
          default:
               return'#b89d27'
          }
          },

    }
}
</script>