<template>
    <div>
        <v-row>
            <v-col cols="12">
                <v-card color="#203744">
                    <div class="list-base-items">
                        <div class="white--text title"><v-icon class="white--text mr-2 mb-1">mdi-poll</v-icon>| Xếp Hạng</div>
                        <v-divider class="my-1" color="white"></v-divider>
                        <v-tabs   color="white" background-color="#203744">
                            <v-tab  v-for="(i,index) in listType" :key="index" class="font-weight-bold white--text">
                            <v-icon left color="white">{{i.icon}}</v-icon>
                            {{i.name}}
                            </v-tab>                    
                            <v-tab-item>
                            <div class="box-show-rated pt-5 px-5" style="background-color:#203744 !important">
                                    <div class="d-flex flex-row justify-start row-item" v-for="(item,index) in champions" :key='index'>
                                        <div class="name_rated" :style="'background-color:'+getColor(item[0])">
                                            <span>{{item[0]}}</span>
                                        </div>

                                        <div class="item-rated">
                                            <div v-for="(i,ind) in  item" :key="i.id" v-if="ind>0" style='display:inline-block'>
                                                    <v-tooltip right :tag="'div'" nudge-bottom="-5" color="#000"   class="p-0 tooltip" style="opacity:1.0 !important " open-on-hover allow-overflow >
                                                    <template v-slot:activator="{ on }">
                                                        <img v-on="on" :src="$getFileUrl(i.avatar)" alt="" :style="'border:2px solid'+getPrice(i)">
                                                    </template>
                                                    <div class="tooltip-champions pa-0 ma-0">     
                                                        <div class="d-flex flex-row justify-start">
                                                            <div class="tool-image-name" >
                                                                <v-img  :src="$getFileUrl(i.avatar)" class="mt-1 img-tool" :style="'border:2px solid'+getPrice(i)"></v-img>
                                                                <span class="font-weight-bold pt-1 mb-1">{{i.name}}</span>
                                                            </div>
                                                            <div class="tool-class" >
                                                                <div v-for="cl in i.classes" :key="cl.id" class="d-flex flex-row justify-start mt-1 ml-0 pl-0">
                                                                        <img :src="$getFileUrl(cl.avatar)" style="width:25px;height:25px; border:1px solid gray; border-radius:50%">
                                                                        <span class="fon-weight-bold mt-sm-1 ml-1">{{cl.name}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="tool-price" >
                                                                <span>{{i.price}} $</span>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="d-flex flex-row justify-space-around tool-items">
                                                            <span class="font-weight-bold">Trang Bị: </span>
                                                            <img  v-for="(aditem,index) in i.advanced_items" :key="index" :src="$getFileUrl(aditem.avatar)">
                                                        </div>
                                                    </div>
                                                    </v-tooltip>
                                            </div>
                                                    
                                        </div>
                                    </div>
                                </div>
                            </v-tab-item>
                            <v-tab-item>
                                <div class="box-show-rated pt-5 px-5" style="background-color:#203744 !important">
                                    <div class="d-flex flex-row justify-start row-item" v-for="(item,index) in classes" :key='index'>
                                        <div class="name_rated" :style="'background-color:'+getColor(item[0])">
                                            <span>{{item[0]}}</span>
                                        </div>
                                        <div class="item-rated">
                                            <div v-for="(i,ind) in  item" :key="i.id" v-if="ind>0" style='display:inline-block'>
                                                <v-tooltip right :tag="'div'" nudge-top="-5" color="#000"   class="p-0 tooltip" style="opacity:1.0 !important " open-on-hover allow-overflow >
                                                    <template v-slot:activator="{ on }">
                                                        <div v-on="on" class="box-class-rated">
                                                            <img  :src="$getFileUrl(i.avatar)" alt="" :style="'border:2px solid'+getPrice(i)">
                                                            <div class="name-class">{{i.name}}</div>
                                                        </div>
                                                    </template>
                                                    <div class="tooltip-champions">
                                                        <div class="d-flex flex-row justify-start" style="border-bottom:1px solid #fff">
                                                            <img :src="$getFileUrl(i.avatar)" alt=""  class="img-box-35"> 
                                                            <v-divider class="white mx-3" vertical></v-divider>
                                                            <div class="font-weight-bold font-14">{{i.name}}</div>
                                                        </div>
                                                        <div class="mt-1 mb-1">
                                                            <span>{{i.skill}}</span>
                                                            <div v-for="comb in i.combination_rates" :key="comb.id" class="mt-2">
                                                                <v-chip small class="px-2 font-weight-bold mr-1">{{comb.combination}}</v-chip> <span>{{comb.content}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </v-tooltip>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </v-tab-item>
                            <v-tab-item>
                                <div class="box-show-rated pt-5 px-5" style="background-color:#203744 !important">
                                    <div class="d-flex flex-row justify-start row-item" v-for="(item,index) in origins" :key='index'>
                                        <div class="name_rated" :style="'background-color:'+getColor(item[0])">
                                            <span>{{item[0]}}</span>
                                        </div>
                                        <div class="item-rated">
                                            <div v-for="(i,ind) in  item" :key="i.id" v-if="ind>0" style='display:inline-block'>
                                                <v-tooltip right :tag="'div'" nudge-top="-5" color="#000"   class="p-0 tooltip" style="opacity:1.0 !important " open-on-hover allow-overflow >
                                                    <template v-slot:activator="{ on }">
                                                        <div v-on="on" class="box-class-rated">
                                                            <img  :src="$getFileUrl(i.avatar)" alt="" :style="'border:2px solid'+getPrice(i)">
                                                            <div class="name-class">{{i.name}}</div>
                                                        </div>
                                                    </template>
                                                    <div class="tooltip-champions">
                                                        <div class="d-flex flex-row justify-start" style="border-bottom:1px solid #fff">
                                                            <img :src="$getFileUrl(i.avatar)" alt=""  class="img-box-35"> 
                                                            <v-divider class="white mx-3" vertical></v-divider>
                                                            <div class="font-weight-bold font-14">{{i.name}}</div>
                                                        </div>
                                                        <div class="mt-1 mb-1">
                                                            <span>{{i.skill}}</span>
                                                            <div v-for="comb in i.combination_rates" :key="comb.id" class="mt-2">
                                                                <v-chip small class="px-2 font-weight-bold mr-1">{{comb.combination}}</v-chip> <span>{{comb.content}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </v-tooltip>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </v-tab-item>
                            <v-tab-item>
                                <div class="box-show-rated pt-5 px-5" style="background-color:#203744 !important">
                                    <div class="d-flex flex-row justify-start row-item" v-for="(item,index) in adItems" :key='index'>
                                        <div class="name_rated" :style="'background-color:'+getColor(item[0])">
                                            <span>{{item[0]}}</span>
                                        </div>
                                        <div class="item-rated">
                                            <div v-for="(i,ind) in  item" :key="i.id" v-if="ind>0" style='display:inline-block'>
                                                <v-tooltip right :tag="'div'" nudge-bottom="-5" color="#000"   class="p-0 tooltip" style="opacity:1.0 !important " open-on-hover allow-overflow >
                                                    <template v-slot:activator="{ on }">
                                                        <img v-on="on" :src="$getFileUrl(i.avatar)" alt="" :style="'border:2px solid'+getPrice(i)">
                                                    </template>
                                                    <div class="tooltip-champions" style="">
                                                        <div class="d-flex flex-row justify-start" style="border-bottom:1px solid #fff;padding:1px !important;">
                                                            <img :src="$getFileUrl(i.avatar)" alt=""  class="img-box-35" style="margin:0 !important"> 
                                                            <v-divider class="white mx-3" vertical></v-divider>
                                                            <div class="font-weight-bold font-13">{{i.name}}</div>
                                                        </div>
                                                        <div class="mt-1">
                                                            <span>{{i.uses}}</span>
                                                            <div class="d-flex flex-row justify-start mt-2">
                                                                <div class="mr-1 mt-2">Mảnh ghép:</div><img :src="$getFileUrl(ad_item.avatar)" alt="" v-for="(ad_item,index) in i.base_items" :key="index" class="mx-1 img-mini" style="width:35px; height:35px !important">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </v-tooltip>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </v-tab-item>
                        </v-tabs>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </div>      
</template>
<script>
export default {
    data(){
        return{
            listLoad:null,
            champions:null,
        }
    },
    created(){
        this.getChampions();
        this.getListByType('items');
        this.getListByType('classes');
    },
    computed:{
        listType(){
            return [
                {name: 'Vị Tướng', value:'champion',icon:'mdi-snapchat'},
                {name: 'Hệ Tướng', value:'class',icon:'mdi-chemical-weapon'},
                {name: 'Tộc Tướng', value:'origin',icon:'mdi-snowflake'},
                {name: 'Trang Bị', value:'adItems',icon:'mdi-sword-cross'},
            ]
        },
        origins(){
            let arr = this.$store.getters['home/database/listClasses'];
            let arrOrigin =[]
            if(arr!=null){
            arr.map(element=>{
                if(element.type==1){
                arrOrigin.push(element);
                }
            })
            }
            return this.checkRated(arrOrigin);
          },
        classes(){
            let arr = this.$store.getters['home/database/listClasses'];
            let arrClass =[]
            if(arr!=null){
                arr.map(element=>{
                        if(element.type==0){
                        arrClass.push(element);
                        }
                })
            }
            return this.checkRated(arrClass);
        },

        adItems(){
            let arr=this.$store.getters['home/database/listItems'];
            return this.checkRated(arr);
        }
    },
    methods:{
        getListByType(type){
               this.$store.dispatch('home/database/loadList', {type:type,params:this.isParams});
          },
         async getChampions(){
               this.listChampions=[];
                const res= await this.$store.dispatch('home/database/getChampions', {params:this.isParams});
                if(res.code==200){
                    let arr=res.data;
                    this.champions=this.checkRated(arr);
                }
           },

         getPrice(item){
          switch(item.price) {
          case 1:
               return '#000'
               break;
          case 2:
               return '#156831'
               break;
          case 3:
               return '#12407c'
               break;
          case 4:
               return '#893088'
               break;
          default:
               return'#b89d27'
          }
          },

        checkRated(arr){
            let arrResult=[['s'],['a'],['b'],['c'],['d']];
            if(arr!=null){
                arr.map(element=>{
                    switch(element.rated){
                        case 's':
                            arrResult[0].push(element);
                            break;
                        case 'a':
                            arrResult[1].push(element);
                            break;
                        case 'b':
                            arrResult[2].push(element);
                            break;
                        case 'c':
                            arrResult[3].push(element);
                            break;
                        default:
                            arrResult[4].push(element);
                    }
                })
            }
            
            return arrResult;
           
        },
        getColor(item){
               switch(item) {
               case 's':
                    return '#ff7f7f'
                    break;
               case 'a':
                    return '#ffbf7f'
                    break;
               case 'b':
                    return '#ffdf7f'
                    break;
               case 'c':
                    return '#ffff7f'
                    break;
               default:
                    return'#bfff7f'
               }
          },


    }
}
</script>