<template>
      <div>
        <v-card color="#0d202b" class="mt-5">
            <div class="list-base-items px-3 pb-5">
                <div class="white--text title"><v-icon class="white--text mr-2 mb-1">mdi-poll</v-icon>| Tỉ Lệ Roll Tướng & Vàng Chuỗi Thắng (Thua)</div>
                <v-divider class="my-1" color="white"></v-divider>
                <v-tabs  color="white" background-color="#0d202b" >
                    <v-tab style="background-color:  #0d202b !important; color:white;" v-for="(i,index) in listType" :key="index" class="font-weight-bold">
                    <v-icon left class="white--text">{{i.icon}}</v-icon>
                    {{i.name}}
                    </v-tab> 
                    <v-tab-item class="">
                        <div class="pt-9 px-7" style="background-color:#0d202b !important">
                            <v-simple-table  class="table-custom" dark="">
                                <template v-slot:default>
                                    <thead >
                                    <tr>
                                        <th>Level</th>
                                        <th class="py-1" v-for="(tamp,index) in numberChampions" :key="index">
                                        <span>Tướng {{index+1}}$ </span><br>
                                        <div class="d-flex justify-center mt-1">
                                            <span>({{tamp.value}})</span>
                                        </div>
                                        
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr  v-for="item in listRolling" :key="item.id">
                                        <td>Level {{ item.level }}</td>
                                        <td>{{ item.tier1 !=null ? item.tier1+'%':'_'}}</td>
                                        <td>{{ item.tier2 !=null ? item.tier2+'%' : '_'}}</td>
                                        <td>{{ item.tier3 !=null ? item.tier3+'%' : '_'}}</td>
                                        <td>{{ item.tier4 !=null ? item.tier4+'%' : '_'}}</td>
                                        <td>{{ item.tier5 !=null ? item.tier5+'%' : '_'}}</td>
                                    </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </div>
                        
                    </v-tab-item>
                    <v-tab-item>
                        <div style="background-color:#0d202b !important" class="pt-4 px-7">
                            <v-row >
                                <v-col cols="12" sm="6" md="6" lg='6'>
                                    <div class="box-win">
                                        <div class="mb-4">
                                            <span class="font-weight-light border-bottom white--text font-weight-bold"><v-icon small color="white">mdi-hexagon-multiple</v-icon> Bảng Kinh Nghiệm (EXP)</span>
                                        </div>
                                        <div class="d-flex flex-row justify-space-around row-box" v-for="i in listExps" :key="i.id">
                                            <span class="mr-8">
                                                {{i.name}}
                                            </span>
                                            <span class="ml-8">
                                                {{i.value}} &nbsp;(XP)
                                            </span>
                                        </div>
                                    </div>
                                </v-col>

                                <v-col cols="12" sm="6" md="6" lg='6'>
                                    <div class="box-win">
                                        <div class="mb-4">
                                            <span class="font-weight-light border-bottom white--text font-weight-bold"><v-icon small color="white">mdi-hexagon-multiple</v-icon> Bảng Chuỗi Thắng Thua</span>
                                        </div>
                                        <div class="d-flex flex-row justify-space-between row-box" v-for="i in listWins" :key="i.id">
                                            <span class="mr-8">
                                                {{i.name}}
                                            </span>
                                            <span class="ml-8">
                                                +{{i.value}} &nbsp; (Vàng)
                                            </span>
                                        </div>
                                    </div>
                                </v-col>
                            </v-row>
                        </div>
                    </v-tab-item>
                </v-tabs>
            </div>
        </v-card>
      </div>
                            
</template>
<script>
export default {
    data(){
        return {
            listRolling:null,
            numberChampions:null,
            listExps:null,
            listWins:null,
        }
    },
    created(){
        this.loadRolling();
        this.getUtilitiesByType(1);
        this.getUtilitiesByType(0);
        this.getUtilitiesByType(2);
    },
    computed:{
        listType(){
                return [
                    {name: 'Rolling (Tỉ lệ xuất hiện tướng)', value:'rolling',icon:'mdi-chemical-weapon'},
                    {name: 'Lợi Tức', value:'gold',icon:'mdi-chemical-weapon'},
                ]
             },
    },
    methods:{
        async loadRolling() {
            const response = await this.$store.dispatch('home/database/loadRolling');
            if (200 === response.code) {
                this.listRolling = response.data
            }else{
                this.$showError(response.message);
            }
        },

        async  getUtilitiesByType(numb){
            const response= await this.$store.dispatch('home/database/getByTypeUtility',
                    {params:{type:numb}});
                if(response.code==200){
                    if(numb==0){
                        this.numberChampions=response.data;
                    }else if(numb==1){
                        this.listExps=response.data;
                    }else{
                        this.listWins=response.data;
                    }
                }else{
                    this.$showError(response.message);
                }
        },

    }
    
}
</script>