<template>
    <v-card>
     <v-card-title class="white--text" :style="$colorTitlePage" >Trang Quản Lý Thông Tin Người Xem</v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1  px-sm-3"
      :disable-sort="true"
      hide-default-footer
      :page.sync="page" :search="search"
      :items-per-page="itemsPerPage"
      @page-count="pageCount = $event"
    >
      <template v-slot:top>
        <v-toolbar flat  class="mb-1">
          <v-toolbar-title>Danh Sách Trang Bị</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="search"
            label="Tìm Kiếm"
            single-line
            hide-details
            append-icon="mdi-magnify"
          ></v-text-field>
          <v-spacer></v-spacer>
        </v-toolbar >
      </template>
      <template v-slot:item.uses_type="{item}">
          <v-chip>
             + {{item.number_power}}{{checkUseTypes(item.uses_type)}}
          </v-chip>
      </template>
      <template v-slot:item.like_count="{item}" >
          <v-chip class="white--text" color="green"> {{item.like_count}}</v-chip>
      </template>
      <template v-slot:item.comments_count="{item}" class="text-center">
       <v-chip color="blue" class="white--text">{{item.comments_count}}</v-chip>
      </template>

      <template v-slot:item.avatar="{item}">
        <img v-if="item.avatar!=null" :src="$getFileUrl(item.avatar)" class="img-avatar" alt="">
        <span v-else>Chưa có</span>
      </template>

      <template v-slot:item.block_status="{item}">
         <v-btn v-if="item.block_status==1" @click="changeLockStatus(item)" color="primary" fab x-small>
            <v-icon >mdi-lock</v-icon>
        </v-btn>
        <v-btn v-else fab x-small @click="changeLockStatus(item)">
              <v-icon>mdi-lock-open-outline</v-icon>
        </v-btn>
      </template>

      <template v-slot:no-data>{{ 'No_data' }}</template>
    </v-data-table>
    <v-row class="text-center p-3">
      <v-col cols="12" sm="3" md="3">
        <v-select class="ml-3"
          :items="perPageItems"
          v-model="itemsPerPage"
          outlined
          dense
          @change="itemsPerPage = parseInt($event, 10)"
        ></v-select>
      </v-col>
      <v-col cols="12" sm="9" md="9">
         <v-pagination class="justify-end" v-model="page" :length="pageCount"></v-pagination>
      </v-col>
    </v-row>

    <!-- modal -->
    <edit-modal></edit-modal>
  </v-card>
</template>

<script>
import EditModal from '~/components/admin/items/editBaseItem'

export default {
  components: { EditModal },
  layout:'admin',
  data() {
    return {
      search:'',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      items: [

      ],
      perPageItems: [5,10,20],
      loading: true

    }
  },
  computed: {
    loadingText() {
      return this.$t('Loading') + ' ...'
    },
    headers() {
      return [
        { text: 'Tên Người Dùng', value: 'name' },
        { text: 'Hình Ảnh', value: 'avatar', align:'center' },
        { text: 'Email', value: 'email' },
        { text: 'Số Điện Thoại', value:'phone', align:'center' },
        {text:'Lượt Bình Luận',value:'comments_count', align:'center'},
        {text:'Lượt Thích',value:'like_count',align:'center'},
        { text: 'Trạng Thái', value: 'block_status', align:'center'},
      ]
    },
    statusEditModal() {
      return this.$store.getters['admin/item/statusEditModal']
    }
  },
  watch: {
    statusEditModal: function(val) {
      if (!val) {
        this.loadUsers()
      }
    }
  },
  created() {
    this.loadUsers()
  },
  methods: {
    async loadUsers() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/users/loadList')
      if (200 === response.code) {
        this.items = response.data
        this.loading = false
      }else{
        this.$showError(response.message);
        if(response.code==500){
          this.$router.push('/');
        }
      }
    },

    changePerPage() {
      this.paginationParams.page = 1 // reset to page 1
      this.loadUsers()
    },

    openEditModal() {
      this.$store.commit('admin/item/SET_STATUS_EDIT_MODAL', true)
    },

    async changeLockStatus(item) {
      const params = { id: item.id, block_status: 0 == item.block_status ? 1 : 0 }
      const response = await this.$store.dispatch(
        'admin/users/blockUser',
        {form:params}
      )
      if (200 === response.code) {
          if(item.block_status===0){
              this.$showSuccess('Đã Khóa')
          }else{
              this.$showSuccess('Đã Mở Khóa')
          }
        this.loadUsers();

      } else {
        this.$showError(this.$t('Error'))
      }
    },
  }
}
</script>

</template>
