<template>
    <v-card>
     <v-card-title class="white--text" :style="$colorTitlePage" >Trang Quản Lý Thông Tin Chung</v-card-title>
     <v-row>
        <v-col cols="12" md="10" xl="10" sm="10" class="mx-4">
            <v-card class="ml-sm-3">
                <v-card-title>
                    Tỉ Lệ Tướng Xuất Hiện (Rolling)
                </v-card-title>
                <v-divider class="mx-2 mb-4"></v-divider>
                <v-form ref="rollingForm">
                    <v-simple-table  class="mx-sm-2">
                        <template v-slot:default>
                            <thead>
                            <tr class="primary">
                                <th class="text-center" style="border:1px solid #fff"><v-icon class=" white--text">mdi-google-pages</v-icon></th>
                                <th class="text-center white--text pt-2" v-for="(tamp,index) in numberChampions" :key="index">
                                  <span>Tướng {{index+1}}$ </span><br>
                                  <!-- <span class="mt-3">( {{tamp.value}} )</span> -->
                                  <div class="d-flex justify-center">
                                    <v-text-field dense
                                     @keyup.enter="updateUtilities(tamp)" class="white text-center px-4" suffix="(đơn vị)"
                                    v-model="tamp.value" style="width:10px !important"
                                    ></v-text-field>
                                  </div>

                                </th>
                                <th class="text-center white--text">Tùy Chỉnh</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in items" :key="item.id" class="text-center ">
                                <td class="primary white--text">Level {{ item.level }}</td>
                                <td>{{ item.tier1 !=null ? item.tier1+'%':'_'}}</td>
                                <td>{{ item.tier2 !=null ? item.tier2+'%' : '_'}}</td>
                                <td>{{ item.tier3 !=null ? item.tier3+'%' : '_'}}</td>
                                <td>{{ item.tier4 !=null ? item.tier4+'%' : '_'}}</td>
                                <td>{{ item.tier5 !=null ? item.tier5+'%' : '_'}}</td>
                                <td>
                                    <v-btn fab="" x-small="" @click="editRolling(item)"
                                    color="blue"><v-icon class="white--text" small="">$edit</v-icon>
                                    </v-btn>
                                    <v-btn fab="" x-small="" @click=" deleteRolling(item)"
                                    color="red"><v-icon class="white--text" small="">$delete</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                            <tr class="text-center form" >
                                <td v-if="isAddRolling==true" class="primary">
                                    <v-text-field label="Level" type="number" class="white px-3" v-model="rolling.level"
                                    data-vv-name="level" data-vv-as="Level*"
                                    v-validate="'required|numeric|between:2,10'" >
                                    </v-text-field>
                                </td>
                                <td v-if="isAddRolling==true">
                                    <v-text-field label="Tướng 1$" type="number" v-model="rolling.tier1"
                                    data-vv-name="tier1" data-vv-as="Tướng 1$" suffix="(%)"
                                    v-validate="'numeric|between:0,100'">
                                    </v-text-field>
                                </td>
                                <td v-if="isAddRolling==true">
                                    <v-text-field label="Tướng 2$" type="number" v-model="rolling.tier2"
                                    data-vv-name="tier2" data-vv-as="Tướng 2$"  suffix="(%)"
                                    v-validate="'numeric|between:0,100'">
                                    </v-text-field>
                                </td>
                                <td v-if="isAddRolling==true">
                                    <v-text-field label="Tướng 3$" type="number" v-model="rolling.tier3"
                                    data-vv-name="tier3" data-vv-as="Tướng 3$" suffix="(%)"
                                    v-validate="'numeric|between:0,100'">
                                    </v-text-field>
                                </td>
                                <td v-if="isAddRolling==true">
                                    <v-text-field label="Tướng 4$" type="number" v-model="rolling.tier4"
                                    data-vv-name="tier4" data-vv-as="Tướng 4$" suffix="(%)"
                                    v-validate="'numeric|between:0,100'">
                                    </v-text-field>
                                </td>
                                <td v-if="isAddRolling==true">
                                    <v-text-field label="Tướng 5$" type="number" v-model="rolling.tier5"
                                    data-vv-name="tier5" data-vv-as="Tướng 5$" suffix="(%)"
                                    v-validate="'numeric|between:0,100'">
                                    </v-text-field>
                                </td>
                                <td style="min-width:100px !important" colspan="7">
                                    <v-btn fab="" @click="isAddRolling=true;isAdd=true" x-small="" color="blue"
                                    v-if="isAddRolling==false&& items.length<8">
                                        <v-icon class="white--text" small="">mdi-plus</v-icon>
                                    </v-btn>
                                    <div v-else>
                                        <v-btn v-if="isAddRolling==true" class="mb-sm-1" @click="addRolling" fab="" x-small="" color="green">
                                            <v-icon class="white--text" small="">mdi-send</v-icon>
                                        </v-btn>
                                        <v-btn v-if="isAddRolling==true" fab="" @click="clearData" x-small="" color="red">
                                            <v-icon class="white--text" small="">$delete</v-icon>
                                        </v-btn>
                                        <h5 v-if="items.length>=8&&isAddRolling==false">Phiên bản hiện tại người chơi chỉ có 9 level !</h5>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-form>

            </v-card>
        </v-col>
        <v-col cols="12" md="10" xl="10" sm="10" class="mx-4">
             <v-card class="ml-sm-3">
                <v-card-title>
                    Chuỗi Thắng Và Bảng Kinh Nghiệm
                </v-card-title>
                <v-divider class="mx-2 mb-1"></v-divider>
                <v-row>
                  <v-col class="px-2">
                    <v-card-subtitle class="ml-3 font-weight-bold mb-1">
                      Bảng Kinh Nghiệm (EXP)
                    </v-card-subtitle>
                     <div v-for="(item_epx,index) in listExps" :key="index" class="d-flex justify-space-between mx-3 mb-sm-1">
                        <v-text-field v-model="item_epx.name"
                          v-validate="'required'" dense  data-vv-name="name_exp"
                          data-vv-as="Tên Giá Trị"
                          label="Tên*:" class="mx-2 px-1"
                        ></v-text-field>
                        <v-text-field v-model="item_epx.value"
                          label="Giá Trị*:" dense="" v-validate="'required'"  suffix="(xp)"
                          class="mr-1 px-1" type="number" data-vv-name="value_exp" @keyup.enter="updateExp(item_epx, true)"
                        ></v-text-field>
                        <div style="width:110px !important">
                          <v-btn fab="" x-small="" @click="updateExp(item_epx, true)"
                            color="blue"><v-icon class="white--text" small="">$edit</v-icon>
                          </v-btn>
                          <v-btn fab="" x-small="" @click="deleteUtilities(item_epx)"
                            color="red"><v-icon class="white--text" small="">$delete</v-icon>
                          </v-btn>
                        </div>
                     </div>
                     <v-btn fab="" @click="isAddExp=true;isAdd=true" class="ml-5" x-small="" color="blue"
                        v-if="isAddExp==false&& listExps.length<8">
                          <v-icon class="white--text" small="">mdi-plus</v-icon>
                      </v-btn>
                      <h5 v-if="listExps.length>=8&&isAddExp==false" class="ml-5">Phiên bản hiện tại người chơi chỉ có 9 level !</h5>
                    <div class="d-flex justify-space-between mx-3" v-if="isAddExp">
                        <v-text-field v-model="exp.name"
                          v-validate="'required'" dense  data-vv-name="name_exp"
                          data-vv-as="Tên Giá Trị"
                          label="Tên*:" class="mx-2 px-1"
                        ></v-text-field>
                        <v-text-field v-model="exp.value"
                          label="Giá Trị*:" dense="" v-validate="'required'" suffix="(xp)"
                          class="mr-1 px-1" type="number" data-vv-name="value_exp" @keyup.enter="updateExp(exp)"
                        ></v-text-field>
                        <div style="width:110px !important">
                          <v-btn fab="" @click="updateExp(exp)" x-small="" color="green">
                            <v-icon class="white--text" small="">mdi-send</v-icon>
                          </v-btn>
                          <v-btn fab="" @click="clearDataExp"  x-small="" color="red">
                            <v-icon class="white--text" small="">$delete</v-icon>
                          </v-btn>
                        </div>
                    </div>
                  </v-col>
                  <v-col class="px-2">
                    <v-card-subtitle class="font-weight-bold ml-3 mb-1">
                      Bảng Chuỗi Thắng Thua
                    </v-card-subtitle>
                    <div v-for="(item_win,index) in listWins" :key="index" class="d-flex justify-space-between mx-3 mb-sm-1">
                        <v-text-field v-model="item_win.name"
                          v-validate="'required'" dense  data-vv-name="name_exp"
                          data-vv-as="Tên Giá Trị"
                          label="Tên*:" class="mx-2 px-1"
                        ></v-text-field>
                        <v-text-field v-model="item_win.value"
                          label="Giá Trị*:" dense="" v-validate="'required'"  suffix="(Vàng)"
                          class="mr-1 px-1" type="number" data-vv-name="value_exp" @keyup.enter="updateExp(item_win, true)"
                        ></v-text-field>
                        <div style="width:110px !important">
                          <v-btn fab="" x-small="" @click="updateExp(item_win, true)"
                            color="blue"><v-icon class="white--text" small="">$edit</v-icon>
                          </v-btn>
                          <v-btn fab="" x-small="" @click="deleteUtilities(item_win)"
                            color="red"><v-icon class="white--text" small="">$delete</v-icon>
                          </v-btn>
                        </div>
                     </div>
                     <v-btn fab="" @click="isAddWin=true;isAdd=true" class="ml-5" x-small="" color="blue"
                        v-if="isAddWin==false&& listWins.length<8">
                          <v-icon class="white--text" small="">mdi-plus</v-icon>
                      </v-btn>
                      <h5 v-if="listWins.length>=8&&isAddWin==false" class="ml-5">Bạn cần dừng lại nhé !</h5>
                    <div class="d-flex justify-space-between mx-3" v-if="isAddWin">
                        <v-text-field v-model="win.name"
                          v-validate="'required'" dense  data-vv-name="name_exp"
                          data-vv-as="Tên Giá Trị"
                          label="Tên*:" class="mx-2 px-1"
                        ></v-text-field>
                        <v-text-field v-model="win.value"
                          label="Giá Trị*:" dense="" v-validate="'required'" suffix="(Vàng)"
                          class="mr-1 px-1" type="number" data-vv-name="value_exp" @keyup.enter="updateExp(win)"
                        ></v-text-field>
                        <div style="width:110px !important">
                          <v-btn fab="" @click="updateExp(win)" x-small="" color="green">
                            <v-icon class="white--text" small="">mdi-send</v-icon>
                          </v-btn>
                          <v-btn fab="" @click="clearDataExp"  x-small="" color="red">
                            <v-icon class="white--text" small="">$delete</v-icon>
                          </v-btn>
                        </div>

                    </div>
                  </v-col>
                </v-row>
             </v-card>
        </v-col>
        <v-col cols="12" md="10" xl="10" sm="10" class="mx-4">
          <v-card class="ml-sm-3">
            <v-card-title>
                Tên Mùa Giải và Phiên Bản Hiện Hành
            </v-card-title>
            <v-divider class="mx-2 mb-1"></v-divider>
            <v-row class="mx-4">
                <v-col cols="12" md="6" xl="6" sm="6" class="px-4">
                     <v-text-field @keyup.enter="updateVersion('season')" label="Mùa Giải"
                        type="text" v-model="season.info_update" class="font-weight-bold"
                        hint="Thay đổi và nhấn Enter để lưu lại"
                        persistent-hint=""
                        data-vv-name="Mùa Giải" data-vv-as="Mùa Giải" >
                      </v-text-field>
                </v-col>
                <v-col cols="12" md="6" xl="6" sm="6" class="px-4">
                    <v-text-field @keyup.enter="updateVersion('version')"
                      label="Phiên Bản" type="text" v-model="version.info_update" class="font-weight-bold"
                      hint="Thay đổi và nhấn Enter để lưu lại"
                      persistent-hint=""
                      data-vv-name="Phiên Bản" data-vv-as="Phiên Bản Hiện Hành" suffix="Phiên Bản (Ngày Phát Hành)">
                    </v-text-field>
                </v-col>
            </v-row>
          </v-card>
        </v-col>
     </v-row>

    <edit-modal></edit-modal>
  </v-card>
</template>

<script>
import EditModal from '~/components/admin/items/editBaseItem'

export default {
  components: { EditModal },
  layout:'admin',
  data() {
    return {
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      numberChampions:[],
      listExps:[],
      listWins:[],
      isAddRolling:false,
      isAdd:false,
      isAddExp:false,
      isAddWin:false,
      rolling:{
          level:null,
          tier1:null,
          tier2:null,
          tier3:null,
          tier4:null,
          tier5:null,
          id:null,
      },
      exp:{
        name:null,
        value:null,
        type:1,
        info_update:null,
        id:null
      },
       win:{
        name:null,
        value:null,
        type:2,
        info_update:null,
        id:null
      },
      items: [
      ],
      version:'3.5 (Vô Hạn Thiên Hà - Hành Trình Mới)',
      season:'10.13 (12/6/2020)',
      perPageItems: [5,10,20],
      loading: true
    }
  },

  computed: {
    loadingText() {
      return this.$t('Loading') + ' ...'
    },
    statusEditModal() {
      return this.$store.getters['admin/item/statusEditModal']
    }
  },

  watch: {
    statusEditModal: function(val) {
      if (!val) {
        this.loadUtilities()
      }
    }
  },
  created() {
    this.isAddRolling=false;
    this.isAdd=false;
    this.loadUtilities();
    this.getNumberChampions(1);
    this.getNumberChampions(0);
    this.getNumberChampions(2);
    this.getNumberChampions(3);
  },

  methods: {
    async  getNumberChampions(numb){
        const response= await this.$store.dispatch('admin/utilities/getByTypeUtility',
        {params:{type:numb}});
        if(response.code==200){
          if(numb==0){
             this.numberChampions=response.data;
          }else if(numb==1){
            this.listExps=response.data;
          }else if(numb==2){
            this.listWins=response.data;
          }else{
            var versions=response.data;
            this.version=versions[1];
            this.season=versions[0];
          }

        }else{
            this.$showError(response.message);
        }
        },

    async loadUtilities() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/utilities/loadList',{
          type:"rolling"
        }

      )
      if (200 === response.code) {
        this.items = response.data
        this.loading = false
      }else{
        this.$showError(response.message);
        if(response.code==500){
          this.$router.push('/');
        }
      }
    },

    addRolling(){
        this.$validator.validateAll().then(async result => {
            if (result) {
            const action = this.isAdd ? 'admin/utilities/add' : 'admin/utilities/update'
            const response = await this.$store.dispatch(action,
            {
                type:"rolling",
                form:this.rolling
            })
            if (response.code === 200) {
                // this.$validator.reset();
                const mess=this.isAdd==true ? 'Thêm Thành Công':'Sửa Thành Công'
                this.$showSuccess(mess)
                this.loadUtilities();
                this.clearData();
            } else {
                    this.$showError('Level đã có tỉ lệ, Vui lòng xem lại!');
            }
            } else {
                this.$showError(this.errors.all()[0]);
            }
        })
    },

    async updateUtilities(tamp){
            const action ='admin/utilities/update'
            const response = await this.$store.dispatch(action,
            {
                type:"utilities",
                form:tamp
            })
            if (response.code === 200) {
                const mess='Sửa Thành Công'
                this.$showSuccess(mess)
                this.getNumberChampions();
            } else {
              this.$showError('Hệ Thống Lỗi')
            }
    },

    async updateVersion(nameChange){
      const action = 'admin/utilities/update';
      const response = await this.$store.dispatch(action,{
        type:"utilities",
        form: nameChange ==='version' ? this.version :this.season
      });
      if (response.code === 200) {
              const mess='Sửa Thành Công'
              this.getNumberChampions(3);
              this.$showSuccess(mess)
        } else {
          this.$showError('Hệ Thống Lỗi')
        }
    },
    async updateExp(tamp, isUpdate=false){
           const action = isUpdate==false ? 'admin/utilities/add' : 'admin/utilities/update'
          const response = await this.$store.dispatch(action,
          {
              type:"utilities",
              form:tamp
          })
          if (response.code === 200) {
                const mess=this.isAdd==true ? 'Thêm Thành Công':'Sửa Thành Công'
              this.getNumberChampions(tamp.type);
              this.$showSuccess(mess)
              this.clearDataExp();

          } else {
            this.$showError('Hệ Thống Lỗi')
          }
    },



    deleteRolling(item) {
      swal({
        title: 'Bạn có chắc chắn không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          // call api delete user
          const response = await this.$store.dispatch(
            'admin/utilities/delete',
             {
              id:item.id,
              type:'rolling'
            }
          )
          if (200 === response.code) {
            this.loadUtilities();
            this.$showSuccess('Xóa Thành Công')
          } else {
            this.$showError(response.message)
          }
        }
      })
    },

    deleteUtilities(item) {
      swal({
        title: 'Bạn có chắc chắn không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          // call api delete user
          const response = await this.$store.dispatch(
            'admin/utilities/delete',
             {
              id:item.id,
              type:'utilitis'
            }
          )
          if (200 === response.code) {
            this.getNumberChampions(item.type);
            this.$showSuccess('Xóa Thành Công')
          } else {
            this.$showError(response.message)
          }
        }
      })
    },



    editRolling(item){
        this.isAddRolling=true;
        this.isAdd=false;
         this.rolling.level=item.level;
        this.rolling.tier1=item.tier1;
        this.rolling.tier2=item.tier2;
        this.rolling.tier3=item.tier3;
        this.rolling.tier4=item.tier4;
        this.rolling.tier5=item.tier5;
        this.rolling.id=item.id;

    },

    editExp(item){
      this.isAdd=false;
      this.isAddExp=true;
      this.exp.name=item.name;
      this.exp.value=item.value;
      this.exp.id=item.id;
      this.exp.type=item.type;
    },

    clearDataExp(){
        this.exp.name=null;
        this.exp.value=null;
        this.exp.id=null;
        this.exp.type=1;
        this.exp.info_update=null;
        this.isAddExp=false;
        this.isAdd=false

        //
        this.win.name=null;
        this.win.value=null;
        this.win.id=null;
        this.win.type=2;
        this.win.info_update=null;
        this.isAddWin=false;
    },

    openEditModal() {
      this.$store.commit('admin/item/SET_STATUS_EDIT_MODAL', true)
    },
    clearData(){
        this.rolling.level=null;
        this.rolling.tier1=null;
        this.rolling.tier2=null;
        this.rolling.tier3=null;
        this.rolling.tier4=null;
        this.rolling.tier5=null;
        this.isAddRolling=false;
        this.isAdd=false
    }

  }
}
</script>

</template>
