<template>
    <v-card>
     <v-card-title class="white--text" :style="$colorTitlePage" >Trang Quản Lý Thể Loại Bài Viết</v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1  px-sm-3"
      hide-default-footer
      :page.sync="page"
      :items-per-page="itemsPerPage"
      @page-count="pageCount = $event"
    >
      <template v-slot:top>
        <v-toolbar flat  class="mb-1">
          <v-toolbar-title>Danh Sách Thể Loại</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="paginationParams.search_text"
            label="Tìm Kiếm"
            single-line
            hide-details
            append-icon="mdi-magnify"
            @click:append="loadItems"
            @keyup.enter="loadItems"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark small class="mb-2" @click="addCategory">
            <v-icon>mdi-plus</v-icon>Thêm Thể Loại
          </v-btn>
        </v-toolbar >
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn x-small fab  class="mr-sm-1" color="primary" @click="editCategory(item)">
          <v-icon dark >$edit</v-icon>
        </v-btn>
        <v-btn x-small fab color="red"  @click="deleteCategory(item)">
            <v-icon color="white">$delete</v-icon>
        </v-btn>
      </template>
      <template v-slot:item.posts="{item}">
          <v-chip>{{item.posts.length}}</v-chip>
      </template>
      <template v-slot:item.stt="{item}">
        <div v-if="items.length>0">
            {{items.indexOf(item)+1}}
        </div>
      </template>

      <template v-slot:no-data>{{ 'No_data' }}</template>
    </v-data-table>
    <v-row class="text-center p-3">
      <v-col cols="12" sm="3" md="3">
        <v-select class="ml-3"
          :items="perPageItems"
          v-model="itemsPerPage"
          outlined
          dense
          @change="itemsPerPage = parseInt($event, 10)"
        ></v-select>
      </v-col>
      <v-col cols="12" sm="9" md="9">
         <v-pagination class="justify-end" v-model="page" :length="pageCount"></v-pagination>
      </v-col>
    </v-row>

    <!-- modal -->
    <edit-modal></edit-modal>
  </v-card>
</template>

<script>
import EditModal from '~/components/admin/post/edit-category'

export default {
  components: { EditModal },
  layout:'admin',
  data() {
    return {
      paginationParams: {
      search_text: '',
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      items: [

      ],
      perPageItems: [5,10,20],
      loading: true
    }
  },
  computed: {
    loadingText() {
      return this.$t('Loading') + ' ...'
    },
    headers() {
      return [
        {text:'STT',value:'stt'},
        { text: 'Tên Thể Loại', value: 'name_category' },
        { text: 'Ghi Chú', value: 'description',},
        { text: 'Số Bài Viết Đã Thêm', value: 'posts',align:'center' },
        { text: 'Tùy Chỉnh', value: 'action', sortable: true }
      ]
    },
    statusEditModal() {
      return this.$store.getters['admin/post/statusEditModal']
    }
  },
  watch: {
    statusEditModal: function(val) {
      if (!val) {
        this.loadItems()
      }
    }
  },
  created() {
    this.loadItems()
  },
  methods: {
    async loadItems() {
      this.loading = true
      const response = await this.$store.dispatch(
        'admin/post/loadList',{
          params:this.paginationParams,
          type:"post-category"
        }

      )
      if (200 === response.code) {
        this.items = response.data

        this.loading = false
      }else{
        this.$showError(response.message);
        if(response.code==500){
          this.$router.push('/');
        }
      }
    },

    changePerPage() {
      this.paginationParams.page = 1 // reset to page 1
      this.loadItems()
    },

    openEditModal() {
      this.$store.commit('admin/post/SET_STATUS_EDIT_MODAL', true)
    },

    addCategory() {
      this.$store.commit('admin/post/SET_EDIT_CATEGORY', null)
      this.openEditModal()
    },

    editCategory(item) {
      this.$store.commit('admin/post/SET_EDIT_CATEGORY', Object.assign({}, item))
      this.openEditModal()
    },

    deleteCategory(item) {
      swal({
        title: 'Bạn có chắc chắn không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          // call api delete user
          const response = await this.$store.dispatch(
            'admin/post/delete',
             {
              id:item.id,
              type:'post-category'
            }
          )
          if (200 === response.code) {
            this.loadItems()
            this.$showSuccess('Xóa Thành Công')
          } else {
            this.$showError(response.message)
          }
        }
      })
    },
  }
}
</script>

</template>
