<template>
    <v-card>
     <v-card-title class="white--text" :style="$colorTitlePage" >Trang Quản Lý Bài Viết</v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1  px-sm-3"
      hide-default-footer
      disable-sort=""
      :page.sync="page"
      :items-per-page="itemsPerPage"
      @page-count="pageCount = $event"
    >
      <template v-slot:top>
        <v-toolbar flat  class="mb-1">
          <v-toolbar-title>Danh Sách Bài Viết</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-select
              prepend-icon="mdi-format-list-bulleted-type"
              v-model="category_id"
              :items="categories"
              item-text="name_category"
              item-value="id"  dense=""
              v-validate="'required'"
              @change="loadItems"
              data-vv-as="Thể Loại" placeholder="Mời chọn thể loại cho bài viết"
              label="Thể Loại" single-line="" hide-details=""
              data-vv-name="category" class="mt-3 mr-2" style="width:140px !important"
              :reduce="option=>option.id"
          ></v-select>
          <v-divider vertical="" class="mx-1" inset></v-divider>
          <v-text-field
            v-model="paginationParams.search_text"
            label="Tìm Kiếm"
            single-line
            hide-details
            append-icon="mdi-magnify"
            @click:append="loadItems"
            @keyup.enter="loadItems"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark small class="mb-2" @click="addPost">
            <v-icon>mdi-plus</v-icon>Thêm Bài Viết
          </v-btn>
        </v-toolbar >
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn x-small fab :disabled="item.status==1?true:false" color="primary" @click="editPost(item)">
          <v-icon dark >$edit</v-icon>
        </v-btn>
        <v-btn x-small :disabled="item.status==1?true:false" fab color="red"  @click="deletePost(item)">
            <v-icon color="white">$delete</v-icon>
        </v-btn>
        <v-btn v-on="on" x-small fab :color="item.status==0?'green':'red'" @click="posted(item)">
          <v-icon color="white">mdi-google-nearby</v-icon>
        </v-btn>
      </template>
      <template v-slot:item.category="{item}">
         <span>{{item.category.name_category}}</span>
      </template>
      <template v-slot:item.stt="{item}">
        <div v-if="items.length>0" style="max-width:10px;">
            {{items.indexOf(item)+1}}
        </div>
      </template>
       <template v-slot:item.avatar="{item}">
        <img :src="$getFileUrl(item.avatar)" width="120px" height="90px" alt="" class="mt-2">
      </template>
      <template v-slot:item.view_number="{item}">
        <v-chip color="green" class="white--text mr-1">{{item.view_number==0?item.comments_count:item.view_number }}</v-chip>
      </template>
      <template v-slot:item.comments_count="{item}">
        <v-chip color="blue" class="white--text mr-1">{{item.comments_count}}</v-chip>
      </template>
      <template v-slot:item.like_count="{item}">
        <v-chip color="gray" class="white--text mr-1">{{item.like_count}}</v-chip>
      </template>
      <template v-slot:item.title="{item}">
        <div style="width:25vw !important">
          <span class="font-weight-bold" style="font-size:16px; line-height:1.2"> {{item.title}}</span>
          <div class="text-two-line"> {{item.description}}</div>
        </div>
      </template>

      <template v-slot:no-data>{{ 'No_data' }}</template>
    </v-data-table>
    <v-row class="text-center p-3">
      <v-col cols="12" sm="3" md="3">
        <v-select class="ml-3"
          :items="perPageItems"
          v-model="itemsPerPage"
          outlined
          dense
          @change="itemsPerPage = parseInt($event, 10)"
        ></v-select>
      </v-col>
      <v-col cols="12" sm="9" md="9">
         <v-pagination class="justify-end" v-model="page" :length="pageCount"></v-pagination>
      </v-col>
    </v-row>

    <!-- modal -->
    <edit-modal></edit-modal>
  </v-card>
</template>

<script>
import EditModal from '~/components/admin/post/edit-post'

export default {
  components: { EditModal },
  layout:'admin',
  data() {
    return {
      paginationParams: {
      search_text: '',
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 5,
      items: [

      ],
      perPageItems: [5,10,20],
      loading: true,
      category_id:0,
    }
  },
  computed: {
    loadingText() {
      return this.$t('Loading') + ' ...'
    },
    headers() {
      return [
        { text: 'Ảnh Minh Họa', value: 'avatar', align:'center' },
        { text: 'Thông Tin Bài Viết', value: 'title',},
        {text:'Thể Loại',value:'category', align:'center'},
        { text: 'Lượt Xem', value: 'view_number',align:'center' },
        { text: 'Lượt Thích', value: 'like_count',align:'center' },
        { text: 'Binh Luận', value: 'comments_count',align:'center'},
         { text: 'Tùy Chỉnh', value: 'action', sortable: false }
      ]
    },
    statusEditModal() {
      return this.$store.getters['admin/post/statusEditModal1']
    },
     categories(){
        let arr= this.$store.getters['admin/post/allCategory'];
      let  obj={
            id:0,
            name_category:"Tất Cả"
        };
            if(arr !=null){
              arr.unshift(obj);
            }

          return arr;
    }
  },
  watch: {
    statusEditModal: function(val) {
      if (!val) {
        this.loadItems()
      }
    }
  },
  created() {
    this.loadItems();
    this.getAllCategory()
  },
  methods: {
      getAllCategory(){
        this.$store.dispatch('admin/post/loadAllItem',{type:'post-category'});
    },
    async loadItems() {
      this.loading = true
      let action= this.category_id!=0? 'admin/post/loadListByCategory': 'admin/post/loadList';
      const response = await this.$store.dispatch(
        action,{
          params:this.paginationParams,
          type:"post",
          id:this.category_id
        }

      )
      if (200 === response.code) {
        this.items = response.data
        this.loading = false
      }else{
        this.$showError(response.message);
        if(response.code==500){
          this.$router.push('/');
        }
      }
    },

    changePerPage() {
      this.paginationParams.page = 1 // reset to page 1
      this.loadItems()
    },

    openEditModal() {
      this.$store.commit('admin/post/SET_STATUS_EDIT_MODAL1', true)
    },

    addPost() {
      this.$store.commit('admin/post/SET_EDIT_POST', null)
      this.openEditModal()
    },

    editPost(item) {
      this.$store.commit('admin/post/SET_EDIT_POST', Object.assign({}, item))
      this.openEditModal()
    },

    deletePost(item) {
      swal({
        title: 'Bạn có chắc chắn muốn xóa không ?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
          // call api delete user
          const response = await this.$store.dispatch(
            'admin/post/delete',
             {
              id:item.id,
              type:'post'
            }
          )
          if (200 === response.code) {
            this.loadItems()
            this.$showSuccess('Xóa Thành Công')
          } else {
            this.$showError(response.message)
          }
        }
      })
    },

  async  posted(item){
     swal({
        title: item.status==0 ?'Bạn có chắc chắn đăng bài không?':'Bạn có chắc chắn muốn gỡ bài không?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(async willDelete => {
        if (willDelete) {
            let form={
                id:item.id,
                status:item.status==0 ? 1 :0
              }
            const res=await  this.$store.dispatch('admin/post/posted',{form:form} );

            if(res.code==200){
              let mess= item.status==0 ? 'Đăng Bài Thành Công':'Ghỡ Bài Thành Công'
              this.$showSuccess(mess);
              this.loadItems();
            }else{
              this.$showError(res.message);
            }
        }
      })


    }
  }
}
</script>
