<template>
    <div>
        <v-row>
            <v-col cols="12" sm="8" md="8" xl="8" class="pr-0">
                <div class="new-post" v-if="listPost.length>0">
                    <div class="d-flex flex-row justify-start text-capitalize title ma-0 pa-0">
                        <span @click="$router.push('/')" style="cursor:pointer">CẨM NANG</span>
                        <v-divider class="mx-2 my-2" color="white" vertical=""></v-divider>
                        <span class="text-uppercase">{{listPost[0].category.name_category}}</span>
                    </div>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <div class="box-post-build">
                        <div  @click="getPostByIdRoute(i.id)" v-for="(i,index) in listPost" :key="i.id">
                            <div class="d-flex flex-row justify-space-start post-category" v-if="index==0" @click="getPostByIdRoute(i.id)">
                                <img :src="$getFileUrl(i.avatar)" alt="post-category">
                                <div class="title-post">
                                    {{i.title}}
                                    <div class="description-post">
                                        {{i.description}}
                                    </div>
                                    <div class="d-flex flex-row justify-start px-3 py-1  comment-style" color="black">
                                        <div class="mr-5">
                                            <v-icon small class="mt-1">mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                        </div>
                                        <div class="mr-5" >
                                            <v-icon small class="mt-1">mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                        </div>
                                        <div>
                                            <v-icon small class="mt-1">mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div v-else>
                                <v-divider class="my-2 mx-3" color="#fff"></v-divider>
                                <div class="d-flex flex-row justify-space-start post-category-item" @click="getPostByIdRoute(i.id)">
                                    <div class="title-post">
                                        {{i.title}}
                                        <div class="description-post">
                                            {{i.description}}
                                        </div>
                                        <div class="d-flex flex-row justify-start px-3 py-1  comment-style" color="black">
                                            <div class="mr-5">
                                                <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                            </div>
                                            <div class="mr-5" >
                                                <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                            </div>
                                            <div>
                                                <v-icon small>mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                            </div>

                                        </div>
                                    </div>
                                    <img :src="$getFileUrl(i.avatar)" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-for="cate in listCategory" :key="cate.id">
                    <div class="new-post mt-3" >
                        <span class="title">Thể Loại Khác | {{cate.name_category}}</span>
                        <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                        <div class="box-post-build">
                            <div class="item-build" @click="getPostByIdRoute(i.id)" v-if="index<3" v-for="(i,index) in cate.posts" :key="i.id">
                                <img :src="$getFileUrl(i.avatar)" alt="">
                                <div class="title-post pb-1">
                                    {{i.title}}
                                </div>
                                <div class="d-flex flex-row justify-start px-2 comment-post-number" color="black">
                                    <div class="mr-4">
                                        <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                    </div>
                                    <div class="mr-4" >
                                        <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                    </div>
                                    <div>
                                        <v-icon small>mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;" class="text-right px-2 show-more">
                                <v-divider color="#fff" class="mt-2 mb-1"></v-divider>
                                <span class="btn" @click="getCategoryById(cate.id)">>> Xem Thêm</span>
                            </div>
                        </div>
                    </div>
                </div>

            </v-col>
            <v-col cols="12" sm="4" md="4" xl="4" class="px-5">
                <div class="new-post mb-3 px-0 py-0">
                    <div class="box-advan">
                        <img :src="$getFileUrl('a126.jpg')" alt="" style="width:100%; height:auto">
                    </div>
                </div>
                <div class="new-post" v-if="listPopuPost!=null">
                    <span class="title">Bài Viết Nổi Bật</span>
                    <v-divider class="my-1 mb-1" color="#fff"></v-divider>
                    <div class="box-post-hot">
                        <div class="item-hot  mt-3 mb-2" @click="getPostByIdRoute(i.id)" v-for="(i,index) in listPopuPost" :key="i.id" v-if="index<8">
                             <img :src="$getFileUrl(i.avatar)" alt="">
                             <div class="title-post">
                                {{i.title}}
                            </div>
                            <div class="d-flex flex-row justify-start mx-4 comment-post-number" color="black">
                                <div class="mr-4">
                                    <v-icon small>mdi-thumb-up</v-icon> <span>{{i.numberOfLikes}}</span>
                                </div>
                                <div class="mr-4" >
                                    <v-icon small>mdi-comment</v-icon> <span>{{i.numberOfComments}}</span>
                                </div>
                                <div>
                                    <v-icon small >mdi-eye</v-icon> <span>{{i.view_number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-post my-4 px-0 py-0">
                    <div class="box-advan">
                        <img :src="$getFileUrl('a121.jpg')" alt="" style="width:100%; height:auto">
                    </div>
                </div>
                <div class="new-post my-4 px-0 py-0">
                    <div class="box-advan">
                        <img :src="$getFileUrl('a122.jpg')" alt="" style="width:100%; height:auto">
                    </div>
                </div>
                <div class="new-post my-4 px-0 py-0">
                    <div class="box-advan">
                        <img :src="$getFileUrl('a123.jpg')" alt="" style="width:100%; height:auto">
                    </div>
                </div>
            </v-col>
        </v-row>
    </div>
</template>
<script>
export default {
    data(){
        return{
            listPost:[],
            listCategory:[],
        }
    },
    created(){
        this.getPopuPost();
        this.getPostByCategory(this.$route.params.id);
        this.getCate();
    },
    computed:{
        listPopuPost(){
             return this.$store.getters['home/posts/listPopuPost'];
        }
    },
    methods:{
        getPopuPost(){
            this.$store.dispatch('home/posts/getPopuPost');
        },
         getPostByCategory(id){
            let arrResult=[]
           this.$store.dispatch('home/posts/getPostByCategory', {id:id}).then(res=>{
                if(res.code==200){
                 this.listPost=res.data;
                }else{
                    this.$showError(res.message);
                }
           })

        },

        async  getCate(){
            this.listCategory=[];
            const res=await this.$store.dispatch('home/posts/loadListCate');
            if(res.code==200){
               let arr=res.data;
               arr.map(Element=>{
                   if(Element.id!=this.$route.params.id){
                       this.listCategory.push(Element);
                   }
               })
            }else{
                this.listCategory=[];
            }
        },

        getPostByIdRoute(id){
            this.$store.dispatch('home/posts/whatPost',{id:id});
            this.$router.push({name:'posts-id',params:{id:id}});

        },

        getCategoryById(id){
            this.$router.push({name:'posts-category-id',params:{id:id}})
        },

    }
}
</script>
