<template>
    <v-row align="center" justify="center">
        <v-col cols="12" sm="5" md="4" xl="3">
            <v-card class="elevation-12 mx-md-5">
                <span class="login-form-title text-uppercase">
                Tạo mới mật khẩu
                </span>
                <v-card-text>
                    <v-form class="login-form">
                        <v-divider class="mx-10 mt-3 mb-10 font-weight-bold"></v-divider>
                        <v-text-field
                            :append-icon="showPassword ? 'mdi-eye' :'mdi-eye-off'"
                            :type="showPassword ? 'text': 'password'"
                            v-model="form.password"
                            label="Mật khẩu mới"
                            name="password"
                            data-vv-as="Password" solo=""
                            v-validate="'required'"
                            @click:append="showPassword=!showPassword"
                            @keyup.enter="login"
                            color="#1E88E5"
                            prepend-inner-icon="mdi-pencil-circle"
                            />

                            <v-text-field
                            :append-icon="showPasswordConfirm ? 'mdi-eye' :'mdi-eye-off'"
                            :type="showPasswordConfirm ? 'text': 'password'"
                            v-model="form.password_confirmation"
                            label="Xác nhận mật khẩu mới"
                            name="confirm" solo=""
                            data-vv-as="Xác nhận mật khẩu"
                            v-validate="'required'"
                            @click:append="showPasswordConfirm=!showPasswordConfirm"
                            color="#1E88E5"
                            prepend-inner-icon="mdi-pencil-circle"
                            />
                    </v-form>
                </v-card-text>
                 <v-card-actions class="justify-space">
                    <v-btn @click="savePassword" rounded class="btn-login mb-5">Lưu Lại</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>
<script>
export default {
    layout: 'none_sidebar_home',
    data(){
        return{
            token:null,
            showPasswordConfirm:false,
            showPassword:false,

            form:{
                password:null,
                password_confirmation:null

            }
        }
    },
    created(){
        this.token=this.$route.params.token;
    },
    methods:{
        savePassword(){
             this.$validator.validateAll().then(async result => {
                if (result) {
                    if(this.form.password != this.form.password_confirmation){
                        this.$showError('Xác nhận mật khẩu sai');
                    }else{
                        const response = await this.$store.dispatch('home/database/resetPassword', {token:this.token, form:this.form})
                        if(response.code==200){
                            this.$router.push('/login');
                            this.$showSuccess('Thông báo','Mật khẩu đã cập nhật, Mời bạn đăng nhập'); 
                        }else{
                            this.$showError('Cập nhật mật khẩu thất bại');
                        }
                    }
                }else{
                    this.$showError(this.errors.all()[0]);
                }
            })
        }
    },
    
}
</script>
<style scoped>
    .login-form-title{
        font-family:sans-serif
    }
</style>